.rope {
  position: relative;
  margin-top: 10px;
  height: 320px;
  width: 80%;
  background-image: url("/assets/img/tspread.png");
  background-repeat: no-repeat;
}
#hang {
  position: relative;
  margin-top: 10px;
  height: 200px;
  width: 200px;
  background-image: url("/assets/img/newhang.gif");
  background-repeat: no-repeat;
  //animation: move-in-steps 10s infinite;
}
@keyframes move-in-steps1 {
  0% {
    left: 0;
    //background: blue;
  }
  15% {
    left: 15%;
    //background: red;
  }
}
@keyframes move-in-steps2 {
  0% {
    left: 0;
  }
  32% {
    left: 32%;
  }
}
@keyframes move-in-steps3 {
  0% {
    left: 0;
  }
  49% {
    left: 49%;
  }
}
@keyframes move-in-steps4 {
  0% {
    left: 0;
  }
  66% {
    left: 66%;
  }
}
@keyframes move-in-steps5 {
  0% {
    left: 0;
  }
  83% {
    left: 83%;
  }
}

//Logic
.ratetable th,
.ratetable td {
  // padding: 0.75rem;
  // vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: left;
  padding: 8px;
}
.ratetable thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  text-transform: none;
  letter-spacing: normal;
}
.ratetable tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.ratetable-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.ratetable-responsive > .ratetable-bordered {
  border: 0;
}

.ratetable {
  margin-bottom: 1rem;
  color: #212529;
  //min-width: 500px !important;
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}

.ratetable th {
  background: #467b97;
  border-bottom: 4px solid #eceffa;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}
.ratetable tbody tr {
  margin-bottom: 10px;
  border-bottom: 4px solid #f8f9fd;
}
.ratetable tbody tr:last-child {
  border-bottom: 0;
}
.ratetable tbody th,
.ratetable tbody td {
  border: none;
  // padding: 30px;
  font-size: 12px;
  background: #fff;
  vertical-align: middle;
}
.ratetable tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px;
}
.ratetable tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
}
.ratetable tbody td.status .active {
  background: #cff6dd;
  color: #1fa750;
}
.ratetable tbody td.status .active:after {
  background: #23bd5a;
}
.ratetable tbody td.status .waiting {
  background: #fdf5dd;
  color: #cfa00c;
}
.ratetable tbody td.status .waiting:after {
  background: #f2be1d;
}
.ratetable tbody td .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ratetable tbody td .email span {
  display: block;
}
.ratetable tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.ratetable tbody td .close span {
  font-size: 12px;
  color: #dc3545;
}

.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .checkmark:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}

/* Style the checkmark/indicator */
.checkbox-primary {
  color: #40bfc1;
}
.checkbox-primary input:checked ~ .checkmark:after {
  color: #40bfc1;
}

//dialog
// @media (min-width: 1000px)/* The minimum width of the display area, such as a browser window*/
// {
//   .modal-dialog {
//       width: 1000px;
//   }
// }
