<section class="sections" style="padding-bottom: 0px;">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="company-in-number">
          <div class="row">
            <div class="col-xs-4 branch clearfix">
              <i class="flaticon-international34"></i>

              <div class="number-info">
                <strong><span class="timer">{{ srrList.length }}</span></strong>
                <span class="facts-description">Quotations Raised</span>
              </div>
            </div>
            <!-- /.col-sm-3 -->

            <div class="col-xs-4 employee clearfix">
              <i class="flaticon-logistics31"></i>

              <div class="number-info">
                <strong><span class="timer">0</span></strong>
                <span class="facts-description">Booking Pending</span>
              </div>
            </div>
            <!-- /.col-sm-3 -->

            <div class="col-xs-4 delivery clearfix">
              <i class="flaticon-logistics20"></i>

              <div class="number-info">
                <strong><span class="timer">0</span></strong>
                <span class="facts-description">Booking Confirmed</span>
              </div>
            </div>
            <!-- /.col-sm-3 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sections">
  <div class="container">
    <div class="col-md-12 tab-style">
      <div class="col-12 text-right">
        <a routerLink="/home/new-quotation" class="btn btn-primary">New Quotation</a>
      </div>
      <div class="typography-page-tab widget" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Quotations ({{ srrList.length }})</a>
          </li>
          <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Bookings</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="home">
            <form [formGroup]="quotationForm">
              <div class="row">
                <div class="col-md-3 form-group">
                  <label class="form-label">SRR No</label>
                  <input type="text" formControlName="SRR_NO" class="form-control" placeholder="" />
                </div>
                <div class="col-md-3 form-group">
                  <label class="form-label">Customer Name</label>
                  <ng-select formControlName="CUSTOMER_NAME" class="form-control select2"
                    [(ngModel)]="selectedAttribute">
                    <ng-option value="JITEX">JITEX</ng-option>
                    <ng-option value="MASDAR TECHNICAL SUPPLIES TRADING CO.">MASDAR TECHNICAL SUPPLIES TRADING CO.
                    </ng-option>
                  </ng-select>
                </div>
                <div class="col-md-2 form-group">
                  <label class="form-label">Status</label>
                  <ng-select formControlName="STATUS" class="form-control select2">
                    <ng-option value="Requested">Requested</ng-option>
                    <ng-option value="Approved">Approved</ng-option>
                  </ng-select>
                </div>
                <div class="col-md-4">
                  <div class="mt-5 row">
                    <div class="col-md-6 text-right">
                      <button (click)="searchSRRList()" class="btn btn-outline info">Search</button>
                    </div>
                    <div class="col-md-6">
                      <button (click)="clearSRRList()" class="btn btn-outline light">Clear</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <br>
            <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
              <div [class]="isScroll ? 'force-overflow' : ''">
                <div class="card-list" *ngFor="let item of srrList">
                  <div (click)="redirectToQuotation(item.SRR_NO)" class="card-list-body">
                    <div class="row">
                      <div class="col-md-5">
                        <h5 class="text-info">{{ item.SRR_NO }}</h5>
                        <h6>{{ item.CUSTOMER_NAME }}</h6>
                        <h6>
                          No of Containers :
                          <span class="text-danger">{{
                            item.NO_OF_CONTAINERS
                            }}</span>
                        </h6>
                      </div>
                      <div class="col-md-4">
                        <label>{{ item.EFFECT_FROM | date: "mediumDate" }} -
                          {{ item.EFFECT_TO | date: "mediumDate" }}</label>
                        <br />
                        <label>Date :
                          {{ item.CREATED_DATE | date: "mediumDate" }}</label>
                      </div>
                      <div class="col-md-3 text-right">
                        <span *ngIf="item.STATUS == 'Approved'" class="badge badge-success">{{ item.STATUS }}</span>
                        <span *ngIf="item.STATUS == 'Drafted'" class="badge badge-secondary">{{ item.STATUS }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="profile">
            <table>
              <tr>
                <th>SRR No</th>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Valid From</th>
                <th>Valid To</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>RR/HA01/AEAUH/BHBAH/22/09/0001</td>
                <td>09-09-2022</td>
                <td>MASDAR TECHNICAL SUPPLIES TRADING CO.</td>
                <td>31-08-2022</td>
                <td>25-09-2022</td>
                <td>Pending</td>
                <td><i class="fa fa-edit"></i></td>
              </tr>
              <tr>
                <td>RR/HA01/SADMM/INMUN/22/08/0005</td>
                <td>18-08-2022</td>
                <td>JITEX</td>
                <td>01-08-2022</td>
                <td>31-08-2022</td>
                <td>Approved</td>
                <td><i class="fa fa-edit"></i></td>
              </tr>
              <tr>
                <td>RR/HA01/SADMM/INVTZ6/22/08/0001</td>
                <td>09-09-2022</td>
                <td>NATIONAL EST FOR AGRICULTURAL AND INDUSTRIAL</td>
                <td>31-08-2022</td>
                <td>25-09-2022</td>
                <td>Pending</td>
                <td><i class="fa fa-edit"></i></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>