<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme position-fixed h-100">
    <div class="app-brand demo logo">
        <a href="index.html">
            <img src="assets/img/logo_p.png" height="50">
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <li class="menu-item active">
            <a href="pm/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="pm/quotation-list" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Rate Requests</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="pm/mnr-request" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">M&R Requests</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">Masters</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="home/party" class="menu-link">
                        <div data-i18n="Customer Master">Customer Master</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/container" class="menu-link">
                        <div data-i18n=" container">Container</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/containerSize" class="menu-link">
                        <div data-i18n="containerSize">Container Size </div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/containerType" class="menu-link">
                        <div data-i18n="containerType">Container Type </div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/currency" class="menu-link">
                        <div data-i18n="currency">Currency</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/port" class="menu-link">
                        <div data-i18n="port">Port</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/service" class="menu-link">
                        <div data-i18n="service">Service</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/servicetype" class="menu-link">
                        <div data-i18n="servicetype">Service Type</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/unit" class="menu-link">
                        <div data-i18n="unit">Unit</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="home/vessel" class="menu-link">
                        <div data-i18n="vessel">Vessel</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="ms-3 mb-3"><a (click)="logout()" class="btn btn-light">LOGOUT USER <i title="logout"
                style="font-size: 20px" class='ms-2 bx bx-user-x'></i></a>
    </div>
</aside>