<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme position-fixed h-100">
    <div class="app-brand demo logo">
        <a href="index.html">
            <img src="assets/img/logo_p.png" height="50">
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <li class="menu-item active">
            <a href="pm/dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="pm/quotation-list" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Rate Requests</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="pm/mnr-request" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">M&R Requests</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0)" (click)="ismenu = !ismenu" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-box"></i>
                <div data-i18n="User interface">Masters</div>
            </a>
            <ul id="style-3" [class]="ismenu ? 'menu-sub d-block scrollbar' : 'menu-sub d-none scrollbar'">
                <div class="force-overflow">
                    <li class="menu-item">
                        <a href="/pm/party" class="menu-link">
                            <div data-i18n="Accordion">Customer</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/container" class="menu-link">
                            <div data-i18n="Alerts">Container</div>
                        </a>
                    </li>
                    <!-- <li class="menu-item">
                        <a href="/pm/containerSize" class="menu-link">
                            <div data-i18n="Badges">Container Size</div>
                        </a>
                    </li> -->
                    <li class="menu-item">
                        <a href="/pm/containerType" class="menu-link">
                            <div data-i18n="Buttons">Container Type</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/currency" class="menu-link">
                            <div data-i18n="Carousel">Currency</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/port" class="menu-link">
                            <div data-i18n="Collapse">Port</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/servicetype" class="menu-link">
                            <div data-i18n="Footer">Service Type</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/unit" class="menu-link">
                            <div data-i18n="List Groups">Unit</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/vessel" class="menu-link">
                            <div data-i18n="Modals">Vessel</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/voyage" class="menu-link">
                            <div data-i18n="Navbar">Voyage</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/liner" class="menu-link">
                            <div data-i18n="Navbar">Liner</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/linerService" class="menu-link">
                            <div data-i18n="Navbar">Liner Service</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="/pm/schedule" class="menu-link">
                            <div data-i18n="Navbar">Vessel Schedule</div>
                        </a>
                    </li>
                </div>
            </ul>
        </li>
    </ul>
    <div class="ms-3 mb-3"><a (click)="logout()" class="btn btn-light">LOGOUT USER <i title="logout"
                style="font-size: 20px" class='ms-2 bx bx-user-x'></i></a>
    </div>
</aside>