<section class="sections">
  <div class="container">
    <div class="row content-row">
      <div class="col-md-12">
        <div class="css-tab" role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li
              role="presentation"
              [class]="tabActive == 'SRR' ? 'active' : ''"
            >
              <!-- <a href="#srr" aria-controls="srr" role="tab" data-toggle="tab"
                ><i class="flaticon-logistics15"></i>SRR Details</a
              > -->
              <a (click)="activeTabs('SRR')" aria-controls="srr" role="tab"
                ><i class="flaticon-logistics15"></i>SRR Details</a
              >
            </li>
            <li
              role="presentation"
              [class]="tabActive == 'Container' ? 'active' : ''"
            >
              <a
                (click)="activeTabs('Container')"
                aria-controls="container"
                role="tab"
                ><i class="flaticon-logistics15"></i>Add Container</a
              >
            </li>
            <li
              role="presentation"
              [class]="tabActive == 'Commodities' ? 'active' : ''"
            >
              <a
                (click)="activeTabs('Commodities')"
                aria-controls="commodities"
                role="tab"
                ><i class="flaticon-logistics18"></i>Add Commodities</a
              >
            </li>
            <li
              role="presentation"
              [class]="tabActive == 'Rates' ? 'active' : ''"
            >
              <a (click)="activeTabs('Rates')" aria-controls="rates" role="tab"
                ><i class="flaticon-logistics16"></i>Add Rates</a
              >
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div
              role="tabpanel"
              [class]="
                tabActive == 'SRR' ? 'tab-pane active fade in' : 'tab-pane fade'
              "
              id="srr"
            >
              <div class="css-tab-content">
                <div class="content-text">
                  <form id="mainContact" [formGroup]="quotationForm">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Port Of Loading</label>
                          <select formControlName="POL" class="form-control">
                            <option selected="true" value="" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of portList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Port Of Discharge</label>
                          <select formControlName="POD" class="form-control">
                            <option selected="true" value="" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of portList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Origin ICD</label>
                          <select
                            formControlName="ORIGIN_ICD"
                            class="form-control"
                          >
                            <option selected="true" value="" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of icdList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Destination ICD</label>
                          <select
                            formControlName="DESTINATION_ICD"
                            class="form-control"
                          >
                            <option selected="true" value="" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of icdList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Service Name</label>
                          <select
                            formControlName="SERVICE_NAME"
                            class="form-control"
                          >
                            <option selected="true" value="" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of icdList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Effect From</label>
                          <input
                            formControlName="EFFECT_FROM"
                            name="email"
                            type="date"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Effect To</label>
                          <input
                            formControlName="EFFECT_TO"
                            name="email"
                            type="date"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">MTY Repo</label>
                          <select
                            formControlName="MTY_REPO"
                            class="form-control"
                          >
                            <option selected="true" value="" disabled="true">
                              --Select--
                            </option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Customer Name</label>
                          <input
                            formControlName="CUSTOMER_NAME"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Select Address</label>
                          <select
                            formControlName="ADDRESS"
                            class="form-control"
                          >
                            <option selected="true" value="" disabled="true">
                              --Select--
                            </option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Thane">Thane</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Address</label>
                          <input
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input
                            formControlName="EMAIL"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Contact</label>
                          <input
                            formControlName="CONTACT"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Shipper</label>
                          <input
                            formControlName="SHIPPER"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Consignee</label>
                          <input
                            formControlName="CONSIGNEE"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Notify Party</label>
                          <input
                            formControlName="NOTIFY_PARTY"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Brokerage Party</label>
                          <input
                            formControlName="BROKERAGE_PARTY"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Forwarder</label>
                          <input
                            formControlName="FORWARDER"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="text-right">
                      <a
                        (click)="activeTabs('Container')"
                        class="btn btn-primary"
                        >Next</a
                      >
                    </div>
                  </form>
                </div>
              </div>
              <!-- /.css-tab-content -->
            </div>
            <div
              role="tabpanel"
              [class]="
                tabActive == 'Container'
                  ? 'tab-pane active fade in'
                  : 'tab-pane fade'
              "
              id="container"
            >
              <div class="css-tab-content">
                <div class="content-text">
                  <form id="mainContact" [formGroup]="containerForm">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Place Of Receipt</label>
                          <select
                            formControlName="PLACE_OF_RECEIPT"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of portList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Place Of Delivery</label>
                          <select
                            formControlName="PLACE_OF_DELIVERY"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of portList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">TSP 1</label>
                          <select formControlName="TSP_1" class="form-control">
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of icdList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">TSP 2</label>
                          <select formControlName="TSP_2" class="form-control">
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of icdList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Container Type</label>
                          <select
                            formControlName="CONTAINER_TYPE"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of icdList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Container Size</label>
                          <select
                            formControlName="CONTAINER_SIZE"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of icdList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Service Mode</label>
                          <select
                            formControlName="SERVICE_MODE"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of icdList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">POL Free Days</label>
                          <input
                            formControlName="POL_FREE_DAYS"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">POD Free Days</label>
                          <input
                            formControlName="POD_FREE_DAYS"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Imm Volume Expected</label>
                          <input
                            formControlName="IMM_VOLUME_EXPECTED"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Total Volume Expected</label>
                          <input
                            formControlName="TOTAL_VOLUME_EXPECTED"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                  <br />
                  <div class="text-right">
                    <a (click)="onAddContainers()" class="btn btn-primary"
                      >Next</a
                    >
                  </div>
                </div>
              </div>
              <!-- /.css-tab-content -->
            </div>
            <div
              role="tabpanel"
              [class]="
                tabActive == 'Commodities'
                  ? 'tab-pane active fade in'
                  : 'tab-pane fade'
              "
              id="commodities"
            >
              <div class="css-tab-content">
                <div class="content-text">
                  <form id="mainContact" [formGroup]="commoditiesForm">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Commodity</label>
                          <select
                            formControlName="COMMODITY_NAME"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of portList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="email">Length</label>
                          <input
                            formControlName="LENGTH"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="email">Width</label>
                          <input
                            formControlName="WIDTH"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <label for="email">Height</label>
                          <input
                            formControlName="HEIGHT"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Commodity Type</label>
                          <select
                            formControlName="COMMODITY_TYPE"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option value="Normal">Normal</option>
                            <option value="Haz">Hazardous</option>
                            <option value="FlexiBag">Flexi Bag</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Remarks</label>
                          <input
                            formControlName="REMARKS"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                  <br />
                  <div class="text-right">
                    <a (click)="onAddCommodities()" class="btn btn-primary"
                      >Add</a
                    >
                  </div>
                  <br />
                  <div class="table-wrapper" *ngIf="commodityList.length > 0">
                    <table class="fl-table">
                      <thead>
                        <tr>
                          <th>Sr. No</th>
                          <th>Commodity</th>
                          <th>Length-Width-Height</th>
                          <th>Commodity Type</th>
                          <th>Remarks</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of commodityList; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ item.COMMODITY_NAME }}</td>
                          <td>
                            {{ item.LENGTH }} - {{ item.WIDTH }} -
                            {{ item.HEIGHT }}
                          </td>
                          <td>{{ item.COMMODITY_TYPE }}</td>
                          <td>{{ item.REMARKS }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br />
                  <div class="text-right" *ngIf="commodityList.length > 0">
                    <a (click)="activeTabs('Rates')" class="btn btn-primary"
                      >Next</a
                    >
                  </div>
                </div>
              </div>
              <!-- /.css-tab-content -->
            </div>
            <div
              role="tabpanel"
              [class]="
                tabActive == 'Rates'
                  ? 'tab-pane active fade in'
                  : 'tab-pane fade'
              "
              id="rates"
            >
              <div class="css-tab-content">
                <div class="content-text">
                  <form id="mainContact" [formGroup]="ratesForm">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="name">Charge Code</label>
                          <select
                            formControlName="CHARGE_CODE"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option
                              *ngFor="let item of portList"
                              value="{{ item.CODE }}"
                            >
                              {{ item.CODE_DESC }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">POL/POD</label>
                          <select
                            formControlName="TRANSPORT_TYPE"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option value="POL">POL</option>
                            <option value="POD">POD</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Currency</label>
                          <select
                            formControlName="CURRENCY"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option value="INR">INR</option>
                            <option value="USD">USD</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Payment Term</label>
                          <select
                            formControlName="PAYMENT_TERM"
                            class="form-control"
                          >
                            <option selected="true" disabled="true">
                              --Select--
                            </option>
                            <option value="Prepaid">Prepaid</option>
                            <option value="Collect">Collect</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Standard Rate</label>
                          <input
                            formControlName="STANDARD_RATE"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Requested Rate</label>
                          <input
                            formControlName="RATE_REQUESTED"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">Remarks</label>
                          <input
                            formControlName="REMARKS"
                            name="email"
                            type="text"
                            class="form-control"
                            required=""
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                  <br />
                  <div class="text-right">
                    <a (click)="onAddRates()" class="btn btn-primary">Add</a>
                  </div>
                  <br />
                  <div class="table-wrapper" *ngIf="rateList.length > 0">
                    <table class="fl-table">
                      <thead>
                        <tr>
                          <th>Sr. No</th>
                          <th>Charge Code</th>
                          <th>Currency</th>
                          <th>Payment Term</th>
                          <th>Standard Rate</th>
                          <th>Requested Rate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of rateList; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ item.CHARGE_CODE }}</td>
                          <td>{{ item.CURRENCY }}</td>
                          <td>{{ item.PAYMENT_TERM }}</td>
                          <td>{{ item.STANDARD_RATE }}</td>
                          <td>{{ item.RATE_REQUESTED }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br />
                  <div class="text-right" *ngIf="rateList.length > 0">
                    <a (click)="insertQuotation()" class="btn btn-primary"
                      >Save</a
                    >
                  </div>
                </div>
              </div>
              <!-- /.css-tab-content -->
            </div>
          </div>
        </div>
        <!-- /.css-tab -->
      </div>
      <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
