<div class="section-title">
    <h2>Invoice List</h2>
</div>
<div class="container">
    <form class="mx-5" [formGroup]="filterForm">
        <div class="col-md-6 offset-md-6 text-end">
            <button class="form-btn-primary" routerLink="/home/operations/new-invoice"><i
                    class="fa fa-plus me-1"></i>New
                Invoice</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Invoice No</label>
                    <input formControlName="INVOICE_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">From Date</label>
                    <input formControlName="FROM_DATE" (change)="filterForm.get('TO_DATE')?.setValue('')"
                        onkeypress="return false" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">To Date</label>
                    <input formControlName="TO_DATE" onkeypress="return false"
                        [min]="filterForm.get('FROM_DATE')?.value" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2" (click)="Search()">Search</button>
                <button class="form-btn-light" (click)="Clear()">Clear</button>
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="ratetable" id="data-table-config">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Invoice No</th>
                    <th>Name</th>
                    <th>BL No</th>
                    <th>Invoice Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of invoiceList;let i = index">
                    <td>No</td>
                    <td>Invoice No</td>
                    <td>Name</td>
                    <td>BL No</td>
                    <td>Invoice Date</td>
                    <td>Action</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>