<div class="section-title">
    <h2>Invoice Generation</h2>
</div>
<div class="container">
    <a routerLink="/home/operations/invoice-list"><i class='bx bx-arrow-back'></i>Back to List</a>
    <div class="col-md-8 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="invoiceForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label2">BL No<span class="text-danger">
                                        *</span></label>
                                <input formControlName="BL_NO" type="text" class="form-control2" />
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <button [disabled]="isLoading" (click)="getBLDetails()"
                                class="form-btn-success btn-sm rounded-pill">Get BL
                                Details <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
                        </div>
                    </div>
                    <div class="row" *ngIf="isBL">
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label class="d-block">Invoice Type<span class="text-danger">
                                        *</span></label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="INVOICE_TYPE"
                                        id="inlineRadio1" value="L">
                                    <label class="form-check-label" for="inlineRadio1">Import</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="INVOICE_TYPE"
                                        id="inlineRadio2" value="F">
                                    <label class="form-check-label" for="inlineRadio2">Export</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="form-group">
                                <label class="d-block">Charge Type<span class="text-danger">
                                        *</span></label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="CHARGE_TYPE"
                                        id="inlineRadio1" value="L">
                                    <label class="form-check-label" for="inlineRadio1">Local</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" formControlName="CHARGE_TYPE"
                                        id="inlineRadio2" value="F">
                                    <label class="form-check-label" for="inlineRadio2">Freight</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label2">Container Type<span class="text-danger">
                                        *</span></label>
                                <select class="form-control2" formControlName="CONTAINER_TYPE">
                                    <option value="" selected="true" disabled>--Select--</option>
                                    <option *ngFor="let item of containerTypeList" value="{{item}}">
                                        {{item}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto mb-3 text-end" *ngIf="isBL">
                        <button [disabled]="isLoading2" (click)="getInvoice()" class="form-btn-primary w-100">Get
                            Invoice
                            <span *ngIf="isLoading2" class="fa fa-spinner fa-spin"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>