/*Timeline*/
.timeline {
  position: relative;
  margin: 10px auto;
  padding: 40px 0;
  width: 100%;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 98%;
  background-color: #e4e4e4;
}

.timeline ul li:hover .time {
  transform: scale(1.1);
}

/*Elementos de lista*/
.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

/*Circulo indicador*/
.timeline ul li::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 10px;
  height: 10px;
  background-color: #7db4b5;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(125, 180, 181, 0.2);
}

.timeline ul li:nth-child(odd)::before {
  right: -6px;
}

.timeline ul li:nth-child(even)::before {
  left: -4px;
}

.timeline ul li:hover::before {
  transform: scale(1.5);
}

/*Fecha*/
.time {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  padding: 11px 10px 2px;
  margin-bottom: 15px;
  background-color: #e0eff1;
  color: #680148;
  border-radius: 20px;
  box-shadow: 0 0 0 3px rgba(125, 180, 181, 0.2);
}

/*Contenido*/
.content {
  padding-bottom: 20px;
}

.timeline ul li h2 {
  font-weight: 500;
  color: #7db4b5;
}

.timeline ul li p {
  margin: 10px 0;
  font-weight: 300;
}

.flaticon-boat29:before {
  content: "\e006";
  font-size: 30px;
  color: #008cffdd;
  font-weight: 700;
}

.icon {
  font-size: 20px;
  color: #008cffdd;
  font-weight: 700;
  margin-right: 5px;
}
