<section class="sections">
    <div class="container">
        <h2 class="text-center mt-1">Container Tracking</h2>
        <div class="card">
            <div class="card-body">
                <div class="timeline">
                    <ul>
                        <li>
                            <div class="content">
                                <div>
                                    <img src="../../../assets/img/red-marker.gif" style="width: 32px;
                                    position: absolute;
                                    right: -17px;top: 19px;" />
                                </div>
                                <div class="time">
                                    <h5>13 April, 2022</h5>
                                </div>
                                <h4>Chennai/Chennai International Terminals Pvt Ltd (CITPL) - Export | 13 Days</h4>
                                <p><i class="flaticon-boat29"></i>PORT OUT | 13 April, 2022
                                </p>
                                <p><i class="fa fa-truck icon"></i>PORT IN | 13 March, 2022
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <div class="time">
                                    <h5>13 March, 2022</h5>
                                </div>
                                <h4>CPT, Chennai</h4>
                                <h6>Chennai/Chennai Port Zero Gate</h6>
                                <p><i class="fa fa-truck icon"></i>GATE CROSSED | 13 March, 2022
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <div class="time">
                                    <h5>13 March, 2022</h5>
                                </div>
                                <h4>Chennai/Gateway Distriparks CFS, Chennai | 7 Days</h4>
                                <p><i class="fa fa-truck icon"></i>CFS OUT | 13 March, 2022
                                </p>
                                <p><i class="fa fa-truck icon"></i>CFS IN | 13 March, 2022
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <div class="time">
                                    <h5>13 March, 2022</h5>
                                </div>
                                <h4>Chennai/Continental Warehousing Corporation CFS (Nhava Seva), Chennai</h4>
                                <p><i class="fa fa-truck icon"></i>CFS IN | 22 March, 2022
                                </p>
                                <p><i class="fa fa-truck icon"></i>CFS OUT | 18 March, 2022
                                </p>
                                <p><i class="fa fa-truck icon"></i>CFS IN | 14 March, 2022
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <div class="time">
                                    <h5>14 March, 2022</h5>
                                </div>
                                <h4>CPT, Chennai</h4>
                                <h6>Chennai/Chennai Port Zero Gate</h6>
                                <p><i class="fa fa-truck icon"></i>GATE CROSSED | 14 March, 2022
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="content">
                                <div class="time">
                                    <h5>14 March, 2022</h5>
                                </div>
                                <h4>Chennai/Chennai International Terminals Pvt Ltd (CITPL) - Import | 18 Hr.9 Min</h4>
                                <h6>Chennai/Chennai Port Zero Gate</h6>
                                <p><i class="fa fa-truck icon"></i>PORT OUT | 14 March, 2022
                                </p>
                                <p><i class="flaticon-boat29"></i>PORT IN | 14 March, 2022
                                </p>
                            </div>
                        </li>
                        <div style="clear: both;"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>