<div class="section-title">
    <h2>New Container Movement</h2>
</div>
<div class="container" [formGroup]="cmForm">
    <span *ngIf="ismanually && submitted1 && isData" class="text-primary pointer" (click)="backTo()"><i
            class='bx bx-arrow-back'></i>Go Back</span>
    <div class="row" *ngIf="!isData">
        <div class="col-md-4">
            <div class="form-group">
                <div class="form-check form-switch">
                    <input #chck id="chck" (change)="switchToggle($event.target.checked)" class="form-check-input"
                        type="checkbox" role="switch" [checked]='ismanually' />
                    <label class="form-check-label">Enter Container No Manually</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-2 text-end">
            <button (click)="downloadFile()" class="form-btn-danger me-2">Download
                Excel Format</button>
            <button class="form-btn-primary" (click)="openUploadModal()">Upload Excel</button>
            <button class="d-none" #openBtn data-bs-toggle="modal" href="#uploadModal">Upload
                Excel</button>
            <i class="d-none" #openModalPopup data-bs-toggle="modal" href="#containerModal">
            </i>
        </div>
    </div>
    <div class="row" *ngIf="ismanually && !isData">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label2">Container No<span class="text-danger">
                        *</span>
                </label>
                <input formControlName="CONTAINER_NO" type="text" class="form-control2" />
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <button type="button" (click)="getContainerData()" class="form-btn">Get Container</button>
        </div>
    </div>
    <div class="row" *ngIf="!ismanually">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label2">CRO No<span class="text-danger">
                        *</span>
                </label>
                <input type="text" formControlName="BKCR_NO" class="form-control2" />
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <button type="button" (click)="getCMList()" class="form-btn">Get Container</button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="containerMovementList.length > 0 && submitted && !ismanually">
        <table class="ratetable" id="data-table-config">
            <thead>
                <tr>
                    <th width="1%">No.</th>
                    <th width="10%">Container</th>
                    <th width="20%">Previous Activity</th>
                    <th width="20%">Current Activity</th>
                    <th width="10%">Activity Date</th>
                    <th width="10%">Location</th>
                    <th width="20%">Status</th>
                    <th width="9%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of containerMovementList;let i=index">
                    <td width="1%">{{i + 1}}</td>
                    <td width="10%">{{item.CONTAINER_NO}}</td>
                    <td width="20%">{{item.PREV_ACT_CODE == '' || item.PREV_ACT_CODE == null ? '-' :
                        item.PREV_ACT_CODE}}
                        <span
                            *ngIf="!item.PREV_ACT_CODE == '' || !item.PREV_ACT_CODE == null">(</span>{{item.PREV_ACT_NAME}}<span
                            *ngIf="!item.PREV_ACT_CODE == '' || !item.PREV_ACT_CODE == null">)</span>
                    </td>
                    <td width="20%">{{item.CURR_ACT_CODE}} ({{item.CURR_ACT_NAME}})</td>
                    <td width="10%">{{item.ACTIVITY_DATE | date:'mediumDate'}}</td>
                    <td width="10%">{{item.LOCATION}}</td>
                    <td width="20%" class="status"><span
                            [class]="item.STATUS == 'Hold' ? 'waiting' : item.STATUS == 'Empty' ? 'countered' : item.STATUS == 'Damage' ? 'rejected' : 'active'">{{item.STATUS}}</span>
                    </td>
                    <td width="9%">
                        <i (click)="getCM(item)" class="fa fa-pencil ms-2 pointer text-success"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8 mx-auto" *ngIf="isData && submitted1 && ismanually">
        <div class="services">
            <div class="icon-box text-start">
                <form [formGroup]="containerMovementForm">
                    <h6 class="fw-bold"><span class="me-2">Container No : <small
                                class="text-danger">{{containerMovementForm.value.CONTAINER_NO}}
                            </small></span><span class="me-2">Status : <small
                                class="text-danger">{{containerMovementForm.value.STATUS1}}
                            </small></span><span class="me-2">Location : <small
                                class="text-danger">{{containerMovementForm.value.LOCATION1}}
                            </small></span><span>Date : <small
                                class="text-danger">{{containerMovementForm.value.ACTIVITY_DATE1}}
                            </small></span></h6>
                    <h6 class="fw-bold"><span>Current : <small
                                class="text-danger">{{containerMovementForm.value.CURR_ACT_NAME}}
                                ({{containerMovementForm.value.CURR_ACT_CODE2}})</small></span>
                    </h6>

                    <div class="row mt-4">
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <ng-select (change)="onchangeNextAct($event)"
                                    [ngClass]="{'invalid': updateSubmitted && f.CURR_ACT_CODE.errors}"
                                    formControlName="CURR_ACT_CODE">
                                    <ng-option value="" disabled>--Select--</ng-option>
                                    <ng-option value="{{item.NEXT_ACT_CODE}}"
                                        *ngFor="let item of containerMovementForm.value.NEXT_ACTIVITY_LIST" value="">
                                        {{item.NEXT_ACT_NAME}} ({{item.NEXT_ACT_CODE}})</ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Next Activity<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="updateSubmitted && f.CURR_ACT_CODE.errors" class="invalid-feedback">Next
                                    Activity
                                    is
                                    required</div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': updateSubmitted && f.LOCATION.errors}"
                                    formControlName="LOCATION">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of depoList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Next Location <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="updateSubmitted && f.LOCATION.errors" class="invalid-feedback">
                                    Location is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <ng-select formControlName="STATUS"
                                    [ngClass]="{'invalid': updateSubmitted && f.STATUS.errors}">
                                    <ng-option value="" disabled>--Select--</ng-option>
                                    <ng-option value="Emergency Repair">Emergency Repair</ng-option>
                                    <ng-option value="Full">Full</ng-option>
                                    <ng-option value="Empty">Empty</ng-option>
                                    <ng-option value="Damage">Damage</ng-option>
                                    <ng-option value="Hold">Hold</ng-option>
                                    <ng-option value="Awaiting Survey">Awaiting Survey</ng-option>
                                    <ng-option value="Available">Available</ng-option>
                                    <ng-option value="Awaiting Repair">Awaiting Repair</ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Status<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="updateSubmitted && f.STATUS.errors" class="invalid-feedback">Status is
                                    required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input [ngClass]="{'invalid': updateSubmitted && f.ACTIVITY_DATE.errors}" type="date"
                                    max="{{currentDate}}" formControlName="ACTIVITY_DATE" onkeypress="return false"
                                    class="form-control" />
                                <label class="form-label">Activity Date <span class="text-danger">
                                        *</span>
                                </label>
                                <div *ngIf="updateSubmitted && f.ACTIVITY_DATE.errors" class="invalid-feedback">Activity
                                    Date
                                    is
                                    required</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-md-6 mx-auto text-center">
                        <button type="button" (click)="updateMovement()" class="form-btn">Update Movement</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-5 mx-auto" *ngIf="containerMovementList.length == 0 && submitted && !ismanually">
        <h5 class="text-center">Sorry! No records found !!</h5>
        <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-md-5 mx-auto" *ngIf="!isData && submitted1 && ismanually">
        <h5 class="text-center">Sorry! No records found !!</h5>
        <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
    </div>
</div>
<div class="modal fade" id="containerModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Container Movement Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <div class="services">
                    <div class="icon-box text-start">
                        <form [formGroup]="containerMovementForm">
                            <h6 class="fw-bold"><span class="me-2">Container No : <small
                                        class="text-danger">{{containerMovementForm.value.CONTAINER_NO}}
                                    </small></span><span class="me-2">Status : <small
                                        class="text-danger">{{containerMovementForm.value.STATUS1}}
                                    </small></span><span class="me-2">Location : <small
                                        class="text-danger">{{containerMovementForm.value.LOCATION1}}
                                    </small></span><span>Date : <small
                                        class="text-danger">{{containerMovementForm.value.ACTIVITY_DATE1}}
                                    </small></span></h6>
                            <h6 class="fw-bold">
                                <span>Current : <small class="text-danger">{{containerMovementForm.value.CURR_ACT_NAME}}
                                        ({{containerMovementForm.value.CURR_ACT_CODE2}})</small></span>
                            </h6>

                            <div class="row mt-4">
                                <div class="col-md-6 mt-4">
                                    <div class="form-group">
                                        <ng-select (change)="onchangeNextAct($event)"
                                            [ngClass]="{'invalid': updateSubmitted && f.CURR_ACT_CODE.errors}"
                                            formControlName="CURR_ACT_CODE">
                                            <ng-option value="" disabled>--Select--</ng-option>
                                            <ng-option value="{{item.NEXT_ACT_CODE}}"
                                                *ngFor="let item of containerMovementForm.value.NEXT_ACTIVITY_LIST"
                                                value="">
                                                {{item.NEXT_ACT_NAME}} ({{item.NEXT_ACT_CODE}})</ng-option>
                                        </ng-select>
                                        <label class="form-label-ddl">Next Activity<span class="text-danger">
                                                *</span></label>
                                        <div *ngIf="updateSubmitted && f.CURR_ACT_CODE.errors" class="invalid-feedback">
                                            Next
                                            Activity
                                            is
                                            required</div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <div class="form-group">
                                        <ng-select [ngClass]="{'invalid': updateSubmitted && f.LOCATION.errors}"
                                            formControlName="LOCATION">
                                            <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                            <ng-option *ngFor="let item of depoList"
                                                value="{{item.CODE}}">{{item.CODE_DESC}}
                                                ({{item.CODE}})
                                            </ng-option>
                                        </ng-select>
                                        <label class="form-label-ddl">Next Location <span class="text-danger">
                                                *</span></label>
                                        <div *ngIf="updateSubmitted && f.LOCATION.errors" class="invalid-feedback">
                                            Location is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <ng-select formControlName="STATUS"
                                            [ngClass]="{'invalid': updateSubmitted && f.STATUS.errors}">
                                            <ng-option value="" disabled>--Select--</ng-option>
                                            <ng-option value="Emergency Repair">Emergency Repair</ng-option>
                                            <ng-option value="Full">Full</ng-option>
                                            <ng-option value="Empty">Empty</ng-option>
                                            <ng-option value="Damage">Damage</ng-option>
                                            <ng-option value="Hold">Hold</ng-option>
                                            <ng-option value="Awaiting Survey">Awaiting Survey</ng-option>
                                            <ng-option value="Available">Available</ng-option>
                                            <ng-option value="Awaiting Repair">Awaiting Repair</ng-option>
                                        </ng-select>
                                        <label class="form-label-ddl">Status<span class="text-danger">
                                                *</span></label>
                                        <div *ngIf="updateSubmitted && f.STATUS.errors" class="invalid-feedback">Status
                                            is
                                            required</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input [ngClass]="{'invalid': updateSubmitted && f.ACTIVITY_DATE.errors}"
                                            type="date" max="{{currentDate}}" formControlName="ACTIVITY_DATE"
                                            onkeypress="return false" class="form-control" />
                                        <label class="form-label">Activity Date <span class="text-danger">
                                                *</span>
                                        </label>
                                        <div *ngIf="updateSubmitted && f.ACTIVITY_DATE.errors" class="invalid-feedback">
                                            Activity
                                            Date
                                            is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="updateMovement()" class="form-btn">Update Movement</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="uploadModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Movement
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn1></button>
            </div>
            <div class="modal-body">
                <div class="formbold-mb-5 formbold-file-input" *ngIf="!onUpload && files.length == 0">
                    <input type="file" (change)="onFileChange($event)" name="file" id="file" />
                    <label for="file">
                        <div>
                            <h3><i class="fa fa-file-pdf-o"></i></h3>
                            <span class="formbold-drop-file">Upload</span>
                            <span class="formbold-file-item">Container Movement File</span>
                        </div>
                    </label>
                </div>
                <div class="formbold-file-list formbold-mb-5" *ngIf="onUpload && files.length > 0">
                    <div class="formbold-file-item">
                        <span class="formbold-file-name">Container Movement File</span>
                        <button (click)="onUpload = false;files=[]"><span class="bx bx-x-circle"></span></button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-5 mx-auto text-end">
                    <button (click)="openPreviewModal()" class="form-btn w-100">Upload</button>
                    <button #openModalPopup1 data-bs-toggle="modal" href="#previewModal"
                        class="form-btn w-100 d-none">Upload</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="previewModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Preview Container Movement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn2></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table-bordered ratetable" id="data-table-config1">
                        <thead>
                            <tr>
                                <th>CRO No</th>
                                <th>Container No</th>
                                <th>Activity</th>
                                <th>Activity Date</th>
                                <th>Location</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let data of cmTable">
                                <td>{{data.CRO_NO}}</td>
                                <td>{{data.CONTAINER_NO}}</td>
                                <td>{{data.ACTIVITY}}</td>
                                <td>{{data.ACTIVITY_DATE | date: 'dd/MM/yyyy'}}</td>
                                <td>{{data.LOCATION}}</td>
                                <td>{{data.STATUS}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-md-5 mx-auto text-end">
                    <button (click)="upload()" class="form-btn w-100">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>