<div class="section-title">
    <h2>DELIVERY ORDER</h2>
</div>
<div class="container">

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="blNo">
                    <label class="form-label">Bill No.</label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="form-btn me-2" (click)="getDO()">Create DO</button>
            </div>
        </div>
    </div>

    <section  class="services"  *ngIf="previewNoData">
        <div class="icon-box icon-box-cyan">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-9 text-end">
                        <h5>Sorry! No records found for the specified bill number</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="services"  *ngIf="previewDetails">
        <div class="icon-box icon-box-cyan">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="modal-title" id="exampleModalLabel">Create Delivery Order</h5>
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <form [formGroup]="splitBookingForm">
                        <div class="col-md-12">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <h6>POL : <small class="text-danger">
                                            HGFJ</small>
                                        POD :
                                        <small class="text-danger">YUHJ</small>
                                    </h6>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" [ngClass]="{'invalid': submitted && f2.VESSEL_NAME.errors}" formControlName="VESSEL_NAME"/>
                                            <label class="form-label">Vessel Name</label>
                                            <div *ngIf="submitted && f2.VESSEL_NAME.errors" class="invalid-feedback">Please enter
                                                Vessel name</div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" [ngClass]="{'invalid': submitted && f2.VOYAGE_NO.errors}" formControlName="VOYAGE_NO"/>
                                            <label class="form-label" for>Voyage No</label>
                                            <div *ngIf="submitted && f2.VOYAGE_NO.errors" class="invalid-feedback">Please enter
                                                Voyage number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" [ngClass]="{'invalid': submitted && f2.MOTHER_VESSEL_NAME.errors}" formControlName="MOTHER_VESSEL_NAME"/>
                                            <label class="form-label">Mother Vessel Name</label>
                                            <div *ngIf="submitted && f2.MOTHER_VESSEL_NAME.errors" class="invalid-feedback">Please enter
                                                Mother Vessel Name</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <input type="text" class="form-control" [ngClass]="{'invalid': submitted && f2.MOTHER_VOYAGE_NO.errors}" formControlName="MOTHER_VOYAGE_NO"/>
                                            <label class="form-label">Mother Voyage No</label>
                                            <div *ngIf="submitted && f2.MOTHER_VOYAGE_NO.errors" class="invalid-feedback">Please enter
                                                Mother Voyage number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-6" style="text-align: right;">
                                    <button (click)="slotAllocation()"
                                                            class="btn btn-outline-info btn-block">
                                                            <i class="fa fa-plus mr-1"></i>Slot
                                                            Allocation</button>
                                </div>
                            </div>
                        </div>
                    </form>
                   
                </div>
                <hr>
                <div class="row  mt-4">
                    <div class="col-md-6 offset-md-6 text-end">
                        <button type="button" class="btn btn-outline-dark" (click)="splitBooking()">Roll
                            Over</button>
                    </div>
                    
                </div>
        
            </div>

        </div>
    </section>

</div>


