<div class="mt-4 ps-4 pt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a routerLink="/home/agent-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">New CRO</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="font-size: 14px;">
                <div class="card-body">
                    <div class="font-weight-bold">Booking Details</div>
                    <hr>
                    <h6>BKDMMNSA22080005</h6>
                    <div>Vessel : <label class="form-label2">THORSWIND</label></div>
                    <div>Voyage : <label class="form-label2">039</label></div>
                    <div>POL : <label class="form-label2">DAMMAM-SADMM</label></div>
                    <div>POD : <label class="form-label2">NHAVA SHEVA-INNSA</label></div>
                    <div>Booking Party : <label class="form-label2">JITEX</label></div>
                    <div class="font-weight-bold mt-3">Container Details</div>
                    <hr>
                    <h6>Reefer - 20 HC</h6>
                    <div>Service : <label class="form-label2">CY/CY</label></div>
                    <div>Total Qty : <label class="form-label2">2</label></div>
                    <div>Available Qty : <label class="form-label2">1</label></div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="croForm">
                        <div class="font-weight-bold mb-4">CRO Details</div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <ng-select [ngClass]="{'invalid': submitted && f.STUFFING_TYPE.errors}" formControlName="STUFFING_TYPE">
                                        <ng-option value="" selected="true" disabled>--Select Stuffing Type--
                                        </ng-option>
                                        <ng-option value="Factory">Factory</ng-option>
                                        <ng-option value="ICD">ICD</ng-option>
                                        <ng-option value="PORT">PORT</ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f.STUFFING_TYPE.errors" class="invalid-feedback">Please select
                                        STUFFING TYPE</div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <ng-select formControlName="EMPTY_CONT_PCKP">
                                        <ng-option value="" selected="true" disabled>--Select Empty Cont. Pickup Point--
                                        </ng-option>
                                        <ng-option value="ADTC-ADTC - Dammam">
                                            ADTC-ADTC - Dammam
                                        </ng-option>
                                        <ng-option value="BCT-Bay Container Terminal">
                                            BCT-Bay Container Terminal
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <ng-select formControlName="LADEN_ACPT_LOCATION">
                                        <ng-option value="" selected="true" disabled>--Select Laden Acpt. Location--
                                        </ng-option>
                                        <ng-option value="INMUN-MUNDRA">
                                            INMUN-MUNDRA
                                        </ng-option>
                                        <ng-option value="INSAJ6-ICD TUMB">
                                            INSAJ6-ICD TUMB
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <input formControlName="RO_VALIDITY_DATE" type="date" class="form-control">
                                    <label class="form-label">RO Validity Date</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <input formControlName="REMARKS" type="text" class="form-control">
                                    <label class="form-label">Remarks</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <input formControlName="REQ_QUANTITY" type="text" class="form-control">
                                    <label class="form-label">Required Qty</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-4">
                                <div class="form-group">
                                    <input formControlName="GROSS_WT" type="text" class="form-control">
                                    <label class="form-label">Gross Weight (kg)</label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-4">
                                <div class="form-group">
                                    <ng-select formControlName="GROSS_WT_UNIT">
                                        <ng-option value="" selected="true" disabled>--Select Unit--
                                        </ng-option>
                                        <ng-option value="Kg">
                                            Kg
                                        </ng-option>
                                        <ng-option value="Ton">
                                            Ton
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <ng-select formControlName="PACKAGES">
                                        <ng-option value="" selected="true" disabled>--Select Packages--</ng-option>
                                        <ng-option value="Bags">
                                            Bags
                                        </ng-option>
                                        <ng-option value="Bundles">
                                            Bundles
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <input formControlName="NO_OF_PACKAGES" type="text" class="form-control">
                                    <label class="form-label">No of Packages</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 offset-md-10" style="text-align: right;">
                                <button (click)="SaveCRO()" class="btn btn-secondary btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>