<div class="section-title">
    <h2>New CRO</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="services" style="font-size: 14px;">
                <div class="icon-box text-start">
                    <h6>Booking Details</h6>
                    <hr>
                    <p class="description text-danger">{{bookingDetails?.BOOKING_NO}}</p>
                    <p class="description"><i class="bx bxs-ship"></i> <span class="text-info">
                            {{bookingDetails?.VESSEL_NAME}} -
                            {{bookingDetails?.VOYAGE_NO}}</span></p>
                    <p class="description"><i class="bx bx-user me-2"></i>{{bookingDetails?.CUSTOMER_NAME}}</p>

                    <p class="description">{{bookingDetails?.POL}} <i class="bx bx-right-arrow-circle"></i>
                        {{bookingDetails?.POD}}</p>
                    <h6 class="mt-3">Container Details</h6>
                    <hr>
                    <div *ngFor="let item of containerList">
                        <p class="description">{{item.CONTAINER_TYPE}} - {{item.CONTAINER_SIZE}}</p>
                        <p class="description">{{item.SERVICE_MODE}}</p>
                        <p class="description"><i class="bx bx-box me-2"></i>{{item.IMM_VOLUME_EXPECTED}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="services">
                <div class="icon-box text-start">
                    <form [formGroup]="croForm">
                        <div class="row mt-3">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <ng-select [ngClass]="{'invalid': submitted && f.STUFFING_TYPE.errors}"
                                        formControlName="STUFFING_TYPE">
                                        <ng-option value="" selected="true" disabled>--Select Stuffing Type--
                                        </ng-option>
                                        <ng-option value="Factory">Factory</ng-option>
                                        <ng-option value="ICD">ICD</ng-option>
                                        <ng-option value="PORT">PORT</ng-option>
                                    </ng-select>
                                    <label class="form-label-ddl">Stuffing Type</label>
                                    <div *ngIf="submitted && f.STUFFING_TYPE.errors" class="invalid-feedback">Please
                                        select
                                        STUFFING TYPE</div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <ng-select formControlName="EMPTY_CONT_PCKP">
                                        <ng-option value="" selected="true" disabled>--Select Empty Cont. Pickup Point--
                                        </ng-option>
                                        <ng-option value="ADTC-ADTC - Dammam">
                                            ADTC-ADTC - Dammam
                                        </ng-option>
                                        <ng-option value="BCT-Bay Container Terminal">
                                            BCT-Bay Container Terminal
                                        </ng-option>
                                    </ng-select>
                                    <label class="form-label-ddl">Cont Pickup Point</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <ng-select formControlName="LADEN_ACPT_LOCATION">
                                        <ng-option value="" selected="true" disabled>--Select Laden Acpt. Location--
                                        </ng-option>
                                        <ng-option value="INMUN-MUNDRA">
                                            INMUN-MUNDRA
                                        </ng-option>
                                        <ng-option value="INSAJ6-ICD TUMB">
                                            INSAJ6-ICD TUMB
                                        </ng-option>
                                    </ng-select>
                                    <label class="form-label-ddl">Laden Act Location</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <input formControlName="CRO_VALIDITY_DATE" type="date" class="form-control">
                                    <label class="form-label">CRO Validity Date</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <input formControlName="REMARKS" type="text" class="form-control">
                                    <label class="form-label">Remarks</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <input formControlName="REQ_QUANTITY" type="text" class="form-control">
                                    <label class="form-label">Required Qty</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mb-4">
                                <div class="form-group">
                                    <input formControlName="GROSS_WT" type="text" class="form-control">
                                    <label class="form-label">Gross Weight (kg)</label>
                                </div>
                            </div>
                            <div class="col-md-2 mb-4">
                                <div class="form-group">
                                    <ng-select formControlName="GROSS_WT_UNIT">
                                        <ng-option value="" selected="true" disabled>--Select Unit--
                                        </ng-option>
                                        <ng-option value="Kg">
                                            Kg
                                        </ng-option>
                                        <ng-option value="Ton">
                                            Ton
                                        </ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <ng-select formControlName="PACKAGES">
                                        <ng-option value="" selected="true" disabled>--Select Packages--</ng-option>
                                        <ng-option value="Bags">
                                            Bags
                                        </ng-option>
                                        <ng-option value="Bundles">
                                            Bundles
                                        </ng-option>
                                    </ng-select>
                                    <label class="form-label-ddl">Packages</label>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-group">
                                    <input formControlName="NO_OF_PACKAGES" type="text" class="form-control">
                                    <label class="form-label">No of Packages</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 offset-md-10" style="text-align: right;">
                                <button (click)="SaveCRO()" class="form-btn">Submit</button>
                                <button #openBtn data-bs-toggle="modal" href="#mailModal"
                                    class="form-btn d-none">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mailModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Email {{croNo}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <h6 class="text-center">Your CRO has successfully been created !
                </h6>
                <p class="text-center">Please provide email to send CRO and SI to shipper</p>
                <div class="form-group">
                    <label class="form-label2">Email</label>
                    <input class="form-control2" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="form-btn" (click)="getCRODetails(croNo)">Send Email</button>
            </div>
        </div>
    </div>
</div>