<div class="section-title">
    <h2>Manifest</h2>
</div>
<div class="container">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="blNo">
                    <label class="form-label">BL No.</label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="form-btn me-2" (click)="showManifest()">Show Manifest</button>
            </div>
        </div>
    </div>
    <div class="col-md-5 mx-auto" *ngIf="!isRecords">
        <h5 class="text-center">Sorry! No records found !!</h5>
        <img src="./../../../assets/img/doimg.jpg" class="img-fluid" alt="">
    </div>
</div>

<section class="services">
    <div class="container">
        <div class="icon-box icon-box-cyan text-start" *ngIf="isManifest">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="title">CARGO MANIFEST
                    </h4>
                </div>
                <div class="col-md-1 rounded-btn mx-auto">
                    <a (click)="getCargoManifest()"><i class="fa fa-eye text-light"></i></a>
                </div>
            </div>
        </div>
        <div class="icon-box icon-box-cyan text-start" *ngIf="isManifest">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="title">FREIGHT MANIFEST
                    </h4>
                </div>
                <div class="col-md-1 rounded-btn mx-auto">
                    <a (click)="getFreightManifest()"><i class="fa fa-eye text-light"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>