<div class="section-title">
    <h2>{{'Header.title'|translate}}</h2>
</div>
<div class="container">
    <div class="mx-5" [formGroup]="croForm">
        <div class="col-md-6 offset-md-6 text-end">
            <button class="form-btn-primary" routerLink="/home/new-cro"><i
                    class="fa fa-plus me-1"></i>{{'Header.NewCro'|translate}}</button>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label2">{{'Header.CroNo'|translate}}</label>
                    <input formControlName="CRO_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.fromDate'|translate}}</label>
                    <input onkeypress="return false" (change)="croForm.get('TO_DATE')?.setValue('')"
                        formControlName="FROM_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.toDate'|translate}}</label>
                    <input onkeypress="return false" [min]="croForm.get('FROM_DATE')?.value" formControlName="TO_DATE"
                        type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-4 mt-4">
                <button class="form-btn me-2" (click)="Search()">{{'Button.search'|translate}} <span *ngIf="isLoading"
                        class="fa fa-spinner fa-spin"></span></button>
                <button class="form-btn-light" (click)="Clear()">{{'Button.clear'|translate}} <span *ngIf="isLoading1"
                        class="fa fa-spinner fa-spin"></span></button>
            </div>
        </div>
    </div>
</div>
<section class="services">
    <div class="container">
        <div class="col-md-12 ps-md-4">
            <small>Total Records : {{this.croList?.length}}/ 50</small>
        </div>
        <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
            <div [class]="isScroll ? 'force-overflow' : ''">
                <div class="icon-box icon-box-cyan text-start" *ngFor="let item of croList">
                    <div class="row">
                        <div class="col-md-5">
                            <h4 class="title mb-0">{{ item.CRO_NO }}
                            </h4>
                            <small class="mb-0 text-danger">{{item.BOOKING_NO}}</small>
                            <p class="description"><span class="bx bxs-ship me-2"></span>{{item.POL}} <i
                                    class='bx bxs-right-arrow-circle mx-2'></i>
                                <span class="bx bxs-ship me-2"></span>{{item.POD}}
                            </p>
                            <p class="description"><i class='bx bx-history me-2'></i> <span
                                    style="font-weight: 500;">ETA</span> : {{item.ETA
                                |
                                date:'mediumDate'}} - <span style="font-weight: 500;">ETD</span> : {{item.ETD |
                                date:'mediumDate'}}</p>
                        </div>
                        <div class="col-md-5">
                            <p class="description" style="font-weight: 500;"> <span
                                    class="bx bx-user me-2"></span>{{item.CUSTOMER_NAME}} </p>
                            <p class="description"><img height="20" width="25" class="me-2"
                                    src="assets\img\cargo-truck.png" />Stuffing Type :
                                {{item.STUFFING_TYPE}} | Pickup :
                                {{item.EMPTY_CONT_PCKP}}</p>
                            <p class="description">
                                <img height="20" width="25" class="me-2" src="assets/img/box.png" />
                                <!-- <i class='bx bxs-package me-2' ></i> -->
                                {{item.PACKAGES}} -
                                {{item.GROSS_WT}}
                                {{item.GROSS_WT_UNIT}} (Gross)
                            </p>
                            <p class="description"><span *ngFor="let sc of item.CONTAINERS?.split(', ')">
                                    <img *ngIf="sc.substring(0,2) == '20'" height="25" width="30" class="me-2"
                                        src="assets/img/container.png" />
                                    <img *ngIf="sc.substring(0,2) == '40'" height="25" width="30" class="me-2"
                                        src="assets/img/container (1).png" />
                                    <span class="me-2">{{sc}} | </span>
                                </span></p>
                        </div>
                        <div class="col-md-2">
                            <button (click)="getCRODetails(item.CRO_NO)" class="form-btn btn-sm rounded-pill mb-2"><i
                                    class="fa fa-eye me-1"></i>View
                                PDF</button>
                            <p class="description text-success">Created On : {{item.CREATED_DATE |
                                date:'mediumDate'}}</p>
                            <p class="description">
                                Valid Till : <span class="text-danger">{{item.CRO_VALIDITY_DATE |
                                    date:'mediumDate'}}</span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-auto" *ngIf="croList.length == 0">
            <h5 class="text-center">Sorry! No records found !!</h5>
            <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
        </div>
    </div>
</section>