.form-control2 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 1rem;
}

.form-label2 {
  position: relative;
  top: 15px;
  left: 8px;
  background: #fff;
  padding: 0px 5px;
  color: #000000;
  font-weight: 500;
  z-index: 1030;
  // font-family: "opensans-semibold";
}

.form-control2:focus {
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}
