<div class="section-title">
    <h2>Bookings</h2>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" class="form-control">
                <label class="form-label">Booking No</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="date" class="form-control">
                <label class="form-label">From Date</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="date" class="form-control">
                <label class="form-label">To Date</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" class="form-control">
                <label class="form-label">Status</label>
            </div>
        </div>
        <div class="col-md-3">
            <button class="form-btn me-2">Search</button>
            <button class="form-btn">Clear</button>
        </div>
    </div>
</div>
<section class="services">
    <div class="container">
        <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
            <div [class]="isScroll ? 'force-overflow' : ''">
                <div class="icon-box icon-box-cyan text-start" *ngFor="let item of bookingList">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="title">{{item.BOOKING_NO}}</h4>
                            <p class="description"> <span class="bx bx-user"></span> {{item.CUSTOMER_NAME}} | <span
                                    class="bx bxs-truck"></span>
                                {{item.NO_OF_CONTAINERS}} Containers | <span class="text-danger">{{item.POL}} -
                                    {{item.POD}}</span></p>
                            <p class="description"><i class="bx bxs-ship"></i> <span class="text-info">
                                    {{item.VESSEL_NAME}} - {{item.VOYAGE_NO}}</span>
                            </p>
                        </div>
                        <div class="col-md-4 text-end">
                            <button class="form-btn rounded-pill" (click)="createCRO(item)">Create
                                CRO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>