<div class="mt-4 ps-4 pt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
</div>
<button data-target="#menuModal" data-toggle="modal" class="btn btn-info btn-lg btn-floating float-right"
    style="right: 2rem;top: -2rem;">
    <i class="fa fa-th"></i>
</button>
<div class="container">
    <div class="col-md-2 mb-3">
        <button type="button" routerLink="/home/new-quotation" class="btn btn-block btn-secondary btn-rounded">New
            Quotation</button>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="card border">
                <div class="card-body">
                    <div class="counter">
                        <div class="number-info">
                            <i class="fas fa-2x fa-hand-holding-usd text-info"></i>
                            <span class="timer text-info" style="font-size: 30px;">
                                {{requestedCount}}
                            </span>
                            <p class="text-muted" style="font-size: 12px;">QUOTATION REQUESTED</p>
                        </div>
                    </div>
                    <hr>
                    <div class="counter">
                        <div class="number-info">
                            <i class="fas fa-clipboard-list fa-2x text-success"></i>
                            <span class="timer text-success" style="font-size: 30px;">
                                {{approvedCount}}
                            </span>
                            <p class="text-muted" style="font-size: 12px;">QUOTATION APPROVED</p>
                        </div>
                    </div>
                    <hr>
                    <div class="counter">
                        <div class="number-info">
                            <i class="fas fa-calendar-check fa-2x text-warning"></i>
                            <span class="timer text-warning" style="font-size: 30px;">
                                0
                            </span>
                            <p class="text-muted" style="font-size: 12px;">BOOKINGS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <form [formGroup]="quotationForm">
                <div class="row">
                    <div class="col-md-3 mb-4">
                        <div class="form-group">
                            <input type="text" formControlName="SRR_NO" class="form-control">
                            <label class="form-label">Reference No</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="form-outline">
                            <ng-select formControlName="CUSTOMER_NAME">
                                <ng-option value="" disabled>--Select--</ng-option>
                                <ng-option value="JITEX">JITEX</ng-option>
                                <ng-option value="MASDAR TECHNICAL SUPPLIES TRADING CO.">MASDAR TECHNICAL
                                    SUPPLIES
                                    TRADING CO.
                                </ng-option>
                            </ng-select>
                            <label class="form-label-ddl">Customer</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-outline">
                            <ng-select formControlName="STATUS">
                                <ng-option value="" disabled>--Select--</ng-option>
                                <ng-option value="Requested">Requested</ng-option>
                                <ng-option value="Approved">Approved
                                </ng-option>
                            </ng-select>
                            <label class="form-label-ddl">Status</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" (click)="searchSRRList()" class="btn btn-dark me-2"
                            data-mdb-ripple-color="dark">Search</button>
                        <button type="button" (click)="clearSRRList()" class="btn btn-default"
                            data-mdb-ripple-color="dark">Clear</button>
                    </div>
                </div>
            </form>
            <div class="card" *ngIf="srrList?.length == 0">
                <div class="card-body p-5 text-center">
                    <h6>No Records</h6>
                </div>
            </div>
            <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
                <div [class]="isScroll ? 'force-overflow' : ''">
                    <div [class]="i == 0 ? 'card' : 'card mt-2'" *ngFor="let item of srrList;let i = index;">
                        <div class="card-body" (click)="viewDetails(item.SRR_NO)" style="cursor: pointer;">
                            <div class="row">
                                <div class="col-md-4">
                                    <h6>{{ item.SRR_NO }}</h6>
                                    <p>{{ item.CUSTOMER_NAME }} </p>
                                    <h6>No of Containers <span class="text-danger">{{
                                            item.NO_OF_CONTAINERS
                                            }} / {{item.TOTAL_VOLUME_EXPECTED}}</span> </h6>
                                    <p>Booked Containers <span class="text-muted">0</span></p>
                                    <button type="button" data-toggle="modal"
                                        [attr.data-target]="'#' + 'containermodal' + i" class="btn btn-light me-2">Add
                                        Containers</button>
                                </div>
                                <div class="col-md-4">
                                    <p>{{ item.EFFECT_FROM | date: "mediumDate" }} -
                                        {{ item.EFFECT_TO | date: "mediumDate" }}</p>
                                    <p>Created on - {{ item.CREATED_DATE | date: "mediumDate" }}</p>
                                    <span *ngIf="item.STATUS == 'Requested'"
                                        class="badge border w-50 rounded-pill p-2 badge-light mb-3">{{
                                        item.STATUS
                                        }}</span>
                                    <span *ngIf="item.STATUS == 'Approved'"
                                        class="badge border w-50 rounded-pill p-2 badge-success mb-3">{{
                                        item.STATUS
                                        }}</span>
                                </div>
                                <div class="col-md-4" style="text-align: right;" *ngIf="item.STATUS == 'Approved'">
                                    <button (click)="bookNow(i)" class="btn btn-info btn-rounded me-2">Book
                                        Now</button>
                                    <button type="button" #openBtn data-toggle="modal"
                                        [attr.data-target]="'#' + 'modal' + i"
                                        class="btn btn-info btn-rounded me-2 d-none">Book Now</button>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="{{'modal' + i}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                aria-label="Close" #closeBtn1></button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="slotDetailsForm">
                                                <div class="col-md-12">
                                                    <div class="row mb-2">
                                                        <div class="col-md-12">
                                                            <h6>POL : <small class="text-danger">
                                                                    {{quotationDetails?.POL}}</small>
                                                                POD :
                                                                <small
                                                                    class="text-danger">{{quotationDetails?.POD}}</small>
                                                            </h6>
                                                        </div>
                                                        <div class="row mt-5">
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-group">
                                                                    <input formControlName="VESSEL_NAME" type="text"
                                                                        class="form-control" />
                                                                    <label class="form-label">Vessel Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-group">
                                                                    <input formControlName="VOYAGE_NO" type="text"
                                                                        class="form-control" />
                                                                    <label class="form-label">Voyage No</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-group">
                                                                    <input formControlName="MOTHER_VESSEL_NAME"
                                                                        type="text" class="form-control" />
                                                                    <label class="form-label">Mother Vessel Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-group">
                                                                    <input formControlName="MOTHER_VOYAGE_NO"
                                                                        type="text" class="form-control" />
                                                                    <label class="form-label">Mother Voyage No</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 offset-md-6" style="text-align: right;">
                                                            <button (click)="slotAllocation()"
                                                                class="btn btn-outline-info btn-block">
                                                                <i class="fa fa-plus mr-1"></i>Slot
                                                                Allocation</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Sr. No</th>
                                                        <th>Slot Operator</th>
                                                        <th>No of Slots</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of slotDetailsForm.get('SLOT_LIST').controls;let j = index;"
                                                        [formGroup]="item">
                                                        <td>
                                                            {{j+1}}
                                                        </td>
                                                        <td class="col-md-6">
                                                            <ng-select formControlName="SLOT_OPERATOR">
                                                                <ng-option value="" selected disabled>
                                                                    --Slot
                                                                    Operator--</ng-option>
                                                                <ng-option value="xx">test</ng-option>
                                                            </ng-select>
                                                        </td>
                                                        <td>
                                                            <input formControlName="NO_OF_SLOTS" type="text"
                                                                class="form-control" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" (click)="bookNow2()" class="btn btn-outline-dark">Book
                                                Now</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Add Container Modal-->
                            <div class="modal fade" id="{{'containermodal' + i}}" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Container Details
                                            </h5>
                                            <button type="button" class="btn-close" data-dismiss="modal"
                                                aria-label="Close" #closeBtn></button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="containerForm">
                                                <div class="row">
                                                    <div class="form-group col-md-12">
                                                        <label>SRR No -
                                                            <b>{{srrList[i].SRR_NO}}</b></label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <input type="text"
                                                            [ngClass]="{'invalid': submitted && f.NO_OF_CONTAINERS.errors}"
                                                            formControlName="NO_OF_CONTAINERS" class="form-control" />
                                                        <label class="form-label">No of Containers</label>
                                                        <div *ngIf="submitted && f.NO_OF_CONTAINERS.errors"
                                                            class="invalid-feedback">Please enter
                                                            No of Containers</div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary">Clear</button>
                                            <button type="button" (click)="addContainer(i)" class="btn btn-primary">Add
                                                Container</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal right fade" id="menuModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 35rem; max-width: 35rem;">
        <div class="modal-content">
            <button type="button" class="btn-close d-none" data-dismiss="modal" aria-label="Close" #closeBtn3></button>
            <div class="modal-body" style="font-size: 14px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card menu-card">
                            <div class="card-body">
                                <i class="fas fa-file-invoice-dollar menu-icons"></i>
                                <p>QUOTATIONS</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card menu-card" (click)="redirectToSubMenu('booking')">
                            <div class="card-body">
                                <i class="fas fa-clipboard-check menu-icons"></i>
                                BOOKINGS
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card menu-card" (click)="redirectToSubMenu('cro')">
                            <div class="card-body">
                                <i class="fas fa-archive menu-icons"></i>
                                CRO
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <div class="card menu-card">
                            <div class="card-body">
                                <i class="fas fa-file-signature menu-icons"></i>
                                <p>BL</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card menu-card">
                            <div class="card-body">
                                <i class="far fa-file-alt menu-icons"></i>
                                TDR
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card menu-card">
                            <div class="card-body">
                                <i class="fas fa-clipboard-list menu-icons"></i>
                                DO
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>