<div class="mt-4 ps-4 pt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="col-md-2 offset-md-10 mb-3" style="text-align: right;">
        <button type="button" routerLink="/home/new-quotation" class="btn btn-block btn-info btn-rounded">New
            Quotation</button>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="card border">
                <div class="card-body">
                    <div class="counter">
                        <div class="number-info">
                            <i class="fas fa-2x fa-hand-holding-usd text-info"></i>
                            <span class="timer text-info" style="font-size: 30px;">
                                15
                            </span>
                            <p class="text-muted" style="font-size: 12px;">QUOTATION REQUESTED</p>
                        </div>
                    </div>
                    <hr>
                    <div class="counter">
                        <div class="number-info">
                            <i class="fas fa-clipboard-list fa-2x text-success"></i>
                            <span class="timer text-success" style="font-size: 30px;">
                                15
                            </span>
                            <p class="text-muted" style="font-size: 12px;">BOOKING PENDING</p>
                        </div>
                    </div>
                    <hr>
                    <div class="counter">
                        <div class="number-info">
                            <i class="fas fa-calendar-check fa-2x text-warning"></i>
                            <span class="timer text-warning" style="font-size: 30px;">
                                20
                            </span>
                            <p class="text-muted" style="font-size: 12px;">BOOKING CONFIRMED</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <form [formGroup]="quotationForm">
                <div class="row">
                    <div class="col-md-3 mt-4">
                        <div class="form-outline">
                            <input type="text" formControlName="SRR_NO" class="form-control" />
                            <label class="form-label">Reference No</label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-outline">
                            <label class="form-label">Customer Name</label>
                            <ng-select formControlName="CUSTOMER_NAME">
                                <ng-option value="" disabled>--Select--</ng-option>
                                <ng-option value="JITEX">JITEX</ng-option>
                                <ng-option value="MASDAR TECHNICAL SUPPLIES TRADING CO.">MASDAR TECHNICAL SUPPLIES
                                    TRADING CO.
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-outline">
                            <label class="form-label">Status</label>
                            <ng-select formControlName="STATUS">
                                <ng-option value="" disabled>--Select--</ng-option>
                                <ng-option value="Requested">Requested</ng-option>
                                <ng-option value="Approved">Approved
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4">

                        <button type="button" (click)="searchSRRList()" class="btn btn-dark me-2"
                            data-mdb-ripple-color="dark">Search</button>
                        <button type="button" (click)="clearSRRList()" class="btn btn-outline-default"
                            data-mdb-ripple-color="dark">Clear</button>
                    </div>
                </div>
            </form>

            <!-- Tabs navs -->
            <ul class="nav nav-tabs mb-3 mt-5" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="ex2-tab-1" data-mdb-toggle="tab" href="#ex2-tabs-1" role="tab"
                        aria-controls="ex2-tabs-1" aria-selected="true">QUOTATIONS (20)</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="ex2-tab-2" data-mdb-toggle="tab" href="#ex2-tabs-2" role="tab"
                        aria-controls="ex2-tabs-2" aria-selected="false">BOOKINGS (2)</a>
                </li>
            </ul>
            <!-- Tabs navs -->

            <!-- Tabs content -->
            <div class="tab-content" id="ex2-content">
                <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
                    <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
                        <div [class]="isScroll ? 'force-overflow' : ''">
                            <div [class]="i == 0 ? 'card border me-2' : 'card border me-2 mt-2'"
                                *ngFor="let item of srrList;let i = index;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h6>{{ item.SRR_NO }}</h6>
                                            <p>{{ item.CUSTOMER_NAME }} </p>
                                            <h6>No of Containers <span class="text-danger">{{
                                                    item.NO_OF_CONTAINERS
                                                    }} / {{
                                                    item.TOTAL_VOLUME_EXPECTED
                                                    }}</span> </h6>
                                            <button type="button" data-mdb-toggle="modal"
                                                [attr.data-mdb-target]="'#' + 'containermodal' + i"
                                                class="btn btn-light me-2">Add
                                                Containers</button>
                                        </div>
                                        <div class="col-md-4">
                                            <p>{{ item.EFFECT_FROM | date: "mediumDate" }} -
                                                {{ item.EFFECT_TO | date: "mediumDate" }}</p>
                                            <p>Created on - {{ item.CREATED_DATE | date: "mediumDate" }}</p>
                                            <span *ngIf="item.STATUS == 'Requested'"
                                                class="badge border w-50 rounded-pill p-2 badge-light mb-3">{{
                                                item.STATUS
                                                }}</span>
                                            <span *ngIf="item.STATUS == 'Approved'"
                                                class="badge border w-50 rounded-pill p-2 badge-success mb-3">{{
                                                item.STATUS
                                                }}</span>
                                        </div>
                                        <div class="col-md-4" style="text-align: right;">

                                            <button type="button" data-mdb-toggle="modal"
                                                [attr.data-mdb-target]="'#' + 'modal' + i"
                                                class="btn btn-danger btn-rounded me-2">Add
                                                Slots</button>
                                            <button type="button" class="btn btn-info btn-rounded">Book Now</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-6" style="text-align: right;">
                                            <button type="button" (click)="getSlotDetails(i)"
                                                class="btn btn-outline-dark btn-sm">Slot
                                                Details (1) <i class="fas fa-caret-down"></i></button>
                                        </div>
                                    </div>
                                    <div class="row mt-2" *ngIf="isSlotDetails && slotNo == i">
                                        <table class="table table-sm" *ngIf="slotDetailsList.length > 0">
                                            <thead>
                                                <tr>
                                                    <td>Sr. No</td>
                                                    <td>Vessel Name</td>
                                                    <td>Voyage No</td>
                                                    <td>Slot Operator</td>
                                                    <td>No of Slots</td>
                                                    <td>Action</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of slotDetailsList;let j = index;">
                                                    <td>{{j+1}}</td>
                                                    <td>{{item.VESSEL_NAME}}</td>
                                                    <td>{{item.VOYAGE_NO}}</td>
                                                    <td>{{item.SLOT_OPERATOR}}</td>
                                                    <td>{{item.NO_OF_SLOTS}}</td>
                                                    <td><i class="fas fa-trash"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="{{'modal' + i}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Slot Details</h5>
                                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close" #closeBtn></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form [formGroup]="slotDetailsForm">
                                                        <div class="row">
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text" formControlName="POL"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">POL</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text" formControlName="POD"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">POD</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text" formControlName="VESSEL_NAME"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">Vessel Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text" formControlName="VOYAGE_NO"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">Voyage No</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg"
                                                                        formControlName="MOTHER_VESSEL_NAME" />
                                                                    <label class="form-label">Mother Vessel</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg"
                                                                        formControlName="MOTHER_VOYAGE_NO" />
                                                                    <label class="form-label">Mother Voyage No</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-6 mb-4">
                                                                <ng-select formControlName="SLOT_OPERATOR">
                                                                    <ng-option value="" selected disabled>--Slot
                                                                        Operator--</ng-option>
                                                                    <ng-option value="xx">xx</ng-option>
                                                                    <ng-option value="yy">yy
                                                                    </ng-option>
                                                                </ng-select>
                                                            </div>
                                                            <div class="col-md-6 mb-4">
                                                                <div class="form-outline">
                                                                    <input formControlName="NO_OF_SLOTS" type="text"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">No of Slots</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary">Clear</button>
                                                    <button type="button" (click)="addSlots(i)"
                                                        class="btn btn-primary">Add Slot</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Add Container Modal-->
                                    <div class="modal fade" id="{{'containermodal' + i}}" tabindex="-1"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Container Details
                                                    </h5>
                                                    <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close" #closeBtn></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-4 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">Container Type</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">Container Size</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">Service Mode</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">POL Free Days</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">POD Free Days</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">Imm Volume
                                                                        Expected</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4 mb-4">
                                                                <div class="form-outline">
                                                                    <input type="text"
                                                                        class="form-control form-control-lg" />
                                                                    <label class="form-label">Total Volume
                                                                        Expected</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary">Clear</button>
                                                    <button type="button" class="btn btn-primary">Add Container</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
                    Tab 2 content
                </div>
                <div class="tab-pane fade" id="ex2-tabs-3" role="tabpanel" aria-labelledby="ex2-tab-3">
                    Tab 3 content
                </div>
            </div>
            <!-- Tabs content -->
        </div>
    </div>
</div>