td {
  border: none;
}

.menu-card {
  border: 1px solid #e0e0e0;
  box-shadow: none;
  text-align: center;
  height: 7rem;
  cursor: pointer;
}

.menu-card:hover {
  color: #17a2b8 !important;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

.menu-icons {
  font-size: 2rem;
  //   color: #d1c7c7;
  margin-bottom: 0.5rem;
  display: block;
}

// .menu-card:hover ~ .menu-icons {
//   color: black;
// }
