<div class="section-title">
    <h2>Empty Repo</h2>
</div>
<section class="services">
    <div>
        <div class="container mt-4">
            <div class="row mt-4">
                <form [formGroup]="erForm">
                    <div class="col-md-12">
                        <div class="row mb-2">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label2">Load Depot<span class="text-danger">*</span></label>
                                        <ng-select [ngClass]="{'invalid': submitted && f.LOAD_DEPOT.errors}"
                                            formControlName="LOAD_DEPOT" style="margin-top: 10px;">
                                            <ng-option value="" selected="true" disabled>--Select Load DEPOT--
                                            </ng-option>
                                            <ng-option value="ADTC-ADTC - Dammam">ADTC-ADTC - Dammam</ng-option>
                                            <ng-option value="AERAK-RAS AL KHAYMAH">AERAK-RAS AL KHAYMAH</ng-option>
                                            <ng-option value="AMAL - L-AMAL LOGISTICS SERVICES PVT.LTD.">AMAL - L-AMAL
                                                LOGISTICS SERVICES PVT.LTD.</ng-option>
                                            <ng-option value="BCT-Bay Container Terminal">BCT-Bay Container Terminal
                                            </ng-option>
                                            <ng-option value="BGT20-BGT20 Umm Qasar">BGT20-BGT20 Umm Qasar</ng-option>
                                            <ng-option value="BHKBS-BAHR-BHKBS Deport">BHKBS-BAHR-BHKBS Deport
                                            </ng-option>
                                            <ng-option value="BORKHE-ICD BORKHEDI">BORKHE-ICD BORKHEDI</ng-option>
                                        </ng-select>

                                        <div *ngIf="submitted && f.LOAD_DEPOT.errors" class="invalid-feedback">Please
                                            select
                                            Load Depot</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label2">Discharge Depot<span
                                                class="text-danger">*</span></label>
                                        <ng-select [ngClass]="{'invalid': submitted && f.DISCHARGE_DEPOT.errors}"
                                            formControlName="DISCHARGE_DEPOT" style="margin-top: 10px;">
                                            <ng-option value="" selected="true" disabled>--Select DISCHARGE DEPOT--
                                            </ng-option>
                                            <ng-option value="ADTC-ADTC - Dammam">ADTC-ADTC - Dammam</ng-option>
                                            <ng-option value="AERAK-RAS AL KHAYMAH">AERAK-RAS AL KHAYMAH</ng-option>
                                            <ng-option value="AMAL - L-AMAL LOGISTICS SERVICES PVT.LTD.">AMAL - L-AMAL
                                                LOGISTICS SERVICES PVT.LTD.</ng-option>
                                            <ng-option value="BCT-Bay Container Terminal">BCT-Bay Container Terminal
                                            </ng-option>
                                            <ng-option value="BGT20-BGT20 Umm Qasar">BGT20-BGT20 Umm Qasar</ng-option>
                                            <ng-option value="BHKBS-BAHR-BHKBS Deport">BHKBS-BAHR-BHKBS Deport
                                            </ng-option>
                                            <ng-option value="BORKHE-ICD BORKHEDI">BORKHE-ICD BORKHEDI</ng-option>
                                        </ng-select>
                                        <div *ngIf="submitted && f.DISCHARGE_DEPOT.errors" class="invalid-feedback">
                                            Please select
                                            Discharge Depot</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label2">Mode Of Transport<span
                                                class="text-danger">*</span></label>
                                        <ng-select [ngClass]="{'invalid': submitted && f.MODE_OF_TRANSPORT.errors}"
                                            formControlName="MODE_OF_TRANSPORT" style="margin-top: 10px;">
                                            <ng-option value="" selected="true" disabled>--Select Mode Of Transport--
                                            </ng-option>
                                            <ng-option value="Rail">Rail</ng-option>
                                            <ng-option value="Road">Road</ng-option>
                                            <ng-option value="Road">Port</ng-option>
                                        </ng-select>
                                        <div *ngIf="submitted && f.MODE_OF_TRANSPORT.errors" class="invalid-feedback">
                                            Please select
                                            Mode Of Transport</div>

                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="date" class="form-control"
                                            [ngClass]="{'invalid': submitted && f.MOVEMENT_DATE.errors}"
                                            formControlName="MOVEMENT_DATE">
                                        <label class="form-label">Movement Date <span
                                                class="text-danger">*</span></label>
                                        <div *ngIf="submitted && f.MOVEMENT_DATE.errors" class="invalid-feedback">
                                            Please enter
                                            Movement Date </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="number" min="0.00" step="0.05" value="1.00" class="form-control"
                                            [ngClass]="{'invalid': submitted && f.LIFT_ON_CHARGE.errors}"
                                            formControlName="LIFT_ON_CHARGE">
                                        <label class="form-label">Lift On Charge <span
                                                class="text-danger">*</span></label>
                                        <div *ngIf="submitted && f.LIFT_ON_CHARGE.errors" class="invalid-feedback">
                                            Please enter
                                            Lift On Charge </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="number" min="0.00" step="0.05" value="1.00" class="form-control"
                                            [ngClass]="{'invalid': submitted && f.LIFT_OFF_CHARGE.errors}"
                                            formControlName="LIFT_OFF_CHARGE">
                                        <label class="form-label">Lift Off Charge <span
                                                class="text-danger">*</span></label>
                                        <div *ngIf="submitted && f.LIFT_OFF_CHARGE.errors" class="invalid-feedback">
                                            Please enter
                                            Lift Off Charge </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <!-- <label class="form-label"> Currency <span class="text-danger">*</span></label> -->
                                        <ng-select [ngClass]="{'invalid': submitted && f.CURRENCY.errors}"
                                            formControlName="CURRENCY" style="margin-top: 10px;">
                                            <ng-option value="" selected="true" disabled>--Select Currency--</ng-option>
                                            <ng-option *ngFor="let item of currencyList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                               ({{item.CODE}})
                                            </ng-option>
                                        </ng-select>
                                        <label class="form-label-ddl">Currency <span class="text-danger">*</span></label>
                                        <div *ngIf="submitted && f.CURRENCY.errors" class="invalid-feedback">Please
                                            enter
                                            Currency </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                       
                                        <input type="text"  [ngClass]="{'invalid':submitted && f.REMARKS.errors}" formControlName="REMARKS"
                                        class="form-control" style="margin-top: 10px;">
                                    <label class="form-label"> Remarks <span class="text-danger">*</span></label>
                                    <div *ngIf="submitted && f.REMARKS.errors" class="invalid-feedback">
                                        Please Enter Remarks
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label2" style="margin-bottom: 20px;">Container <span class="text-danger">*</span></label>
                                        <ng-multiselect-dropdown #multiSelect [placeholder]="'Select Container'"
                                            [settings]="dropdownSettings" [data]="containerDropdownList"
                                            [(ngModel)]="selectedItems" [formControl]="f.CONTAINER_LIST"
                                            [class.is-invalid]="f?.CONTAINER_LIST?.errors?.required"
                                            (onFilterChange)="onFilterChange($event)"
                                            (onDropDownClose)="onDropDownClose($event)"
                                            (onSelect)="onItemSelect($event)" (onDeSelect)="onDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                        
                                        <div *ngIf="submitted && f?.CONTAINER_LIST?.errors?.required"
                                            style="color: red;">
                                            Container is required
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <hr>
            <div class="row  mt-4">

                <div class="col-md-6 offset-md-6 text-end">
                    <button type="button" class="form-btn" style="margin-right: 6px;"
                        (click)="cancelER()">Clear</button>
                    <button type="button" class="form-btn" style="margin-right: 6px;" (click)="saveER()">Save</button>

                </div>

            </div>

        </div>

    </div>
</section>