<div class="section-title">
    <h2>Manifest</h2>
</div>
<div class="container">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <div class="col-md-5 mx-auto">
                    <div class="form-group">
                        <label class="form-label2">BL No<span class="text-danger">
                                *</span></label>
                        <input [ngClass]="{'invalid': submitted && blNo == ''}" [(ngModel)]="blNo" type="text"
                            class="form-control2" />
                        <div *ngIf="submitted && blNo == ''" class="invalid-feedback">Please
                            enter BL No</div>
                    </div>
                </div>
                <div class="col-md-8 mx-auto">
                    <div class="row services" *ngIf="isManifest">
                        <div class="icon-box icon-box-cyan text-start">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="title">CARGO MANIFEST
                                    </h4>
                                </div>
                                <div class="col-md-1 rounded-btn">
                                    <a (click)="getCargoManifest()"><i class="fa fa-eye text-light"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="icon-box icon-box-cyan text-start">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="title">FREIGHT MANIFEST
                                    </h4>
                                </div>
                                <div class="col-md-1 rounded-btn">
                                    <a (click)="getFreightManifest()"><i class="fa fa-eye text-light"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-auto my-3 text-end">
                    <button *ngIf="!isManifest" [disabled]="isLoading" (click)="showManifest()"
                        class="form-btn-primary w-100">Create
                        Manifest
                        <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
                    <button *ngIf="isManifest" (click)="clearManifest()" class="form-btn-light w-100">Clear
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>