<header id="header" class="fixed-top d-flex align-items-center header-transparent header-scrolled">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <a href="index.html"><img src="assets/img/logo_p.png" alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li [class]="item.menuName == 'Finance' || item.menuName == 'Bookings' || item.menuName == 'Container Movement' || item.menuName == 'Operations' ? 'dropdown' : ''"
                    *ngFor="let item of menuList">
                    <a href="{{item.menuLink}}">{{item.menuName}}
                        <i *ngIf="item.menuName == 'Finance' || item.menuName == 'Bookings' || item.menuName == 'Container Movement' || item.menuName == 'Operations'"
                            class="bi bi-chevron-down"></i>
                    </a>
                    <ul *ngIf="item.menuName == 'Bookings'">
                        <li><a href="home/booking-list">Booking List</a></li>
                        <li><a href="home/split-booking">Rollover</a></li>
                        <li><a href="home/er-list">Empty Repo Local</a></li>
                    </ul>
                    <ul *ngIf="item.menuName == 'Operations'">
                        <li><a href="home/cro-list">CRO</a></li>
                        <li><a href="home/new-bl">BL</a></li>
                        <li><a href="home/do-list">DO</a></li>
                    </ul>
                    <ul *ngIf="item.menuName == 'Container Movement'">
                        <li><a href="/home/new-cm">Movement</a></li>
                        <li><a href="/home/new-track">Tracking</a></li>
                        <li><a href="/home/ct-list">History</a></li>
                    </ul>
                    <ul *ngIf="item.menuName == 'Finance'">
                        <li><a href="#">TDR</a></li>
                        <li><a href="#">VDA</a></li>
                        <li><a href="#">FDA</a></li>
                        <li><a href="#">Invoice</a></li>
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <select (change)="setLanguage($event.target.value)" name="" id="">
            <option value="en">English</option>
            <option value="hi">Hindi</option>
        </select>
        <span class="text-light">Hi User !<a (click)="logout()"><i title="logout" style="font-size: 20px"
                    class='ms-2 pointer bx bx-user-x'></i></a></span>
    </div>
</header>
<div class="mt-5 pt-4"></div>