

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529; }
  .table th,
  .table td {
    // padding: 0.75rem;
    // vertical-align: top;
    border-top: 1px solid #dee2e6; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }
  .table tbody + tbody {
    border-top: 2px solid #dee2e6; }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table-bordered {
    border: 0; }

.table {
  min-width: 1000px !important;
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29); }
  .table thead th {
    border: none;
    // padding: 30px;
    font-size: 12px;
    font-weight: 600;
    color: white; }
  .table thead tr {
    background: #467b97;
    border-bottom: 4px solid #eceffa; }
  .table tbody tr {
    margin-bottom: 10px;
    border-bottom: 4px solid #f8f9fd; }
    .table tbody tr:last-child {
      border-bottom: 0; }
  .table tbody th, .table tbody td {
    border: none;
    // padding: 30px;
    font-size: 12px;
    background: #fff;
    vertical-align: middle; }
  .table tbody td.status span {
    position: relative;
    border-radius: 30px;
    padding: 4px 10px 4px 25px; 
  }
    .table tbody td.status span:after {
      position: absolute;
      top: 9px;
      left: 10px;
      width: 10px;
      height: 10px;
      content: '';
      border-radius: 50%; }
  .table tbody td.status .active {
    background: #cff6dd;
    color: #1fa750; }
    .table tbody td.status .active:after {
      background: #23bd5a; }
  .table tbody td.status .waiting {
    background: #fdf5dd;
    color: #cfa00c; }
    .table tbody td.status .waiting:after {
      background: #f2be1d; }
  .table tbody td .img {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .table tbody td .email span {
    display: block; }
    .table tbody td .email span:last-child {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.3); }
  .table tbody td .close span {
    font-size: 12px;
    color: #dc3545; }

.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (prefers-reduced-motion: reduce) {
    .checkmark:after {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2); }

/* Style the checkmark/indicator */
.checkbox-primary {
  color: #40bfc1; }
  .checkbox-primary input:checked ~ .checkmark:after {
    color: #40bfc1; }