<div class="section-title pt-3">
    <h2>Currency Master</h2>
</div>
<div class="mb-4">
    <div class="col-md-6 offset-md-6 text-end">
        <button (click)="openModal()" class="form-btn-primary"><i class="fa fa-plus me-1"></i>New
            Currency</button>
        <button class="form-btn-primary d-none" #openModalPopup data-bs-toggle="modal" href="#currencyModal">New
            Currency</button>
    </div>
    <form [formGroup]="currencyForm1">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">Status </label>
                    <select class="form-control2" formControlName="STATUS">
                        <option value="" selected="true" disabled>--Select--</option>
                        <option value="true">Active</option>
                        <option value="false">InActive</option>
                    </select>
                    <!-- <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Please Select Status  </div> -->
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">From Date</label>
                    <input (change)="currencyForm1.get('TO_DATE')?.setValue('')" onkeypress="return false;"
                        formControlName="FROM_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">To Date</label>
                    <input onkeypress="return false;" [min]="currencyForm1.get('FROM_DATE')?.value"
                        formControlName="TO_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2" (click)="Search()" [disabled]="isLoading">Search
                    <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
                <button class="form-btn-light me-2" (click)="Clear()" [disabled]="isLoading1">Clear<span
                        *ngIf="isLoading1" class="fa fa-spinner fa-spin"></span></button>
            </div>
        </div>
    </form>
    <table class="ratetable table-bordered" id="data-table-config">
        <thead>
            <tr>
                <th width="1%">No</th>
                <th width="9%">Code</th>
                <th width="40%">Description</th>
                <th width="25%">Status</th>
                <th width="25%">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of CurrencyList; let i = index">
                <td width="1%">{{i+1}}</td>
                <td width="9%">{{item.CODE}}</td>
                <td width="40%">{{item.CODE_DESC}}</td>
                <td width="25%" class="status"><span
                        [class]="!item.STATUS ? 'rejected' : 'active'">{{item.STATUS ? 'Active'
                        :
                        'In-Active'}}</span></td>
                <td width="25%">
                    <i class="fa fa-pencil mx-2 pointer text-success" (click)="openModal(item.ID)"></i>
                    <i class="fa fa-trash ms-2 pointer text-danger" (click)="DeleteCurrencyMaster(item.ID)"></i>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="currencyModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Currency Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="currencyForm">
                    <div class="col-md-12">
                        <div class="form-group w-50">
                            <label class="form-label2">Code<span class="text-danger"> *</span></label>
                            <input type="text" [ngClass]="{'invalid':submitted && f.CODE.errors}" formControlName="CODE"
                                class="form-control2" maxlength="20">
                            <div *ngIf="submitted && f.CODE.errors" class="invalid-feedback">Code is required</div>
                        </div>
                        <div class="form-group">
                            <label class="form-label2">Description<span class="text-danger"> *</span></label>
                            <textarea type="text" id="desc" [ngClass]="{'invalid':submitted && f.CODE_DESC.errors}"
                                formControlName="CODE_DESC" class="form-control2"></textarea>
                            <div *ngIf="submitted && f.CODE_DESC.errors" class="invalid-feedback">Description is
                                required</div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-switch">
                                <input formControlName="STATUS" class="form-check-input" type="checkbox"
                                    role="switch" />
                                <label class="form-check-label">Status <span class="text-danger"> *</span></label>
                            </div>
                            <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Status is required </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!isUpdate" (click)="InsertCurrencyMaster()" class="form-btn me-2"
                    class="form-btn me-2">Save</button>
                <button (click)="ClearForm()" class="form-btn-light me-2">Clear</button>
                <button *ngIf="isUpdate" (click)="UpdateCurrencyMaster()" class="form-btn">Update</button>
            </div>
        </div>
    </div>
</div>