<div class="section-title">
    <h2>Container Movement</h2>
</div>

<div class="container">
    
    <section  class="services">
        <div>
            <div class="container mt-4">
                <div class="row mt-4">
                    <form [formGroup]="cmForm">
                        <div class="col-md-12">
                            <div class="row mb-2">                       
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <input formControlName="MANUALLY" class="form-check-input" type="checkbox"
                                                    role="switch" (change)="showDynamicFields()"/>
                                                <label class="form-check-label">Enter Container No. Manually</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 offset-md-6 text-end">
                                        <!-- <button class="form-btn d-none" #openBtn data-bs-toggle="modal"
                                        href="#bookingModal">Book
                                        Now</button> -->
                                        <button class="form-btn-primary" #openBtn data-bs-toggle="modal" href="#bookingModal">Upload Excel</button>
                                    </div>
                                </div>
    
                                <div class="modal fade" id="bookingModal" aria-labelledby="exampleModalLabel" tabindex="-1"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Upload Container Movement</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close" #closeBtn></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!onUpload">
                                                <input type="file" (change)="onFileChange($event)" name="file" id="file" />
                                                <label for="file">
                                                    <div>
                                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                                        <span class="formbold-drop-file">Upload</span>
                                                        <span class="formbold-file-item">Container Movement File</span>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="formbold-file-list formbold-mb-5" *ngIf="onUpload">
                                                <div class="formbold-file-item">
                                                    <span class="formbold-file-name">Container Movement File</span>
                                                    <button (click)="onUpload = false"><span class="bx bx-x-circle"></span></button>
                                                </div>
                                            </div>
                                          
                                          
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-md-5 mx-auto text-end">
                                                <button id="openModalButton"  data-bs-toggle="modal" href="#previewModal" hidden  >Open Modal</button>
                                                <button class="form-btn w-100"  (click)="openMyPreview()">Upload</button>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <div class="row" *ngIf="manually">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label2">Container No
                                                <span class="text-danger">
                                                    *</span>
                                            </label>
                                            <input type="text" class="form-control2" [ngClass]="{'invalid': submitted && f.CONTAINER_NO.errors}" formControlName="CONTAINER_NO"/>
                                            <div *ngIf="submitted && f.CONTAINER_NO.errors" class="invalid-feedback">Please enter Container
                                            No</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <button type="button" class="form-btn" style="margin-left: 6px;" (click)="getSingleContainer()">Get Container</button>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!manually">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label2">Booking/CRO No<span class="text-danger">
                                                *</span></label>
                                            <input type="text" class="form-control2" [ngClass]="{'invalid': submitted && f.BKCR_NO.errors}" formControlName="BKCR_NO"/>
                                            <div *ngIf="submitted && f.BKCR_NO.errors" class="invalid-feedback">Please enter Booking / CRO 
                                            No</div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4 mt-4">
                                        <button type="button" class="form-btn" style="margin-left: 6px;" (click)="getContainerList()">Get Containers</button>
                                    </div>
                                    
                                </div>
                                <section class="services" *ngIf="!manually && previewNoData">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-10 text-end">
                                                <h5>Sorry! No Containers found for the specified Booking/CRO number</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-5 mt-3 pt-5 mb-5">
                                                <img src="./../../../assets/img/doimg.jpg" class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </section>
                               <!-- fields and table -->
                                <div class="row" *ngIf="manually && showFields">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label2">Activity<span class="text-danger">
                                                *</span></label>
                                            <ng-select formControlName="ACTIVITY" [ngClass]="{'invalid': submitted && f.ACTIVITY.errors}" style="margin-top: 10px;">
                                                <ng-option value="" selected disabled>
                                                    --Activity--</ng-option>
                                                    <ng-option *ngFor="let act of cmForm.value.NEXT_ACTIVITY_LIST_SINGLE" value="{{act.ACT_CODE}}">{{act.ACT_NAME}}-{{act.ACT_CODE}}</ng-option>
                                                <!-- <ng-option *ngFor="let act of activityList1" value="{{act.ACT_CODE}}">{{act.ACT_NAME}}-{{act.ACT_CODE}}</ng-option> -->
                                            </ng-select>
                                            <div *ngIf="submitted && f.ACTIVITY.errors" class="invalid-feedback">Please enter
                                            Activity </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label2">Activity Date<span class="text-danger">
                                                *</span></label>
                                            <input formControlName="ACTIVITY_DATE" type="date" class="form-control2" [ngClass]="{'invalid': submitted && f.ACTIVITY_DATE.errors}" max="{{maxDate}}"/>
                                            <div *ngIf="submitted && f.ACTIVITY_DATE.errors" class="invalid-feedback">Please enter
                                            Activity Date </div>
                                        </div>
    
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label2">Location<span class="text-danger">
                                                *</span></label>
                                            <input type="text" class="form-control2" [ngClass]="{'invalid': submitted && f.LOCATION.errors}" formControlName="LOCATION"/>
                                            <div *ngIf="submitted && f.LOCATION.errors" class="invalid-feedback">Please enter
                                                Location </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="manually && showFields">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label2">Status</label>
                                        <ng-select formControlName="STATUS" [ngClass]="{'invalid': submitted && f.STATUS.errors}" style="margin-top: 10px;">
                                            <ng-option value="" selected disabled>
                                                --Status--</ng-option>
                                            <ng-option *ngFor="let status of statusList" value="{{status.DESC}}">{{status.DESC}}</ng-option>
                                        </ng-select>
                                        <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Please select
                                            Status
                                            </div>
                                            
                                        </div>
                                   </div> 
                                   <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label2">Previous Activity</label>
                                        <input type="text" class="form-control2" [ngClass]="{'invalid': submitted && f.PREV_ACTIVITY.errors}" formControlName="PREV_ACTIVITY"/>
                                        <div *ngIf="submitted && f.PREV_ACTIVITY.errors" class="invalid-feedback">Please enter Previous
                                        Activity</div>
                                    </div>
                                </div>
                                  
                                </div>
                                
                                    
                            </div>
                            <div class="row" *ngIf="!manually && showTable">
                                <hr>
                                <div class="table-responsive">
                                    <table class="ratetable" style="font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="checkbox-wrap checkbox-primary" style="margin-bottom: 10px;">
                                                        <input type="checkbox" (change)="postSelectedContainerList(item,$event,0)">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>
                                                <!-- <td><input type="checkbox" /></td> -->
                                                <th>Sr No.</th>
                                                <th>Container No</th>
                                                <th>Previous Activity</th>
                                                <th>Activity<span class="text-danger">*</span>
                                                </th>
                                                <th>Activity Date<span class="text-danger">*</span>
                                                    <span class="rounded-btn" style="margin-left: 50px;">
                                                        <a (click)="copyDate()"><i class="fa fa-copy text-light"></i></a>
                                                    </span>
                                                    
                                                </th>
                                                <th>Location<span class="text-danger">*</span>
                                                    <span class="rounded-btn" style="margin-left: 50px;">
                                                        <a (click)="copyLocation()"><i class="fa fa-copy text-light"></i></a>
                                                    </span>
                                                </th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of f2;let i = index" [formGroup]="f1(item)">
                                                <!-- <td><input (change)="postSelectedContainerList(item)" type="checkbox" /></td> -->
                                                <td>
                                                    <label class="checkbox-wrap checkbox-primary">
                                                        <input type="checkbox" id="chck{{i}}" (change)="postSelectedContainerList(item,$event,i)">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
    
                                                <td>{{i+1}}</td>
                                                <td>{{cmForm.value.CONTAINER_LIST2[i].CONTAINER_NO}}</td>
                                                <td>{{cmForm.value.CONTAINER_LIST2[i].PREV_ACTIVITY}}</td>
        
                                                <td class="col-md-2">
                                                    <ng-select formControlName="ACTIVITY">
                                                        <ng-option value="" selected disabled>
                                                            --Activity--</ng-option>
                                                        <ng-option *ngFor="let act of cmForm.value.CONTAINER_LIST2[i].NEXT_ACTIVITY_LIST" value="{{act.split('-')[0]}}">{{act.split('-')[0]}}-{{act.split('-')[1]}}</ng-option>
                                                    </ng-select>
    
                                                    <!-- <ng-select formControlName="ACTIVITY">
                                                        <ng-option value="" selected disabled>
                                                            --Activity--</ng-option>
                                                        <ng-option *ngFor="let act of cmForm.value.CONTAINER_LIST2[i].NEXT_ACTIVITY_LIST" value="{{act.split('-')[0]}}">{{act}}</ng-option>
                                                    </ng-select> -->
                                                </td>
                                                <td>
                                                    <input formControlName="ACTIVITY_DATE" type="date" class="form-control2" max="{{maxDate}}" id="actDate"/>
                                                </td>
                                                <td>
                                                    <input formControlName="LOCATION" type="text" class="form-control2" />
                                                </td>
                                                <td class="col-md-2">
                                                    <ng-select formControlName="STATUS" [readonly]="isAgent">
                                                        <ng-option value="" selected disabled>
                                                            --Status--</ng-option>
                                                        <ng-option *ngFor="let status of statusList" value="{{status.DESC}}">{{status.DESC}}</ng-option>
                                                    </ng-select>
                                                </td>
                                                
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <div class="row mt-4">
                                   <div class="col-md-6 offset-md-6 text-end">
                                        <!-- <button type="button" class="form-btn" style="margin-right: 6px;" (click)="cancelContainerMovement()">Clear</button> -->
                                         <button type="button" class="form-btn" style="margin-right: 6px;" (click)="saveCMList()">Save Movement</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                   
                </div>
                
                <div class="row mt-4" *ngIf="manually && showFields">
                    <hr>
                    <div class="col-md-6 offset-md-6 text-end">
                        <button type="button" class="form-btn" style="margin-right: 6px;" (click)="resetContainerMovement()">Clear</button>
                        <button type="button" class="form-btn" style="margin-right: 6px;" (click)="saveContainerMovement()">Save Movement</button>
                    </div>
                </div>
        
            </div>
    
        </div>
    </section>

</div>


<div class="modal fade" id="previewModal" aria-labelledby="exampleModalLabel" tabindex="-1"
                            aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Preview Container Movement</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" #closeBtn></button>
                                    </div>
                                    <div class="modal-body">
                                      
                                      <table class="table table-bordered">
                                        <thead><tr>
                                            <th>Booking No</th>
                                            <th>CRO No</th>
                                            <th>Container No</th>
                                            <th>Activity</th>
                                            <th>Activity Date</th>
                                            <th>Location</th>
                                            <th>Status</th>
                                        </tr></thead>
                                        <tbody>
                                            <tr *ngFor="let data of containerList"
                                            formGroup="d">
                                                <td>{{data.BOOKING_NO}}</td>
                                                <td>{{data.CRO_NO}}</td>
                                                <td>{{data.CONTAINER_NO}}</td>
                                                <td>{{data.ACTIVITY}}</td>
                                                <td>{{data.ACTIVITY_DATE | date: 'dd/MM/yyyy'}}</td>
                                                <td>{{data.LOCATION}}</td>
                                                <td>{{data.STATUS}}</td>
                                            </tr>
                                        </tbody>
                                      </table>
                                      
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-5 mx-auto text-end">
                                            <button class="form-btn w-100" (click)="getCMForm()">Upload</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
