<div class="section-title mb-5">
    <h2>Upload Exchange Rate</h2>
</div>
<div class="col-md-3 mx-auto mt-5">
    <div class="formbold-mb-5 formbold-file-input" *ngIf="!onUpload">
        <input type="file" (change)="onFileChange($event)" name="file" id="file" />
        <label for="file">
            <div>
                <h3><i class="fa fa-file-pdf-o"></i></h3>
                <span class="formbold-drop-file">Upload</span>
                <span class="formbold-file-item">EXC RATE File</span>
            </div>
        </label>
    </div>
    <div class="formbold-file-list formbold-mb-5" *ngIf="onUpload">
        <div class="formbold-file-item">
            <span class="formbold-file-name">EXC RATE File</span>
            <button (click)="onUpload = false"><span class="bx bx-x-circle"></span></button>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button class="form-btn w-90 me-3" (click)="postExcRateList()">Upload</button>
        <a (click)="downloadFile()" tooltip="Download Excel Format" placement="right" class="pointer"><img src="assets/img/excRate.png" width="37px" height="37px"></a>
    </div>
    
</div>