<div class="section-title">
    <h2>{{'Header.title'|translate}}</h2>
</div>
<div class="col-md-11 mx-auto">
    <div class="row">
        <div class="col-md-9" [hidden]="hideHistory">
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="data-table-config">
                    <thead>
                        <tr>
                            <th width="15%">BL No</th>
                            <th width="15%">Shipper Name</th>
                            <th width="7%">BL Date</th>
                            <th width="15%">Booking No</th>
                            <th width="15%">Cons. Name</th>
                            <th width="5%">POL</th>
                            <th width="5%">POD</th>
                            <th width="9%">Status</th>
                            <th width="5%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="alert" role="alert" *ngFor="let item of blHistoryList;let i = index">
                            <td width="15%">
                                {{item.BL_NO}}
                            </td>
                            <td width="15%">
                                {{item.SHIPPER}}
                            </td>
                            <td width="7%">
                                {{item.BL_ISSUE_DATE | date:'mediumDate'}}
                            </td>
                            <td width="15%">
                                {{item.BOOKING_NO}}
                            </td>
                            <td width="15%">
                                {{item.CONSIGNEE}}
                            </td>
                            <td width="5%">
                                {{item.PORT_OF_LOADING}}
                            </td>
                            <td width="5%">
                                {{item.PORT_OF_DISCHARGE}}
                            </td>
                            <td width="9%" class="status"><span
                                [class]="item.BL_STATUS == 'Drafted' ? 'waiting' : item.BL_STATUS == 'Finalized' ? 'active' : 'rejected'">{{item.BL_STATUS}}</span>
                                
                            </td>
                           
                            <td width="5%" *ngIf="item.BL_STATUS=='Drafted'">
                                <span class="pointer"><a (click)="getBLDetailsForEdit(item.BL_NO)"><i class='bx bxs-pencil me-2'></i></a>
                                    <a (click)="viewBL(item.BL_NO,false)"><i class='fa fa-eye me-2'></i></a>
                                    <a (click)="makeItFinalize(item.BL_NO)"><img src="assets/img/check-mark.png"></a>
                                </span>
                            </td>
                            <td width="5%" *ngIf="item.BL_STATUS=='Finalized'">
                                <div class="pointer"><a (click)="viewBL(item.BL_NO,false)"><img src="assets/img/approved.png" class="me-3"></a>  
                                    <a (click)="viewBL(item.BL_NO,true)"><img src="assets/img/nn.png" width="23px" height="23px"></a>
                                </div>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div [class]="hideHistory ? 'col-md-12':'col-md-3'">
            <div class="col-md-6 offset-md-6 text-end">
                <button class="form-btn-primary mb-3" (click)="manualBL()"><i
                        class="fa fa-plus me-2"></i>Manual BL</button>
            </div>
            <!-- <div class="tehgjxt-end">
                <button class="form-btn w-50 mb-3" (click)="manualBL()">Manual BL</button>
            </div> -->
            <div class="tabs mb-4" *ngIf="!isBLForm">
                <input type="radio" (click)="tabs = '1'" class="d-none" id="radio-1" name="tabs" checked />
                <label class="tab" for="radio-1">{{'Header.NewBL'|translate}}</label>
                <input type="radio" (click)="tabs = '2'" class="d-none" id="radio-2" name="tabs" />
                <label class="tab" for="radio-2">{{'Header.SplitBL'|translate}}</label>
                <span class="glider"></span>
            </div>
            <div *ngIf="!isBLForm && tabs=='1'">
                <div class="formbold-mb-5 formbold-file-input" *ngIf="!onUpload">
                    <input type="file" (change)="onFileChange($event)" name="file" id="file" />
                    <label for="file">
                        <div>
                            <h3><i class="fa fa-file-pdf-o"></i></h3>
                            <span class="formbold-drop-file">Upload</span>
                            <span class="formbold-file-item">SI File</span>
                        </div>
                    </label>
                </div>
                <div class="formbold-file-list formbold-mb-5" *ngIf="onUpload">
                    <div class="formbold-file-item">
                        <span class="formbold-file-name">SI File</span>
                        <button (click)="onUpload = false"><span class="bx bx-x-circle"></span></button>
                    </div>
                </div>
                <div class="col-md-5 mx-auto text-end">
                    <button class="form-btn w-100" (click)="getBLForm()">{{'Button.Upload'|translate}}</button>
                </div>
            </div>
            <div *ngIf="!isBLForm && tabs=='2'">
                <div class="form-group">
                    <label class="form-label2">BL No</label>
                    <input type="text" class="form-control2" [(ngModel)]="blNo" />
                </div>
                <div class="col-md-6 mx-auto text-end">
                    <button class="form-btn w-100" (click)="getBLDetails()">Submit</button>
                </div>
            </div>
            <div *ngIf="isBLForm">
                <a (click)="tabs='1';isBLForm = false;hideHistory=false;" class="pointer" style="color: #0d6efd;"><i class='bx bx-arrow-back'></i>Back to List</a>
                <!-- <div class="text-end">
                    <button (click)="tabs='1';isBLForm = false;hideHistory=false;" class="form-btn-primary">Re-Upload</button>
                </div> -->
                <form [formGroup]="blForm">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Shipper Name</label>
                                <textarea type="text" formControlName="SHIPPER" class="form-control2" [ngClass]="{'invalid': submitted && blf.SHIPPER.errors}"
                                    style="overflow:hidden;height: max-content;"></textarea>
                                <div *ngIf="submitted && blf.SHIPPER.errors" class="invalid-feedback">Please
                                        Enter Shipper Name </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Shipper Address</label>
                                <textarea type="text" formControlName="SHIPPER_ADDRESS" class="form-control2" [ngClass]="{'invalid': submitted && blf.SHIPPER_ADDRESS.errors}"
                                    style="overflow:hidden;height: max-content;"></textarea>
                                <div *ngIf="submitted && blf.SHIPPER_ADDRESS.errors" class="invalid-feedback">Please
                                        Enter Shipper Address </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Consignee Name</label>
                                <textarea type="text" formControlName="CONSIGNEE" class="form-control2" [ngClass]="{'invalid': submitted && blf.CONSIGNEE.errors}"
                                    style="overflow:hidden;height: max-content;"></textarea>
                                <div *ngIf="submitted && blf.CONSIGNEE.errors" class="invalid-feedback">Please
                                        Enter Consignee Name </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Consignee Address</label>
                                <textarea type="text" formControlName="CONSIGNEE_ADDRESS" class="form-control2" [ngClass]="{'invalid': submitted && blf.CONSIGNEE_ADDRESS.errors}"
                                    style="overflow:hidden;height: max-content;"></textarea>
                                    <div *ngIf="submitted && blf.CONSIGNEE_ADDRESS.errors" class="invalid-feedback">Please
                                        Enter Consignee Address </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Notify Party</label>
                                <input type="text" formControlName="NOTIFY_PARTY" class="form-control2" [ngClass]="{'invalid': submitted && blf.NOTIFY_PARTY.errors}"/>
                                <div *ngIf="submitted && blf.NOTIFY_PARTY.errors" class="invalid-feedback">Please
                                    Enter Notify Party</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Notify Party Address</label>
                                <textarea type="text" formControlName="NOTIFY_PARTY_ADDRESS" class="form-control2" [ngClass]="{'invalid': submitted && blf.NOTIFY_PARTY_ADDRESS.errors}"
                                    style="overflow:hidden;height: max-content;"></textarea>
                                    <div *ngIf="submitted && blf.NOTIFY_PARTY_ADDRESS.errors" class="invalid-feedback">Please
                                        Enter Notify Party Address</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Pre Carriage by</label>
                                <input formControlName="PRE_CARRIAGE_BY" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.PRE_CARRIAGE_BY.errors}"/>
                                <div *ngIf="submitted && blf.PRE_CARRIAGE_BY.errors" class="invalid-feedback">Please
                                    Enter Pre Carriage By</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Place of Receipt</label>
                                <input formControlName="PLACE_OF_RECEIPT" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.PLACE_OF_RECEIPT.errors}"/>
                                <div *ngIf="submitted && blf.PLACE_OF_RECEIPT.errors" class="invalid-feedback">Please
                                    Enter Place of Receipt</div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Vessel Name</label>
                                <input formControlName="VESSEL_NAME" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.VESSEL_NAME.errors}"/>
                                <div *ngIf="submitted && blf.VESSEL_NAME.errors" class="invalid-feedback">Please
                                    Enter Vessel Name</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Voyage No</label>
                                <input formControlName="VOYAGE_NO" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.VOYAGE_NO.errors}"/>
                                <div *ngIf="submitted && blf.VOYAGE_NO.errors" class="invalid-feedback">Please
                                    Enter Voyage No</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Port of Loading</label>
                                <input formControlName="PORT_OF_LOADING" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.PORT_OF_LOADING.errors}"/>
                                <div *ngIf="submitted && blf.PORT_OF_LOADING.errors" class="invalid-feedback">Please
                                    Enter Port of Loading</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Port of Discharge</label>
                                <input formControlName="PORT_OF_DISCHARGE" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.PORT_OF_DISCHARGE.errors}"/>
                                <div *ngIf="submitted && blf.PORT_OF_DISCHARGE.errors" class="invalid-feedback">Please
                                    Enter Port of Discharge</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Place of Delivery</label>
                                <input formControlName="PLACE_OF_DELIVERY" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.PLACE_OF_DELIVERY.errors}"/>
                                <div *ngIf="submitted && blf.PLACE_OF_DELIVERY.errors" class="invalid-feedback">Please
                                    Enter Place of Delivery</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Final Destination</label>
                                <input formControlName="FINAL_DESTINATION" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.FINAL_DESTINATION.errors}"/>
                                <div *ngIf="submitted && blf.FINAL_DESTINATION.errors" class="invalid-feedback">Please
                                    Enter Final Destination</div>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="isManual">
                            <div class="form-group">
                                <label class="form-label2">Booking No</label>
                                <input formControlName="BOOKING_NO" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.BOOKING_NO.errors}"/>
                                <div *ngIf="submitted && blf.BOOKING_NO.errors" class="invalid-feedback">Please
                                    Enter Booking No.</div>
                            </div>
                        </div>
                        <div class="col-md-3" *ngIf="isManual">
                            <div class="form-group">
                                <label class="form-label2">CRO No</label>
                                <input formControlName="CRO_NO" type="text" class="form-control2" [ngClass]="{'invalid': submitted && blf.CRO_NO.errors}"/>
                                <div *ngIf="submitted && blf.CRO_NO.errors" class="invalid-feedback">Please
                                    Enter CRO No.</div>
                            </div>
                        </div>
                    </div>
                    <h6 class="d-inline mt-3">Container Details</h6>
                    <hr>
                    <div class="row" *ngIf="!editBL && !isSplit">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Marks & Numbers</label>
                                <textarea class="form-control2" formControlName="MARKS_NOS" [ngClass]="{'invalid': submitted && blf.MARKS_NOS.errors}"></textarea>
                                <div *ngIf="submitted && blf.MARKS_NOS.errors" class="invalid-feedback">Please
                                    Enter Marks & Numbers</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Description of Goods</label>
                                <textarea type="text" class="form-control2" formControlName="DESC_OF_GOODS" [ngClass]="{'invalid': submitted && blf.DESC_OF_GOODS.errors}"></textarea>
                                <div *ngIf="submitted && blf.DESC_OF_GOODS.errors" class="invalid-feedback">Please
                                    Enter Description of Goods</div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="editBL || isSplit">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Marks & Numbers</label>
                                <textarea class="form-control2" formControlName="MARKS_NOS" [ngClass]="{'invalid': submitted && blf.MARKS_NOS.errors}"></textarea>
                                <div *ngIf="submitted && blf.MARKS_NOS.errors" class="invalid-feedback">Please
                                    Enter Marks & Numbers</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Description of Goods</label>
                                <textarea type="text" class="form-control2" formControlName="DESC_OF_GOODS" [ngClass]="{'invalid': submitted && blf.DESC_OF_GOODS.errors}"></textarea>
                                <div *ngIf="submitted && blf.DESC_OF_GOODS.errors" class="invalid-feedback">Please
                                    Enter Description of Goods</div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="table-responsive" *ngIf="isSplit && !isManual">
                        <table class="table" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"
                                            (change)="getContainerList(1,$event,-1)" /></th>
                                    <th>Sr No</th>
                                    <th>Container No</th>
                                    <th>Container Type</th>
                                    <th>Gross Weight</th>
                                    <th>Measurement</th>
                                    <th>Seal No</th>
                                    <th>Agent Seal No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of f;let i = index" [formGroup]="getf1(item)">
                                    <td class="col-md-1"><input id="chck{{i}}" (change)="getContainerList(item,$event,i)"
                                            type="checkbox" />
                                    </td>
                                    <td class="col-md-1">{{i+1}}</td>
                                    <td class="col-md-1">{{blForm.value.CONTAINER_LIST2[i].CONTAINER_NO}}</td>
                                    <td class="col-md-1">{{blForm.value.CONTAINER_LIST2[i].CONTAINER_TYPE}}</td>
                                    <td class="col-md-1"><input formControlName="GROSS_WEIGHT" type="text"
                                            class="form-control2" style="height: calc(1rem + 0.75rem + 2px);" />
                                    </td>
                                    <td class="col-md-1"><input formControlName="MEASUREMENT" type="text"
                                            class="form-control2" style="height: calc(1rem + 0.75rem + 2px);" />
                                    </td>
                                    <td class="col-md-1">{{blForm.value.CONTAINER_LIST2[i].SEAL_NO}}</td>
                                    <td class="col-md-1">{{blForm.value.CONTAINER_LIST2[i].AGENT_SEAL_NO}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" *ngIf="!isSplit && !isManual">
                        <table class="table" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    
                                    <th>Sr No</th>
                                    <th>Container No</th>
                                    <th>Container Type</th>
                                    <th>Gross Weight</th>
                                    <th>Measurement</th>
                                    <th>Seal No</th>
                                    <th>Agent Seal No</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of f;let i = index" [formGroup]="getf1(item)">
                                    
                                    <td class="col-md-1">{{i+1}}</td>
                                    <td class="col-md-1">{{blForm.value.CONTAINER_LIST2[i].CONTAINER_NO}}</td>
                                    <td class="col-md-1">{{blForm.value.CONTAINER_LIST2[i].CONTAINER_TYPE}}</td>
                                    <td class="col-md-1">
                                        {{blForm.value.CONTAINER_LIST2[i].GROSS_WEIGHT}}
                                    </td>
                                    <td class="col-md-1">
                                        {{blForm.value.CONTAINER_LIST2[i].MEASUREMENT}}
                                    </td>
                                    <td class="col-md-1">{{blForm.value.CONTAINER_LIST2[i].SEAL_NO}}</td>
                                    <td class="col-md-1">{{blForm.value.CONTAINER_LIST2[i].AGENT_SEAL_NO}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" *ngIf="isManual && !isSplit">
                        <div class="col-md-12 offset-md-12 text-end mb-4">
                            <button (click)="addContainers()" class="form-btn btn-sm">
                                <i class="fa fa-plus me-2"></i>Add Containers</button>
                        </div>
                        <table class="table" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    
                                    <th>Sr No</th>
                                    <th>Container No</th>
                                    <th>Container Type</th>
                                    <th>Gross Weight</th>
                                    <th>Measurement</th>
                                    <th>Seal No</th>
                                    <th>Agent Seal No</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of f;let i = index" [formGroup]="getf1(item)">
                                    
                                    <td class="col-md-1">{{i+1}}</td>
                                    <td class="col-md-1">
                                        <input formControlName="CONTAINER_NO" type="text"
                                            class="form-control2" style="height: calc(1rem + 0.75rem + 2px);" />
                                    </td>
                                    <td class="col-md-1">
                                        <input formControlName="CONTAINER_TYPE" type="text"
                                            class="form-control2" style="height: calc(1rem + 0.75rem + 2px);" />
                                    </td>
                                    <td class="col-md-1">
                                        <input formControlName="GROSS_WEIGHT" type="text"
                                            class="form-control2" style="height: calc(1rem + 0.75rem + 2px);" />
                                    </td>
                                    <td class="col-md-1">
                                        <input formControlName="MEASUREMENT" type="text"
                                        class="form-control2" style="height: calc(1rem + 0.75rem + 2px);" />
                                    </td>
                                    <td class="col-md-1">
                                        <input formControlName="SEAL_NO" type="text"
                                            class="form-control2" style="height: calc(1rem + 0.75rem + 2px);" />
                                    </td>
                                    <td class="col-md-1">
                                        <input formControlName="AGENT_SEAL_NO" type="text"
                                            class="form-control2" style="height: calc(1rem + 0.75rem + 2px);" />
                                    </td>
                                    <td class="col-md-1 text-center">
                                        <a (click)="removeItem(j)" class="pointer"><i style="font-size:15px"
                                                class="fa fa-trash mt-4"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Total No of Containers</label>
                                <input type="text" formControlName="TOTAL_CONTAINERS" class="form-control2" />
                            </div>
                        </div>
                    </div>
                    <h6 *ngIf="!isManual">Freight & Charges</h6>
                    <hr>
                    <div class="table-responsive" *ngIf="!isManual">
                        <table class="table" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Charge Code</th>
                                    <th>Rate</th>
                                    <th>Payment Term</th>
                                    <th>Place of Payment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of chargeList; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.CHARGE_CODE}}</td>
                                    <td>{{item.CURRENCY}} {{item.RATE_REQUESTED}}</td>
                                    <td>{{item.PAYMENT_TERM}}</td>
                                    <td>{{item.TRANSPORT_TYPE}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Prepaid at</label>
                                <input type="text" formControlName="PREPAID_AT" class="form-control2" [ngClass]="{'invalid': submitted && blf.PREPAID_AT.errors}"/>
                                <div *ngIf="submitted && blf.PREPAID_AT.errors" class="invalid-feedback">Please
                                    Enter Prepaid At</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Payable at</label>
                                <input type="text" formControlName="PAYABLE_AT" class="form-control2" [ngClass]="{'invalid': submitted && blf.PAYABLE_AT.errors}"/>
                                <div *ngIf="submitted && blf.PAYABLE_AT.errors" class="invalid-feedback">Please
                                    Enter Payable At</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Place of Issue</label>
                                <input type="text" formControlName="BL_ISSUE_PLACE" class="form-control2" [ngClass]="{'invalid': submitted && blf.BL_ISSUE_PLACE.errors}"/>
                                <div *ngIf="submitted && blf.BL_ISSUE_PLACE.errors" class="invalid-feedback">Please
                                    Enter BL Issue Place</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Issue Date</label>
                                <input type="date" formControlName="BL_ISSUE_DATE" class="form-control2" [ngClass]="{'invalid': submitted && blf.BL_ISSUE_DATE.errors}" min="{{minDate}}"/>
                                <div *ngIf="submitted && blf.BL_ISSUE_DATE.errors" class="invalid-feedback">Please
                                    Enter BL Issue Date</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Total prepaid in local currency</label>
                                <input type="text" formControlName="TOTAL_PREPAID" class="form-control2" [ngClass]="{'invalid': submitted && blf.TOTAL_PREPAID.errors}"/>
                                <div *ngIf="submitted && blf.TOTAL_PREPAID.errors" class="invalid-feedback">Please
                                    Enter Total Prepaid</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">No of Original BL</label>
                                <input type="text" formControlName="NO_OF_ORIGINAL_BL" class="form-control2" [ngClass]="{'invalid': submitted && blf.NO_OF_ORIGINAL_BL.errors}"/>
                                <div *ngIf="submitted && blf.NO_OF_ORIGINAL_BL.errors" class="invalid-feedback">Please
                                    Enter No. of Original BL</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <label class="switch">
                            <input type="checkbox" formControlName="BLType" class="switch-input">
                            <span class="switch-label" data-on="Original" data-off="Sea Way"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </div> -->
                    <div class="row mb-4">
                        <!-- <div class="col-md-2 offset-md-10" style="text-align: right;" *ngIf="editBL">
                            <button class="form-btn" (click)="updateBL()" *ngIf="blForm.value.BLType">
                                Save as Original
                            </button>
                            <button class="form-btn" (click)="updateBL()" *ngIf="!blForm.value.BLType">
                                Save as Draft
                            </button>
                        </div> -->
                        <div class="col-md-2 offset-md-10" style="text-align: right;" *ngIf="editBL">
                            <button class="form-btn" (click)="updateBL()">
                                Save as Draft
                            </button>
                        </div>
                        <div class="col-md-2 offset-md-10" style="text-align: right;" *ngIf="!editBL || isManual">
                            <button class="form-btn" (click)="createBL()">
                                Save as Draft
                            </button>
                        </div>
                        <!-- <div class="col-md-2 offset-md-10" style="text-align: right;" *ngIf="!editBL">
                            <button class="form-btn" (click)="createBL()" *ngIf="blForm.value.BLType">
                                Save as Original
                            </button>
                            <button class="form-btn" (click)="createBL()" *ngIf="!blForm.value.BLType">
                                Save as Draft
                            </button>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>