<div class="section-title">
    <h2>{{'Header.title'|translate}}</h2>
</div>

<div class="container">
    <form class="mx-5" [formGroup]="doListForm">
        <div class="col-md-6 offset-md-6 text-end">
            <button class="form-btn-primary" routerLink="/home/new-do"><i
                    class="fa fa-plus me-1"></i>{{'Button.NewDeliveryOrder'|translate}}</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">{{'Header.DONo'|translate}}</label>
                    <input formControlName="DO_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.FromDate'|translate}}</label>
                    <input formControlName="FROM_DATE" (change)="doListForm.get('TO_DATE')?.setValue('')"
                        onkeypress="return false" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.ToDate'|translate}}</label>
                    <input formControlName="TO_DATE" onkeypress="return false"
                        [min]="doListForm.get('FROM_DATE')?.value" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2" (click)="Search()">{{'Button.Search'|translate}}</button>
                <button class="form-btn-light" (click)="Clear()">{{'Button.Clear'|translate}}</button>
            </div>
        </div>
    </form>
    <section class="services" *ngIf="previewNoData">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 text-end">
                    <h5>Sorry! No records found</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5 mt-3 pt-5 mb-5">
                    <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="services" *ngIf="previewList">
        <div class="container">
            <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
                <div [class]="isScroll ? 'force-overflow' : ''">
                    <div class="icon-box icon-box-cyan text-start" *ngFor="let item of doList; let i = index">
                        <div class="row">
                            <div class="col-md-7">
                                <h4 class="title"><a (click)="getDODetails(item.DO_NO)">{{item.DO_NO}} - </a>
                                    <span class="shipTerms">{{item.SHIPPING_TERMS}}</span>
                                </h4>
                                <p class="description"> <span class="bx bx-user"></span> {{item.CLEARING_PARTY}} | <span
                                        class="bx bxs-truck"></span>
                                    {{item.ContainerCount?item.ContainerCount:0}} Containers | <span
                                        class="text-danger">
                                        <span><i class='bx bx-current-location'></i></span>
                                        {{item.ACCEPTANCE_LOCATION}}</span></p>
                                <p class="description"><i class='bx bx-time-five'></i> <span class="text-info">
                                        {{item.DO_DATE | date:'mediumDate'}} - {{item.DO_VALIDITY | date:'mediumDate'}}
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-5 text-end">
                                <span style="font-size: 15px;"
                                    class="badge rounded-pill bg-success ms-3">{{item.BL_NO}}</span>
                                <div class="description" style="font-size:large;color: purple;"> <span
                                        class="bx bxs-ship"></span> {{item.ARRIVAL_DATE | date:'mediumDate'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="mx-auto loadImg mt-5" *ngIf="isLoading">
    <div class="loader">
    </div>
</div>