<div class="section-title">
    <h2>Delivery Orders</h2>
</div>

<div class="container">
    <form class="mx-5" [formGroup]="doListForm">
        <div class="col-md-6 offset-md-6 text-end">
            <button class="form-btn-primary" routerLink="/home/new-do">New Delivery Order</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">DO No</label>
                    <input formControlName="DO_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">From Date</label>
                    <input formControlName="FROM_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">To Date</label>
                    <input formControlName="TO_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2" (click)="Search()">Search</button>
                <button class="form-btn" (click)="Clear()">Clear</button>
            </div>
        </div>
    </form>
    <section class="services" *ngIf="previewNoData">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 text-end">
                    <h5>Sorry! No records found</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5 mt-3 pt-5 mb-5">
                    <img src="./../../../assets/img/doimg.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="services"  *ngIf="previewList">
        <div class="container">
            <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
                <div [class]="isScroll ? 'force-overflow' : ''">
                    <div class="icon-box icon-box-cyan text-start" *ngFor="let item of doList; let i = index">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title"><a (click)="getDODetails(item.DO_NO)">{{item.DO_NO}}</a>
                                </h4>
                                <p class="description"> <span class="bx bx-user"></span> {{item.CLEARING_PARTY}} | <span
                                        class="bx bxs-truck"></span>
                                    {{"10"}} Containers | <span class="text-danger">
                                        <span><i class='bx bx-current-location'></i></span>
                                        {{item.ACCEPTANCE_LOCATION}}</span></p>
                                <p class="description"><i class='bx bx-time-five'></i> <span class="text-info">
                                    {{item.DO_DATE | date:'mediumDate'}} - {{item.DO_VALIDITY | date:'mediumDate'}} </span>
                             </p>
                            </div>
                        </div> 
                    </div> 
                </div> 
            </div>  
        </div> 
    </section>
</div>


                                    
