<div class="container-fluid" style="background-color: #f4f6f9">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card border">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <img src="../../../assets/img/logo_p.png" height="50" width="100" />
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Welcome to Prime Maritime! 👋</h4>
                    <p class="mb-4">Please sign-in to your account</p>

                    <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label2">Email or Username</label>
                            <input type="text" class="form-control2" id="email" name="email-username"
                                placeholder="Enter your email or username" autofocus />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label2">Password</label>
                            <input type="password" class="form-control2" id="email" name="email-username"
                                placeholder="Enter your password" autofocus />
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me" />
                                <label class="form-check-label" for="remember-me"> Remember Me </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>