.panel-default > .panel-heading {
  color: white;
  background-color: #324960;
  border-color: #f5f5f5;
}

.panel {
  border: none;
}

.panel-body {
  color: #000;
}

a:hover,
a:focus {
  color: white;
  text-decoration: none;
}

label {
  font-weight: 400;
  font-size: 14px;
  color: #aeaeae;
}
