<div class="section-title">
    <h2>{{'Header.title2'|translate}}</h2>
</div>
<div class="container">
    <a routerLink="/home/operations/cro-list"><i class='bx bx-arrow-back'></i>Back to List</a>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="bookingNo">
                    <label class="form-label">{{'Header.BookingNo'|translate}}</label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="form-btn me-2" (click)="getBookingDetails()">{{'Header.CreateCro'|translate}}</button>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isCRO">
        <div class="col-md-4">
            <div class="services" style="font-size: 14px;">
                <div class="icon-box text-start border scrollbar" id="style-3">
                    <div class="force-overflow">
                        <h6>{{'Header.BookingDetails'|translate}}</h6>
                        <hr>
                        <p class="description text-danger">{{bookingDetails?.BOOKING_NO}}</p>
                        <p class="description"><span class="bx bxs-ship me-1"></span>{{bookingDetails?.POL}}
                            <i class='bx bxs-right-arrow-circle mx-2'></i>
                            <span class="bx bxs-ship me-2"></span>{{bookingDetails?.POD}}
                        </p>
                        <p class="description"> <i class="bx bxs-ship me-1"></i>{{bookingDetails?.VESSEL_NAME}}
                            ({{bookingDetails?.VOYAGE_NO}})</p>
                        <p class="description"><i class='bx bx-history me-1'></i> <span
                                style="font-weight: 500;">ETA</span> : {{bookingDetails?.ETA
                            |
                            date:'mediumDate'}} - <span style="font-weight: 500;">ETD</span> : {{bookingDetails?.ETD |
                            date:'mediumDate'}}</p>
                        <p class="description"><i class="bx bx-user me-1"></i>{{bookingDetails?.CUSTOMER_NAME}}</p>
                        <h6 class="mt-3">{{'Header.ContainerDetails'|translate}}</h6>
                        <hr>
                        <div *ngFor="let item of containerList">
                            <p class="description">{{item.CONTAINERS}} [{{item.SERVICE_MODE}}]</p>
                            <p class="description"><i class="bx bx-box me-2"></i>{{item.COMMODITY}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form [formGroup]="croForm">
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="form-group">
                            <ng-select [ngClass]="{'invalid': submitted && f.STUFFING_TYPE.errors}"
                                formControlName="STUFFING_TYPE">
                                <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                <ng-option value="CFS">CFS</ng-option>
                                <ng-option value="FACTORY">FACTORY</ng-option>
                                <ng-option value="DOCK">DOCK</ng-option>
                            </ng-select>
                            <label class="form-label-ddl">{{'Header.Stuffingtype'|translate}}<span class="text-danger">
                                    *</span></label>
                            <div *ngIf="submitted && f.STUFFING_TYPE.errors" class="invalid-feedback">Please
                                select
                                Stuffing Type</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <ng-select [ngClass]="{'invalid': submitted && f.EMPTY_CONT_PCKP.errors}"
                                formControlName="EMPTY_CONT_PCKP">
                                <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                <ng-option *ngFor="let item of icdList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                    ({{item.CODE}})</ng-option>
                                <ng-option *ngFor="let item of cfsList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                    ({{item.CODE}})</ng-option>
                                <ng-option *ngFor="let item of depoList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                    ({{item.CODE}})</ng-option>
                            </ng-select>
                            <label class="form-label-ddl">{{'Header.ContPickupPoint'|translate}}<span
                                    class="text-danger"> *</span></label>
                            <div *ngIf="submitted && f.EMPTY_CONT_PCKP.errors" class="invalid-feedback">Please select
                                Container Pickup Point</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <ng-select [ngClass]="{'invalid': submitted && f.LADEN_ACPT_LOCATION.errors}"
                                formControlName="LADEN_ACPT_LOCATION">
                                <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                <ng-option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                    ({{item.CODE}})</ng-option>
                                <ng-option *ngFor="let item of terminalList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                    ({{item.CODE}})</ng-option>
                            </ng-select>
                            <label class="form-label-ddl">{{'Header.LadenAcptLocation'|translate}}<span
                                    class="text-danger"> *</span></label>
                            <div *ngIf="submitted && f.LADEN_ACPT_LOCATION.errors" class="invalid-feedback">Please
                                select
                                Laden act Location</div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="date" min="{{currentDate}}" class="form-control"
                                [ngClass]="{'invalid': submitted && f.CRO_VALIDITY_DATE.errors}"
                                formControlName="CRO_VALIDITY_DATE">
                            <label class="form-label">{{'Header.CroValidityDate'|translate}} <span class="text-danger">
                                    *</span></label>
                            <div *ngIf="submitted && f.CRO_VALIDITY_DATE.errors" class="invalid-feedback">Please select
                                Cro Validity Date</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" [ngClass]="{'invalid':submitted && f.REQ_QUANTITY.errors}" maxlength="10"
                                formControlName="REQ_QUANTITY" class="form-control" (keypress)="numericOnly($event)">
                            <label class="form-label">{{'Header.RequiredQuantity'|translate}}<span class="text-danger">
                                    *</span></label>
                            <div *ngIf="submitted && f.REQ_QUANTITY.errors" class="invalid-feedback">
                                Please Enter Required Quantity
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" maxlength="10" formControlName="NO_OF_PACKAGES" class="form-control"
                                (keypress)="numericOnly($event)">
                            <label class="form-label">{{'Header.NoofPackages'|translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="form-group">
                            <ng-select formControlName="PACKAGES">
                                <ng-option value="" selected="true" disabled>--Select Packages--</ng-option>
                                <ng-option *ngFor="let item of packageList" value="{{item.CODE}}">
                                    {{item.CODE_DESC}}
                                </ng-option>
                            </ng-select>
                            <label class="form-label-ddl">{{'Header.Packages'|translate}}</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" [ngClass]="{'invalid': submitted && f.GROSS_WT.errors}" maxlength="10"
                                formControlName="GROSS_WT" class="form-control" (keypress)="numericOnly($event)">
                            <label class="form-label"> {{'Header.GrossWeight'|translate}}<span class="text-danger">
                                    *</span></label>
                            <div *ngIf="submitted && f.GROSS_WT.errors" class="invalid-feedback">
                                Please Enter Gross Weight
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <ng-select [ngClass]="{'invalid': submitted && f.GROSS_WT_UNIT.errors}"
                                formControlName="GROSS_WT_UNIT">
                                <ng-option value="" selected="true" disabled>--Select Unit--</ng-option>
                                <ng-option value="KG">Kg</ng-option>
                                <ng-option value="MT">MT</ng-option>
                                <ng-option value="TN">Tons</ng-option>
                                <ng-option value="GL">Gallons</ng-option>
                            </ng-select>
                            <label class="form-label-ddl">{{'Header.Unit'|translate}} <span
                                    class="text-danger">*</span></label>
                            <div *ngIf="submitted && f.GROSS_WT_UNIT.errors" class="invalid-feedback">Please select
                                Unit</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" [ngClass]="{'invalid':submitted && f.REMARKS.errors}"
                                formControlName="REMARKS" class="form-control">
                            <label class="form-label"> {{'Header.Remarks'|translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4 offset-md-8" style="text-align: right;">
                        <button class="form-btn-light me-2" (click)="ClearForm()">{{'Button.clear'|translate}}</button>
                        <button (click)="SaveCRO()" class="form-btn">{{'Button.Submit'|translate}}</button>
                        <button #openBtn data-bs-toggle="modal" href="#mailModal"
                            class="form-btn d-none">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5 mx-auto" *ngIf="!isRecords">
        <h5 class="text-center">Sorry! No records found !!</h5>
        <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
    </div>
</div>

<div class="modal fade" id="mailModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <h6 class="text-center"><span class="text-danger">{{croNo}}</span> has successfully been
                    created !
                </h6>
                <p class="text-center">Please provide email to send CRO and SI to shipper</p>
                <div class="form-group col-md-8 mx-auto">
                    <label class="form-label2">Email</label>
                    <input class="form-control2" [(ngModel)]="email" />
                    <div *ngIf="!isemail && email == ''" class="invalid-feedback">Please Enter Email</div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="isLoading" type="button" class="form-btn" (click)="getCRODetails(croNo)">Send
                    Email <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
            </div>
        </div>
    </div>
</div>