<div class="section-title">
    <h2>{{'Header.title'|translate}}</h2>
</div>

<div class="container">
    <form class="mx-5" [formGroup]="erListForm">
        <div class="col-md-6 offset-md-6 text-end">
            <button class="form-btn-primary" routerLink="/home/booking/new-er"><i
                    class="fa fa-plus me-1"></i>{{'Header.NewEmptyRepo'|translate}}</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">{{'Header.RepoNo'|translate}}</label>
                    <input formControlName="DO_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.FromDate'|translate}}</label>
                    <input formControlName="FROM_DATE" (change)="erListForm.get('TO_DATE')?.setValue('')"
                        onkeypress="return false" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.ToDate'|translate}}</label>
                    <input formControlName="TO_DATE" [min]="erListForm.get('FROM_DATE')?.value"
                        onkeypress="return false" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2" (click)="Search()">{{'Button.Search'|translate}}</button>
                <button class="form-btn-light" (click)="Clear()">{{'Button.Clear'|translate}}</button>
            </div>
        </div>
    </form>
    <section class="services" *ngIf="previewNoData">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 text-end">
                    <h5>Sorry! No records found</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5 mt-3 pt-5 mb-5">
                    <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="services" *ngIf="previewList">
        <div class="container">
            <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
                <div [class]="isScroll ? 'force-overflow' : ''">
                    <div class="icon-box icon-box-cyan text-start" *ngFor="let item of erList; let i = index">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="title"><a (click)="getERDetails(item.REPO_NO)">{{item.REPO_NO}} - </a>
                                    <span *ngIf="item.MODE_OF_TRANSPORT=='Truck'"><img
                                            src="assets/img/delivery.png"></span>
                                    <span *ngIf="item.MODE_OF_TRANSPORT=='Rail'"><img src="assets/img/train.png"></span>
                                    <span *ngIf="item.MODE_OF_TRANSPORT=='Vessel'"><img
                                            src="assets/img/cruise.png"></span>
                                </h4>
                                <p class="description" *ngIf="item.MODE_OF_TRANSPORT!='Vessel'"><img
                                        src="assets/img/warehouse.png" height="13px" width="13px"> {{item.LOAD_DEPOT}}
                                    <i class='bx bxs-right-arrow-circle mx-2'></i> <img src="assets/img/warehouse.png"
                                        height="13px" width="13px">
                                    {{item.DISCHARGE_DEPOT}}
                                </p>

                                <p class="description" *ngIf="item.MODE_OF_TRANSPORT=='Vessel'"><img
                                        src="assets/img/warehouse.png" height="13px" width="13px"> {{item.LOAD_DEPOT}}
                                    <i class='bx bxs-right-arrow-circle mx-2'></i> <span class="bx bxs-ship me-2">
                                    </span>{{item.LOAD_PORT}}
                                    <i class='bx bxs-right-arrow-circle mx-2'></i> <span class="bx bxs-ship me-2">
                                    </span>{{item.DISCHARGE_PORT}}
                                    <i class='bx bxs-right-arrow-circle mx-2'></i> <img src="assets/img/warehouse.png"
                                        height="13px" width="13px"> {{item.DISCHARGE_DEPOT}}
                                </p>
                                <p class="description"><i class='bx bx-time-five'></i> <span class="text-info">
                                        Movement Date: {{item.MOVEMENT_DATE | date:'mediumDate'}}
                                    </span>
                                </p>
                            </div>
                            <div class="col-md-2 text-end" *ngIf="!item.CRO_NO">
                                <button (click)="openBookingModal(item)" class="form-btn rounded-pill">CREATE
                                    CRO</button>
                                <button class="form-btn d-none" #openBtn data-bs-toggle="modal" href="#croModal">Book
                                    Now</button>

                            </div>
                            <div class="col-md-2 text-end" *ngIf="item.CRO_NO">
                                <button (click)="getERCRODetails(item.REPO_NO,item.CRO_NO,item.CRO_VALIDITY_DATE)"
                                    class="form-btn rounded-pill mb-2">View
                                    PDF</button>
                                <!-- <a (click)="getERCRODetails(item.REPO_NO,item.CRO_NO,item.CRO_VALIDITY_DATE)"><img src="/assets/img/visibility.png" height="24px" width="24px"></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="croModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Create CRO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>

            </div>
            <div class="modal-body">
                <form [formGroup]="erCROForm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2"> Repo No. <span class="text-danger">*</span></label>
                                    <input type="text" [ngClass]="{'invalid':submitted1 && f1.REPO_NO.errors}"
                                        formControlName="REPO_NO" class="form-control2" readonly>
                                    <div *ngIf="submitted1 && f1.REPO_NO.errors" class="invalid-feedback">
                                        Please Enter Repo No.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2">Cont Pickup Point <span
                                            class="text-danger">*</span></label>
                                    <select [ngClass]="{'invalid':submitted1 && f1.EMPTY_CONT_PCKP.errors}"
                                        class="form-control2" formControlName="EMPTY_CONT_PCKP">
                                        <option value="">--Select--</option>
                                        <option value="ADTC-ADTC - Dammam">"ADTC-ADTC - Dammam"</option>
                                        <option value="BCT-Bay Container Terminal">BCT-Bay Container Terminal</option>
                                    </select>
                                    <div *ngIf="submitted1 && f1.EMPTY_CONT_PCKP.errors" class="invalid-feedback">
                                        Please Enter Pickup Point.
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2"> CRO Validity Date <span
                                            class="text-danger">*</span></label>
                                    <input formControlName="CRO_VALIDITY_DATE" type="date" class="form-control2"
                                        [ngClass]="{'invalid':submitted1 && f1.CRO_VALIDITY_DATE.errors}">
                                    <div *ngIf="submitted1 && f1.CRO_VALIDITY_DATE.errors" class="invalid-feedback">
                                        Please Enter CRO Validity Date
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2"> Required Qty <span class="text-danger">*</span></label>
                                    <input type="text" [ngClass]="{'invalid':submitted1 && f1.REQ_QUANTITY.errors}"
                                        formControlName="REQ_QUANTITY" class="form-control2">
                                    <div *ngIf="submitted1 && f1.REQ_QUANTITY.errors" class="invalid-feedback">
                                        Please Enter Required Quantity
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 text-end">
                            <button class="form-btn w-50" (click)="cancelERCRO()">Clear</button>
                        </div>
                        <div class="col-md-6">
                            <button class="form-btn w-50" (click)="SaveCRO()">Save</button>
                            <button #openBtn1 data-bs-toggle="modal" href="#mailModal"
                                class="form-btn d-none">Submit</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mailModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn1></button>
            </div>
            <div class="modal-body">
                <h6 class="text-center"><span class="text-danger">{{croNo}}</span> has successfully been
                    created !
                </h6>
                <p class="text-center">Please provide email to send CRO and SI to shipper</p>
                <div class="form-group col-md-8 mx-auto">
                    <label class="form-label2">Email</label>
                    <input class="form-control2" [(ngModel)]="email" />
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="isLoading" type="button" class="form-btn" (click)="getERCRODetails(croNo)">Send
                    Email <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="col-md-12">
    <div class="row">
        <h4>TRACKING</h4>
        <div class="col-md-2">
            <div class="tk-blob" style="--time: 10s; --amount: 5; --fill: #56cbb9;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 747.2 726.7">
                  <path d="M539.8 137.6c98.3 69 183.5 124 203 198.4 19.3 74.4-27.1 168.2-93.8 245-66.8 76.8-153.8 136.6-254.2 144.9-100.6 8.2-214.7-35.1-292.7-122.5S-18.1 384.1 7.4 259.8C33 135.6 126.3 19 228.5 2.2c102.1-16.8 213.2 66.3 311.3 135.4z"></path>
                </svg>
            </div>
        </div>
    </div>
</div> -->