<div class="container-fluid">
    <app-pm-sidebar></app-pm-sidebar>
    <div style="width:80%;margin-left: 20%;">
        <div class="section-title">
            <h2>Vessel Schedule </h2>
        </div>
        <div class="mb-4">
            <div class="col-md-6 offset-md-6 text-end">
                <button class="form-btn-primary" (click)="openModal()"><i class="fa fa-plus me-1"></i>New Vessel
                    Schedule
                </button>
                <button class="form-btn-primary d-none" #openModalPopup data-bs-toggle="modal" href="#scheduleModel">New
                    Vessel Schedule</button>
            </div>
            <div class="container mb-4">
                <form [formGroup]="ScheduleForm">
                    <div class="col-md-10 mx-2">
                        <div class="row">
                            <div class="col-md-4 mt-4">
                                <div class="form-group">
                                    <label class="form-label-ddl"> Vessel Name<span class="text-danger">*</span></label>
                                    <ng-select [ngClass]="{'invalid':submitted && f.VESSEL_NAME.errors}"
                                        formControlName="VESSEL_NAME">
                                        <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                        <ng-option *ngFor="let item of vesselList"
                                            value="{{item.CODE}}">{{item.CODE_DESC}}
                                            ({{item.CODE}})
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f.SERVICE_NAME.errors" class="invalid-feedback">Please
                                        Select Vessel Name</div>

                                </div>
                            </div>
                            <div class="col-md-4 mt-4">
                                <div class="form-group">
                                    <label class="form-label-ddl">Service Name <span class="text-danger">
                                        *</span></label>
                                <ng-select [ngClass]="{'invalid':submitted && f.SERVICE_NAME.errors}"
                                    formControlName="SERVICE_NAME">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of servicenameList1"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="submitted && f.SERVICE_NAME.errors" class="invalid-feedback">Please
                                    Select Service Name</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label2"> VIA NO<span class="text-danger">*</span></label>
                                    <input type="text" id="name" [ngClass]="{'invalid':submitted && f.VIA_NO.errors}"
                                        formControlName="VIA_NO" class="form-control2">
                                </div>
                                <div *ngIf="submitted && f. VIA_NO.errors" class="invalid-feedback">Please Enter VIA NO
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mt-4">
                                <div class="form-group">
                                    <label class="form-label-ddl"> Port <span class="text-danger">*</span></label>
                                    <ng-select (change)="getServiceName1($event)"
                                        [ngClass]="{'invalid':submitted && f.PORT_CODE.errors}"
                                        formControlName="PORT_CODE">
                                        <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                        <ng-option *ngFor="let item of portList"
                                            value="{{item.CODE}}">{{item.CODE_DESC}}
                                            ({{item.CODE}})
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f. PORT_CODE.errors" class="invalid-feedback">Please Select
                                        Port</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label2"> ETA<span class="text-danger">*</span></label>
                                    <input type="date" id="name" [ngClass]="{'invalid':submitted && f.ETA.errors}"
                                        formControlName="ETA" class="form-control2">
                                </div>
                                <div *ngIf="submitted && f.ETA.errors" class="invalid-feedback">Please Enter ETA</div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label2"> ETD<span class="text-danger">*</span></label>
                                    <input type="date" id="name" [ngClass]="{'invalid':submitted && f.ETD.errors}"
                                        formControlName="ETD" class="form-control2">
                                </div>
                                <div *ngIf="submitted && f. ETD.errors" class="invalid-feedback">Please Enter ETD</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label2">Status <span class="text-danger"> *</span></label>
                                    <select class="form-control2" [ngClass]="{'invalid':submitted && f.STATUS.errors}"
                                        formControlName="STATUS">
                                        <option value="" selected="true" disabled>--Select--</option>
                                        <option value="true">Active</option>
                                        <option value="false">InActive</option>
                                    </select>
                                    <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Please Select
                                        Status</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 offset-md-10 mb-2" style="text-align: right">
                            <button class="form-btn me-2" (click)="Search()" [disabled]="isLoading">Search
                                <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
                            <button (click)="ClearForm()" class="form-btn me-2">Clear</button>
                        </div>

                    </div>
                </form>
                <table class="table table-bordered" id="data-table-config">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Vessel Name</th>
                            <th>Service Name</th>
                            <th> Port </th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ScheduleList; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.VESSEL_NAME}}</td>
                            <td>{{item.SERVICE_NAME}}</td>
                            <td>{{item.PORT_CODE}}</td>
                            <td width="10%" class="status"><span
                                    [class]="!item.STATUS ? 'rejected' : 'active'">{{item.STATUS ? 'Active'
                                    :
                                    'In-Active'}}</span></td>
                            <td>
                                <i class="fa fa-pencil mx-2 pointer text-success" (click)="openModal(item.ID)"></i>
                                <i class="fa fa-trash ms-2 pointer text-danger" (click)="DeleteSchedule(item.ID)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="scheduleModel" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Schedule Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="ScheduleForm">
                        <div class="row">
                            <div class="col-md-4 mt-4">
                                <div class="form-group">
                                    <label class="form-label-ddl"> Vessel Name<span class="text-danger">*</span></label>
                                    <ng-select [ngClass]="{'invalid':submitted && f.VESSEL_NAME.errors}"
                                        formControlName="VESSEL_NAME">
                                        <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                        <ng-option *ngFor="let item of vesselList"
                                            value="{{item.CODE}}">{{item.CODE_DESC}}
                                            ({{item.CODE}})
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f.SERVICE_NAME.errors" class="invalid-feedback">
                                        Vessel Name is required</div>

                                </div>
                            </div>
                            <div class="col-md-4 mt-4">
                                <div class="form-group">
                                    <label class="form-label-ddl">Service Name <span class="text-danger">
                                            *</span></label>
                                    <ng-select [ngClass]="{'invalid':submitted && f.SERVICE_NAME.errors}"
                                        formControlName="SERVICE_NAME">
                                        <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                        <ng-option *ngFor="let item of servicenameList1"
                                            value="{{item.CODE}}">{{item.CODE_DESC}}
                                            ({{item.CODE}})
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f.SERVICE_NAME.errors" class="invalid-feedback">
                                         Service Name is required</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label2"> VIA NO<span class="text-danger">*</span></label>
                                    <input type="text" id="name" [ngClass]="{'invalid':submitted && f.VIA_NO.errors}"
                                        formControlName="VIA_NO" class="form-control2">
                                </div>
                                <div *ngIf="submitted && f. VIA_NO.errors" class="invalid-feedback">  VIA NO is required
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 mt-4">
                                <div class="form-group">
                                    <label class="form-label-ddl"> Port <span class="text-danger">*</span></label>
                                    <ng-select (change)="getServiceName1($event)"
                                        [ngClass]="{'invalid':submitted && f.PORT_CODE.errors}"
                                        formControlName="PORT_CODE">
                                        <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                        <ng-option *ngFor="let item of portList"
                                            value="{{item.CODE}}">{{item.CODE_DESC}}
                                            ({{item.CODE}})
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="submitted && f. PORT_CODE.errors" class="invalid-feedback"> 
                                        Port Name is required</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label2"> ETA<span class="text-danger">*</span></label>
                                    <input type="date" id="name" [ngClass]="{'invalid':submitted && f.ETA.errors}"
                                        formControlName="ETA" class="form-control2">
                                </div>
                                <div *ngIf="submitted && f.ETA.errors" class="invalid-feedback">ETA is required</div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-label2"> ETD<span class="text-danger">*</span></label>
                                    <input type="date" id="name" [ngClass]="{'invalid':submitted && f.ETD.errors}"
                                        formControlName="ETD" class="form-control2">
                                </div>
                                <div *ngIf="submitted && f. ETD.errors" class="invalid-feedback">ETD is required</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-4">
                                <div class="form-group">
                                  <div class="form-check form-switch">
                                    <input formControlName="STATUS" class="form-check-input" type="checkbox" role="switch" />
                                    <label class="form-check-label">Status</label>
                                  </div>
                                  <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Status is required </div>
                                </div>
                              </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button *ngIf="!isUpdate" (click)="InsertUnitMaster()" class="form-btn me-2"
                                class="form-btn me-2">Save</button>
                            <button (click)="ClearForm()" class="form-btn me-2">Clear</button>
                            <button *ngIf="isUpdate" (click)="UpdateUnitMaster()" class="form-btn">Update</button>

                        </div>
                    
                </form>