<div class="section-title pt-3">
    <h2>Location Master</h2>
</div>
<div class="mb-4">
    <div class="col-md-6 offset-md-6 text-end">
        <button (click)="openModal()" class="form-btn-primary"><i class="fa fa-plus me-1"></i>New
            Location</button>
        <button class="form-btn-primary d-none" #openModalPopup data-bs-toggle="modal" href="#locationModal">New
            Location</button>
    </div>
    <form [formGroup]="locForm">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">Status </label>
                    <select class="form-control2" formControlName="STATUS">
                        <option value="" selected="true" disabled>--Select--</option>
                        <option value="true">Active</option>
                        <option value="false">InActive</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">From Date</label>
                    <input (change)="locForm.get('TO_DATE')?.setValue('')" onkeypress="return false;"
                        formControlName="FROM_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">To Date</label>
                    <input onkeypress="return false;" [min]="locForm.get('FROM_DATE')?.value" formControlName="TO_DATE"
                        type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2" (click)="Search()" [disabled]="isLoading">Search
                    <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
                <button class="form-btn-light me-2" (click)="Clear()" [disabled]="isLoading1">Clear<span
                        *ngIf="isLoading1" class="fa fa-spinner fa-spin"></span></button>
            </div>
        </div>
    </form>
    <table class="ratetable table-bordered" id="data-table-config">
        <thead>
            <tr>
                <th width="1%">No</th>
                <th width="20%">Name</th>
                <th width="10%">Code</th>
                <th width="5%">Depo</th>
                <th width="5%">CFS</th>
                <th width="5%">Terminal</th>
                <th width="5%">ICD</th>
                <th width="5%">Yard</th>
                <th width="10%">Port</th>
                <th width="15%">Address</th>
                <th width="10%">Status</th>
                <th width="9%">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of locationList; let i = index">
                <td width="1%">{{i+1}}</td>
                <td width="20%">{{item.LOC_NAME}}</td>
                <td width="10%">{{item.LOC_CODE}}</td>
                <td width="5%">
                    <i
                        [class]="item.IS_DEPO ? 'fs-5 bx bxs-check-circle text-success' : 'fs-5 bx bxs-x-circle text-danger'"></i>
                </td>
                <td width="5%"><i
                        [class]="item.IS_CFS ? 'fs-5 bx bxs-check-circle text-success' : 'fs-5 bx bxs-x-circle text-danger'"></i>
                </td>
                <td width="5%"><i
                        [class]="item.IS_TERMINAL ? 'fs-5 bx bxs-check-circle text-success' : 'fs-5 bx bxs-x-circle text-danger'"></i>
                </td>
                <td width="5%"><i
                        [class]="item.IS_ICD ? 'fs-5 bx bxs-check-circle text-success' : 'fs-5 bx bxs-x-circle text-danger'"></i>
                </td>
                <td width="5%"><i
                        [class]="item.IS_YARD ? 'fs-5 bx bxs-check-circle text-success' : 'fs-5 bx bxs-x-circle text-danger'"></i>
                </td>
                <td width="10%">{{item.PORT_CODE}}</td>
                <td width="15%">{{item.ADDRESS}}</td>
                <td width="10%" class="status"><span [class]="!item.STATUS ? 'rejected' : 'active'">{{item.STATUS ?
                        'Active'
                        :
                        'In-Active'}}</span></td>
                <td width="9%">
                    <i class="fa fa-pencil mx-2 pointer text-success" (click)="openModal(item.LOC_CODE)"></i>
                    <i class="fa fa-trash ms-2 pointer text-danger" (click)="deleteLocationMaster(item.LOC_CODE)"></i>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="locationModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Location Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="locationForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label2">Location Name<span class="text-danger"> *</span></label>
                                <input type="text" [ngClass]="{'invalid':submitted && f.LOC_NAME.errors}"
                                    formControlName="LOC_NAME" class="form-control2" maxlength="100">
                                <div *ngIf="submitted && f.LOC_NAME.errors" class="invalid-feedback">Location Name
                                    is
                                    required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label2">Location Code<span class="text-danger"> *</span></label>
                                <input type="text" [readonly]="isUpdate"
                                    [ngClass]="{'invalid':submitted && f.LOC_CODE.errors}" formControlName="LOC_CODE"
                                    class="form-control2" maxlength="10">
                                <div *ngIf="submitted && f.LOC_CODE.errors" class="invalid-feedback">Location Code is
                                    required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label2">Location Address<span class="text-danger"> *</span></label>
                                <textarea type="text" [ngClass]="{'invalid':submitted && f.ADDRESS.errors}"
                                    formControlName="ADDRESS" class="form-control2" maxlength="100"></textarea>
                                <div *ngIf="submitted && f.ADDRESS.errors" class="invalid-feedback">Location Address
                                    is
                                    required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label2">Country<span class="text-danger"> *</span></label>
                                <select (change)="getDropdown($event)" formControlName="COUNTRY_CODE"
                                    [ngClass]="{'invalid':submitted && f.COUNTRY_CODE.errors}" class="form-control2">
                                    <option disabled value="">--Select--</option>
                                    <option value="IN">India</option>
                                    <option value="AE">UAE</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="IR">Iraq</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="QA">Qatar</option>
                                    <option value="SA">Saudi Arabia</option>
                                </select>
                                <div *ngIf="submitted && f.COUNTRY_CODE.errors" class="invalid-feedback">Country
                                    is
                                    required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label2" style="z-index: 1;">Port List<span class="text-danger">
                                        *</span></label>
                                <ng-multiselect-dropdown #multiSelect [ngClass]="{'invalid':submitted && f.PORT.errors}"
                                    [placeholder]="'Select Port'" [settings]="dropdownSettings" [formControl]="f.PORT"
                                    [data]="portList" [(ngModel)]="selectedItems">
                                </ng-multiselect-dropdown>
                                <div *ngIf="submitted && f.PORT.errors" class="invalid-feedback">Select
                                    atleast 1 Port</div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4">
                            <div class="form-group">
                                <div class="form-check form-switch">
                                    <input formControlName="STATUS" class="form-check-input" type="checkbox"
                                        role="switch" />
                                    <label class="form-check-label">Status <span class="text-danger"> *</span></label>
                                </div>
                                <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Status is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 offset-md-1">
                            <div class="row">
                                <label class="checkbox-wrap checkbox-primary">
                                    <input formControlName="IS_DEPO" class="chck" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label>DEPO</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <label class="checkbox-wrap checkbox-primary">
                                    <input formControlName="IS_CFS" class="chck" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label>CFS</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="checkbox-wrap checkbox-primary">
                                    <input formControlName="IS_TERMINAL" class="chck" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label>TERMINAL</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <label class="checkbox-wrap checkbox-primary">
                                    <input formControlName="IS_ICD" class="chck" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label>ICD</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <label class="checkbox-wrap checkbox-primary">
                                    <input formControlName="IS_YARD" class="chck" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label>YARD</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div *ngIf="submitted && !f.IS_DEPO.value && !f.IS_CFS.value && !f.IS_TERMINAL.value && !f.IS_YARD.value && !f.IS_ICD.value"
                            class="invalid-feedback">Select atleast 1 Location Type</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button *ngIf="!isUpdate" (click)="InsertLocation()" class="form-btn me-2"
                    class="form-btn me-2">Save</button>
                <button (click)="ClearForm()" class="form-btn-light me-2">Clear</button>
                <button *ngIf="isUpdate" (click)="updateLocationMaster()" class="form-btn">Update</button>
            </div>
        </div>
    </div>
</div>