<div class="col-md-12">
    <div class="rope">
        <div class="col-12">
            <div class="row">
                <div class="col-2 text-center">
                    <img src="/assets/img/snts.jpg">
                </div>
                <div class="col-2 text-center">
                    <img src="/assets/img/gate.png">
                </div>
                <div class="col-2 text-center">
                    <img src="/assets/img/cargo-ship-icon.jpg" height="80px" width="80px">
                </div>
                <div class="col-2 text-center">
                    <img src="/assets/img/dchf.png">
                </div>
                <div class="col-2 text-center">
                    <img src="/assets/img/quote-icon.png" height="80px" width="80px">
                </div>
                <div class="col-2 text-center">
                    <img src="/assets/img/newrccn.png" height="100px" width="90px">
                </div>


            </div>
            
        </div>
        <div id="hang">
        </div>
    </div>


</div>


<button (click)="shift()">step</button><br>
<!-- <div style="height:80px;width: 80px;background-color: blueviolet;" ></div> -->



