<div class="container-fluid"
    style="background-image: url('assets/img/ship2.png'); background-position: center; background-repeat: no-repeat;background-size: cover;">
    
    <!-- <nav id="navbar" class="navbar">
        <ul>
            <li><a  routerLink="">Home</a></li>
            <li><a routerLink="about.html">About Us</a></li>
            <li><a routerLink="services.html">Our Services</a></li>
            <li><a routerLink="portfolio.html">Tariffs</a></li>
            <li><a routerLink="team.html">Contact Us</a></li>

        </ul>

    </nav> -->
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card border" style="position: relative;background-color: rgb(159 142 142 / 38%);">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a routerLink="" class="app-brand-link gap-2">
                            <img src="assets/img/logo_p.png" height="50" width="100" />
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2" style="color: #07386c">Welcome to Prime Maritime! 👋</h4>
                    <p class="mb-4 text-white">Please sign-in to your account</p>

                    <form id="formAuthentication" [formGroup]="loginForm" class="mb-3">
                        <div class="mb-3 form-group">
                            <label for="email" class="text-white">Username</label>
                            <input type="text" formControlName="USERNAME" class="form-control2" id="email"
                                name="email-username" placeholder="Enter your username" autofocus />
                        </div>
                        <div class="mb-3">
                            <label for="email" class="text-white">Password</label>
                            <input type="password" formControlName="PASSWORD" class="form-control2" id="password"
                                name="email-username" placeholder="Enter your password" autofocus />
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me" />
                                <label class="form-check-label text-white" for="remember-me"> Remember Me </label>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>
                        <div class="mb-3">
                            <button [disabled]="isLoading" class="btn btn-danger btn-flat w-100" (click)="login()"
                                type="button">Log in
                                <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span>
                            </button>

                        </div>
                    </form>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div>