<div class="section-title">
    <h2>Bill of Lading</h2>
</div>
<div class="col-md-4 mx-auto" *ngIf="!isBLForm">
    <div class="formbold-mb-5 formbold-file-input" *ngIf="!onUpload">
        <input type="file" (change)="onFileChange($event)" name="file" id="file" />
        <label for="file">
            <div>
                <h3><i class="fa fa-file-pdf-o"></i></h3>
                <span class="formbold-drop-file">Upload</span>
                <span class="formbold-file-item">SI File</span>
            </div>
        </label>
    </div>
    <div class="formbold-file-list formbold-mb-5" *ngIf="onUpload">
        <div class="formbold-file-item">
            <span class="formbold-file-name">SI File</span>
            <button (click)="onUpload = false"><span class="bx bx-x-circle"></span></button>
        </div>
    </div>
    <div class="col-md-5 mx-auto text-end">
        <button class="form-btn w-100" (click)="getBLForm()">Upload</button>
    </div>
</div>
<div class="container" *ngIf="isBLForm">
    <a (click)="isBLForm = false" class="pointer"><i class='bx bx-arrow-back'></i>Back to
        List</a>
    <form [formGroup]="blForm">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Shipper Name<span class="text-danger">*</span></label>
                    <textarea type="text" formControlName="SHIPPER" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.SHIPPER.errors}"
                        style="overflow:hidden;height: max-content;"></textarea>
                    <div *ngIf="submitted && blf.SHIPPER.errors" class="invalid-feedback">Please
                        Enter Shipper Name </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Shipper Address<span class="text-danger">*</span></label>
                    <textarea type="text" formControlName="SHIPPER_ADDRESS" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.SHIPPER_ADDRESS.errors}"
                        style="overflow:hidden;height: max-content;"></textarea>
                    <div *ngIf="submitted && blf.SHIPPER_ADDRESS.errors" class="invalid-feedback">Please
                        Enter Shipper Address </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Consignee Name<span class="text-danger">*</span></label>
                    <textarea type="text" formControlName="CONSIGNEE" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.CONSIGNEE.errors}"
                        style="overflow:hidden;height: max-content;"></textarea>
                    <div *ngIf="submitted && blf.CONSIGNEE.errors" class="invalid-feedback">Please
                        Enter Consignee Name </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Consignee Address<span class="text-danger">*</span></label>
                    <textarea type="text" formControlName="CONSIGNEE_ADDRESS" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.CONSIGNEE_ADDRESS.errors}"
                        style="overflow:hidden;height: max-content;"></textarea>
                    <div *ngIf="submitted && blf.CONSIGNEE_ADDRESS.errors" class="invalid-feedback">Please
                        Enter Consignee Address </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Notify Party<span class="text-danger">*</span></label>
                    <input type="text" formControlName="NOTIFY_PARTY" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.NOTIFY_PARTY.errors}" />
                    <div *ngIf="submitted && blf.NOTIFY_PARTY.errors" class="invalid-feedback">Please
                        Enter Notify Party</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Notify Party Address<span class="text-danger">*</span></label>
                    <textarea type="text" formControlName="NOTIFY_PARTY_ADDRESS" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.NOTIFY_PARTY_ADDRESS.errors}"
                        style="overflow:hidden;height: max-content;"></textarea>
                    <div *ngIf="submitted && blf.NOTIFY_PARTY_ADDRESS.errors" class="invalid-feedback">Please
                        Enter Notify Party Address</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Pre Carriage by<span class="text-danger">*</span></label>
                    <input formControlName="PRE_CARRIAGE_BY" type="text" class="form-control2" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Place of Receipt<span class="text-danger">*</span></label>
                    <input formControlName="PLACE_OF_RECEIPT" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.PLACE_OF_RECEIPT.errors}" />
                    <div *ngIf="submitted && blf.PLACE_OF_RECEIPT.errors" class="invalid-feedback">Please
                        Enter Place of Receipt</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Vessel Name<span class="text-danger">*</span></label>
                    <input formControlName="VESSEL_NAME" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.VESSEL_NAME.errors}" />
                    <div *ngIf="submitted && blf.VESSEL_NAME.errors" class="invalid-feedback">Please
                        Enter Vessel Name</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Voyage No<span class="text-danger">*</span></label>
                    <input formControlName="VOYAGE_NO" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.VOYAGE_NO.errors}" />
                    <div *ngIf="submitted && blf.VOYAGE_NO.errors" class="invalid-feedback">Please
                        Enter Voyage No</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Port of Loading<span class="text-danger">*</span></label>
                    <input formControlName="PORT_OF_LOADING" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.PORT_OF_LOADING.errors}" />
                    <div *ngIf="submitted && blf.PORT_OF_LOADING.errors" class="invalid-feedback">Please
                        Enter Port of Loading</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Port of Discharge<span class="text-danger">*</span></label>
                    <input formControlName="PORT_OF_DISCHARGE" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.PORT_OF_DISCHARGE.errors}" />
                    <div *ngIf="submitted && blf.PORT_OF_DISCHARGE.errors" class="invalid-feedback">Please
                        Enter Port of Discharge</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Place of Delivery<span class="text-danger">*</span></label>
                    <input formControlName="PLACE_OF_DELIVERY" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.PLACE_OF_DELIVERY.errors}" />
                    <div *ngIf="submitted && blf.PLACE_OF_DELIVERY.errors" class="invalid-feedback">Please
                        Enter Place of Delivery</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Final Destination<span class="text-danger">*</span></label>
                    <input formControlName="FINAL_DESTINATION" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.FINAL_DESTINATION.errors}" />
                    <div *ngIf="submitted && blf.FINAL_DESTINATION.errors" class="invalid-feedback">Please
                        Enter Final Destination</div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="isManual">
                <div class="form-group">
                    <label class="form-label2">Booking No<span class="text-danger">*</span></label>
                    <input formControlName="BOOKING_NO" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.BOOKING_NO.errors}" />
                    <div *ngIf="submitted && blf.BOOKING_NO.errors" class="invalid-feedback">Please
                        Enter Booking No.</div>
                </div>
            </div>
            <div class="col-md-3" *ngIf="isManual">
                <div class="form-group">
                    <label class="form-label2">CRO No<span class="text-danger">*</span></label>
                    <input formControlName="CRO_NO" type="text" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.CRO_NO.errors}" />
                    <div *ngIf="submitted && blf.CRO_NO.errors" class="invalid-feedback">Please
                        Enter CRO No.</div>
                </div>
            </div>
        </div>
        <h6 class="d-inline mt-3">Container Details</h6>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Marks & Numbers<span class="text-danger">*</span></label>
                    <textarea class="form-control2" formControlName="MARKS_NOS"
                        [ngClass]="{'invalid': submitted && blf.MARKS_NOS.errors}"></textarea>
                    <div *ngIf="submitted && blf.MARKS_NOS.errors" class="invalid-feedback">Please
                        Enter Marks & Numbers</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Description of Goods<span class="text-danger">*</span></label>
                    <textarea type="text" class="form-control2" formControlName="DESC_OF_GOODS"
                        [ngClass]="{'invalid': submitted && blf.DESC_OF_GOODS.errors}"></textarea>
                    <div *ngIf="submitted && blf.DESC_OF_GOODS.errors" class="invalid-feedback">Please
                        Enter Description of Goods</div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="ratetable" style="font-size: 12px;" id="data-table-config">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Container No</th>
                        <th>Container Type</th>
                        <th>Gross Weight</th>
                        <th>Measurement</th>
                        <th>Seal No</th>
                        <th>Agent Seal No</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of containerList;let i = index">
                        <th>{{i + 1}}</th>
                        <th>{{item.CONTAINER_NO}}</th>
                        <th>{{item.CONTAINER_TYPE}}</th>
                        <th>{{item.GROSS_WEIGHT}}</th>
                        <th>{{item.MEASUREMENT}}</th>
                        <th>{{item.SEAL_NO}}</th>
                        <th>{{item.AGENT_SEAL_NO}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row mb-3">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Total No of Containers : {{containerList?.length}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Freight Prepaid<span class="text-danger">*</span></label>
                    <input type="text" formControlName="PREPAID_AT" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.PREPAID_AT.errors}"
                        (keyup)="validate2P('PREPAID_AT',$event.target.value)" />
                    <div *ngIf="submitted && blf.PREPAID_AT.errors" class="invalid-feedback">Please
                        Enter Prepaid At</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Freight Payable<span class="text-danger">*</span></label>
                    <input type="text" formControlName="PAYABLE_AT" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.PAYABLE_AT.errors}"
                        (keyup)="validate2P('PAYABLE_AT',$event.target.value)" />
                    <div *ngIf="submitted && blf.PAYABLE_AT.errors" class="invalid-feedback">Please
                        Enter Payable At</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Place of Issue<span class="text-danger">*</span></label>
                    <input type="text" formControlName="BL_ISSUE_PLACE" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.BL_ISSUE_PLACE.errors}" />
                    <div *ngIf="submitted && blf.BL_ISSUE_PLACE.errors" class="invalid-feedback">Please
                        Enter BL Issue Place</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">Issue Date<span class="text-danger">*</span></label>
                    <input type="date" formControlName="BL_ISSUE_DATE" class="form-control2"
                        [ngClass]="{'invalid': submitted && blf.BL_ISSUE_DATE.errors}" min="{{minDate}}" />
                    <div *ngIf="submitted && blf.BL_ISSUE_DATE.errors" class="invalid-feedback">Please
                        Enter BL Issue Date</div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-3 offset-md-9 text-end">
                <button class="form-btn me-2">
                    Finalize
                </button>
                <button class="form-btn" (click)="saveDraft()">
                    Save as Draft
                </button>
            </div>
        </div>
    </form>
</div>