<header class="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container mainnav">
      <div class="navbar-header">
        <h1 class="logo">
          <a class="navbar-brand" href="index.html"
            ><img height="35" src="../../../../assets/img/logo_p.png" alt=""
          /></a>
        </h1>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-collapse">
        <span class="search-button pull-right"
          ><a href="#search"><i class="fa fa-search"></i></a
        ></span>

        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a routerLink="home">Home</a></li>
          <li><a>Services</a></li>
          <li><a>Features</a></li>
          <li><a>Contact</a></li>
          <li><a>Quotations</a></li>
          <li><a routerLink="home/login">Login</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
