<div class="container-fluid">
    <app-pm-sidebar></app-pm-sidebar>
    <div style="width:80%;margin-left: 20%;">
<div class="section-title">
    <h2> Service</h2>
</div>
<div class="mb-4">
    <div class="col-md-6 offset-md-6 text-end">
        <button class="form-btn-primary" (click)="openModal()"><i class="fa fa-plus me-1"></i>New Service </button>
        <button class="form-btn-primary d-none" #openModalPopup data-bs-toggle="modal" href="#serviceModel">New
          Service Type</button>
      </div>

<div class="container mb-4">
    <form [formGroup]="serviceForm">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label2">Liner <span class="text-danger"> *</span></label>
                        <select class="form-control2"  [ngClass]="{'invalid':submitted && f.LINER_CODE.errors}"  formControlName="LINER_CODE">
                            <option value="" selected="true" disabled>--Select--</option>
                            <option *ngFor="let item of linerList" value="{{item.CODE}}">{{item.CODE_DESC}}</option>
                        </select>
                        <div *ngIf="submitted && f.LINER_CODE.errors" class="invalid-feedback">Please  Select Liner Code </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label2">Service <span class="text-danger"> *</span></label>
                        <select class="form-control2" [ngClass]="{'invalid':submitted && f.SERVICE_NAME.errors}"  formControlName="SERVICE_NAME">
                            <option value="" selected="true" disabled>--Select--</option>
                            <option *ngFor="let item of serviceNameList1" value="{{item.CODE}}">{{item.CODE_DESC}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.SERVICE_NAME.errors" class="invalid-feedback">Please  Select Service Name </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label2">Port <span class="text-danger"> *</span></label>
                        <select class="form-control2" (change)="getServiceName1($event)" [ngClass]="{'invalid':submitted && f.PORT_CODE.errors}"  formControlName="PORT_CODE">
                            <option value="" selected="true" disabled>--Select--</option>
                            <option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}</option>
                        </select>
                        <div *ngIf="submitted && f.PORT_CODE.errors" class="invalid-feedback">Please  Select Port Code </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label2">Status <span class="text-danger"> *</span></label>
                        <select class="form-control2" [ngClass]="{'invalid':submitted && f.STATUS.errors}"  formControlName="STATUS">
                            <option value="" selected="true" disabled>--Select--</option>
                            <option value="true">Active</option>
                            <option value="false">InActive</option>
                        </select>
                        <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Please  Select Status </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label2">Form Date<span class="text-danger">*</span></label>
                        <input type="date" [ngClass]="{'invalid':submitted && f.ON_HIRE_DATE.errors}" formControlName="ON_HIRE_DATE" formControlName="CODE" class="form-control2">
                        <div *ngIf="submitted && f.ON_HIRE_DATE.errors" class="invalid-feedback">Please Enter From date </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="form-label2">To Date<span class="text-danger">*</span></label>
                        <input type="date" [ngClass]="{'invalid':submitted && f.OFF_HIRE_DATE.errors}" formControlName="OFF_HIRE_DATE" formControlName="CODE" class="form-control2">
                        <div *ngIf="submitted && f.OFF_HIRE_DATE.errors" class="invalid-feedback">Please Enter From date </div> 
                    </div>
                </div>  
            </div>
            <div class="col-md-4 offset-md-10 mb-2" style="text-align: right">
                <button class="form-btn me-2" (click)="Search()" [disabled]="isLoading">Search
                        <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
                    <button (click)="Clear()" class="form-btn me-2">Clear</button>
                </div>
            
        </div>
    </form>Clear
    <table class="table table-bordered" id="data-table-config">
        <thead>
                <tr>
                    <th>Sr. No</th>
                    <th>Liner</th>
                    <th>Service</th>
                    <th>Port</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of linerIdList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.LINER_CODE}}</td>
                    <td>{{item.SERVICE_NAME}}</td>
                    <td>{{item.PORT_CODE}}</td>
                    <td width="10%" class="status"><span [class]="!item.STATUS ? 'rejected' : 'active'">{{item.STATUS ? 'Active'
                        :
                        'In-Active'}}</span></td> 
                    <td>
                        <i class="fa fa-pencil mx-2 pointer text-success"
                            (click)="openModal(item.ID)"></i>
                        <i class="fa fa-trash ms-2 pointer text-danger" (click)="DeleteServiceMaster(item.ID)"></i>
                    </td>
                </tr>

            </tbody>
        </table>
</div>
    </div>
    </div>
    <div class="modal fade" id="serviceModel" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Service Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closeBtn></button>
                </div>
    <form [formGroup]="serviceForm">
        <div class="col-md-10  mx-auto">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label2">Liner <span class="text-danger"> *</span></label>
                        <select class="form-control2"  [ngClass]="{'invalid':submitted && f.LINER_CODE.errors}"  formControlName="LINER_CODE">
                            <option value="" selected="true" disabled>--Select--</option>
                            <option *ngFor="let item of linerList" value="{{item.CODE}}">{{item.CODE_DESC}}</option>
                        </select>
                        <div *ngIf="submitted && f.LINER_CODE.errors" class="invalid-feedback">Please  Select Liner Code </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label2">Service <span class="text-danger"> *</span></label>
                        <select class="form-control2" [ngClass]="{'invalid':submitted && f.SERVICE_NAME.errors}"  formControlName="SERVICE_NAME">
                            <option value="" selected="true" disabled>--Select--</option>
                            <option *ngFor="let item of serviceNameList" value="{{item.CODE}}">{{item.CODE_DESC}}
                            </option>
                        </select>
                        <div *ngIf="submitted && f.SERVICE_NAME.errors" class="invalid-feedback">Please  Select Service Name </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label2">Port <span class="text-danger"> *</span></label>
                        <select class="form-control2" (change)="getServiceName1($event)" [ngClass]="{'invalid':submitted && f.PORT_CODE.errors}"  formControlName="PORT_CODE">
                            <option value="" selected="true" disabled>--Select--</option>
                            <option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}</option>
                        </select>
                        <div *ngIf="submitted && f.PORT_CODE.errors" class="invalid-feedback">Please  Select Port Code </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label2">Form Date<span class="text-danger">*</span></label>
                        <input type="date" [ngClass]="{'invalid':submitted && f.ON_HIRE_DATE.errors}" formControlName="ON_HIRE_DATE" formControlName="CODE" class="form-control2">
                        <div *ngIf="submitted && f.ON_HIRE_DATE.errors" class="invalid-feedback">Please Enter From date </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label2">To Date<span class="text-danger">*</span></label>
                        <input type="date" [ngClass]="{'invalid':submitted && f.OFF_HIRE_DATE.errors}" formControlName="OFF_HIRE_DATE" formControlName="CODE" class="form-control2">
                        <div *ngIf="submitted && f.OFF_HIRE_DATE.errors" class="invalid-feedback">Please Enter From date </div> 
                    </div>
                </div>  
                <div class="col-md-4 mt-4">
                    <div class="form-group">
                      <div class="form-check form-switch">
                        <input formControlName="STATUS" class="form-check-input" type="checkbox" role="switch" />
                        <label class="form-check-label">Status</label>
                      </div>
                      <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Status is required </div>
                    </div>
                  </div>
            </div>
            <div class="modal-footer">
                    <button *ngIf="!isUpdate" (click)="InsertUnitMaster()" class="form-btn me-2"
                        class="form-btn me-2">Save</button>
                    <button (click)="ClearForm()" class="form-btn me-2">Clear</button>
                    <button *ngIf="isUpdate" (click)="UpdateUnitMaster()" class="form-btn">Update</button>
                
            </div>
            
        </div>
    </form>
            </div>
        </div>
    </div>
    