<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <a href=""><img src="assets/img/logo_p.png" alt="" class="img-fluid"></a>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="active" href="">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Our Services</a></li>
                <li><a href="portfolio.html">Tariffs</a></li>
                <li><a href="team.html">Contact Us</a></li>
                <li><a href="login">Login</a></li>
            </ul>

        </nav>
        <nav class="navbar">
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <div class="col-md-5">
                    <div class="tabs">
                        <input type="radio" (change)="isquotation = true" class="d-none" id="radio-1" name="tabs"
                            [checked]="true" />
                        <label class="tab" for="radio-1">GET QUOTATION</label>
                        <input type="radio" (change)="isquotation = false" class="d-none" id="radio-2" name="tabs" />
                        <label class="tab" for="radio-2">TRACK YOUR BOOKING</label>
                        <span class="glider d-none"></span>
                    </div>
                    <div class="card  mt-2" style="background: transparent;">
                        <div class="card-body text-start">
                            <div *ngIf="isquotation">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" style="background: transparent;" />
                                            <label class="form-label text-light">Container Type</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" style="background: transparent;" />
                                            <label class="form-label text-light">No of Containers</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" style="background: transparent;" />
                                            <label class="form-label text-light">Commodity</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" style="background: transparent;" />
                                            <label class="form-label text-light">Gross Weight</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mx-auto">
                                        <button class="form-btn rounded-pill w-100">Quotation</button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!isquotation">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" style="background: transparent; color: white;"
                                                [(ngModel)]="bookingNo" />
                                            <label class="form-label text-light">Booking No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mx-auto">
                                        <!-- <a class="form-btn rounded-pill w-100" target="_blank"
                                            routerLink="/home/track-booking/{{bookingNo}}">
                                            Track your Booking
                                        </a> -->
                                        <button id="openModalButton" data-bs-toggle="modal" href="#previewModal"
                                        (click)="getTrackingDetail()" hidden>Open Modal</button>
                                        <button class="form-btn rounded-pill w-100" (click)="getTracking()">Track your Booking</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Prime Maritime</span></h2>
                <p class="animate__animated animate__fadeInUp">As a joint venture company of Samudera Shipping Line Ltd,
                    Singapore and J M BAXI GROUP of India, Prime Maritime is a blend of traditional values of two
                    reputed business houses with expertise in managing shipping services and ability to provide
                    excellent customer service to all stake holders in International trade.
                </p> -->

                <!-- <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#a" class="nav-link" data-bs-toggle="tab">Overview</a>
                        </li>
                        <li><a href="#b" class="nav-link" data-bs-toggle="tab">Without clearfix</a>
                        </li>
                    </ul>

                    <div class="tab-content ">
                        <div class="tab-pane active" id="a">
                            <h3 class="text-light">Standard tab panel created on bootstrap using nav-tabs</h3>
                        </div>
                        <div class="tab-pane" id="b">
                            <h3>Notice the gap between the content and tab after applying a background color</h3>
                        </div>
                    </div>
                </div> -->
                <!-- <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a> -->
            </div>
        </div>

        <!-- Slide 2 -->
        <!-- <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid.
                    Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut.
                    Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore
                    modi architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div> -->

        <!-- Slide 3 -->
        <!-- <div class="carousel-item">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
                <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid.
                    Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut.
                    Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore
                    modi architecto.</p>
                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
        </div> -->

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                            excepturi sint occaecati cupiditate non provident</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Magni Dolores</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                            officia deserunt mollit anim id est laborum</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Nemo Enim</a></h4>
                        <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis praesentium voluptatum deleniti atque</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 video-box">
                    <img src="assets/img/ship-17074.png" class="img-fluid" alt="">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4"
                        data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">Wide service offering</a></h4>
                        <p class="description">Choose from various services and 16 ports worldwide</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Flexible transportation</a></h4>
                        <p class="description">Select port-to-port or door-to-door – or whatever combination you need.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->



    <!-- ======= Features Section ======= -->
    <section class="features">
        <div class="container">

            <div class="section-title">
                <h2>Tariffs</h2>
            </div>

            <div class="row">
                <div class="col-md-5 mt-5 pt-5">
                    <img src="assets/img/Container-20-foot_side-Measure.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>Container not exceeding 20 feet in length</h3>
                    <p class="fst-italic">
                        A medium sized container fits in most vacant locations while still a substantial size
                        20 foot steel shipping containers are a great way to store or move personal items
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <b>Laden Containers - Import/Export</b>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 4222
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 2533
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <b>Empty Containers -
                                Import / Export</b>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 2956
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 1774
                                </li>
                            </ul>
                        </div>
                    </div>
                    <b>Transport to Rail
                        Flat from CY or Vice
                        Versa and Lift on/Lift off</b>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <h6>Loaded</h6>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 1649
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 1649
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Empty</h6>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 1517
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 1517
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 order-1 order-md-2 mt-5 pt-5">
                    <img src="assets/img/Container-40-foot-Hight-Cube.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 order-2 order-md-1">
                    <h3>Container exceeding 20 feet in length and upto 40 feet</h3>
                    <p class="fst-italic">
                        Medium sized container fits in most vacant locations while still a substantial size
                        Great way to store or move personal items
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <b>Laden Containers - Import/Export</b>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 6334
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 3800
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <b>Empty Containers -
                                Import / Export</b>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 4434
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 2600
                                </li>
                            </ul>
                        </div>
                    </div>
                    <b>Transport to Rail
                        Flat from CY or Vice
                        Versa and Lift on/Lift off</b>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <h6>Loaded</h6>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 2474
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 2474
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Empty</h6>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 2276
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 2276
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 mt-5 pt-5">
                    <img src="assets/img/Corten-Steel-Standard-and-Pallet-Wide-Type-45-Feet-Shipping-Container.jpg"
                        class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <h3>Container
                        exceeding 40 feet
                        in length and upto
                        45 feet length</h3>
                    <p>High-cube containers are similar in structure to standard containers, but taller. In contrast to
                        standard containers, which have a maximum height of 2591 mm (8\'6"), high-cube containers are
                        2896 mm, or 9\'6", tall. High-cube containers are for the most part 40\' long, but are sometimes
                        made as 45\' containers..</p>
                    <div class="row">
                        <div class="col-md-6">
                            <b>Laden Containers - Import/Export</b>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 8445
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 5067
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <b>Empty Containers -
                                Import / Export</b>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 5911
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 3547
                                </li>
                            </ul>
                        </div>
                    </div>
                    <b>Transport to Rail
                        Flat from CY or Vice
                        Versa and Lift on/Lift off</b>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <h6>Loaded</h6>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 3299
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 3299
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>Empty</h6>
                            <ul>
                                <li><i class="bi bi-check"></i>Foreign : 3035
                                </li>
                                <li><i class="bi bi-check"></i> Coastal : 3035
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Features Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>About Moderna</h3>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                        valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Moderna</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>




<!-- modalpopup -->
<div class="modal fade" id="previewModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-5">
                    <h5 class="modal-title" id="exampleModalLabel">Track Booking:
                        <span class="text-danger" style="font-size: 20px;"><b>{{bookingNo}}</b></span>
                    </h5>
                </div>
                <div class="col-5">
                    <!-- <span class="description" style="font-size: larger;"> <span class="bx bxs-ship"></span>
                        {{booking.POL}} - </span>
                    <span class="description" style="font-size: larger;"> <span class="bx bxs-ship"></span>
                        {{booking.POD}}</span> -->
                </div>
                <div class="col-2 text-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closeBtn></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-md-12 text-center">
                    <div class="container container-fluid mt-5">
                        <ul class="multi-steps mt-5" id="stepper" *ngIf="isTracking">
                            <li class="step is-active">Booking
                                <div class="progress-bar">
                                </div>
                                <div class="progress-bar__bar">
                                    <div class="train" style="bottom: 1.9rem;width: 20%;">
                                        <img src="assets/img/quote-icon.png" width="100%">
                                    </div>
                                </div>
                            </li>
                            <li class="step">CRO<div class="progress-bar"></div>
                                <div class="progress-bar__bar">
                                    <div class="train" style="bottom: 1rem;width: 27%;">
                                        <img src="assets/img/container2.jpg" width="100%">
                                    </div>
                                </div>
                            </li>
                            <li class="step">BL<div class="progress-bar"></div>
                                <div class="progress-bar__bar">
                                    <div class="train" style="width: 20%;bottom:1.7rem">
                                        <img src="assets/img/972617.png" width="100%">
                                    </div>
                                </div>
                            </li>
                            <li class="step">Vessel Sailed<div class="progress-bar"></div>
                                <div class="progress-bar__bar">
                                    <div class="train" style="bottom: 1.3rem;width: 35%;">
                                        <img src="assets/img/cargoship2.png" width="100%">
                                    </div>
                                </div>
                            </li>
                            <li class="step">DO<div class="progress-bar"></div>
                                <div class="progress-bar__bar">
                                    <div class="train w-25" style="bottom: 1.8rem">
                                        <img src="assets/img/truck-icon.jpg" width="100%">
                                    </div>
                                </div>
                            </li>
                            <li class="step">Release</li>
                        </ul>
                        <div class="col-md-5 mx-auto" *ngIf="!isTracking">
                            <h5 class="text-center">Sorry! No Tracking found !!</h5>
                            <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
