<div class="section-title">
    <h2>Empty Repo Details</h2>
</div>
<div class="container">
    <div class="accordion mt-3" id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="heading-1">
                <h6 class="mb-0">
                    <a data-bs-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1"
                        data-abc="true" class="collapsed">
                        General Info
                    </a>
                </h6>
            </div>
            <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1"
                data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Repo No.</label>
                                <label class="label-subheader">{{er?.REPO_NO}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Mode of Transport</label>
                                <label class="label-subheader">{{er?.MODE_OF_TRANSPORT}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Load Depot</label>
                                <label class="label-subheader">{{er?.LOAD_DEPOT}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Discharge Depot</label>
                                <label class="label-subheader">{{er?.DISCHARGE_DEPOT}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="er?.MODE_OF_TRANSPORT=='Vessel'">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Load Port</label>
                                <label class="label-subheader">{{er?.LOAD_PORT}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Discharge Port.</label>
                                <label class="label-subheader">{{er?.DISCHARGE_PORT}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Vessel</label>
                                <label class="label-subheader">{{er?.VESSEL_NAME}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Voyage No</label>
                                <label class="label-subheader">{{er?.VOYAGE_NO}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Movement Date</label>
                                <label class="label-subheader">{{er?.MOVEMENT_DATE | date:'mediumDate'}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Remarks</label>
                                <label class="label-subheader">{{er?.REMARKS}}</label>
                            </div>
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Shipping Terms</label>
                                <label class="label-subheader">{{do?.SHIPPING_TERMS}}</label>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="showList">
            <div class="card-header" role="tab" id="heading-2">
                <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-2" aria-expanded="false"
                        aria-controls="collapse-2" data-abc="true">
                        Container Details
                    </a>
                </h6>
            </div>
            <div id="collapse-2" class="collapse show" role="tabpanel" aria-labelledby="heading-2"
                data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="ratetable" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Container No</th>
                                    <th>Container Type</th>
                                    <th>Container Size</th>
                                    <!-- <th>Seal No</th>
                                    <th>Marks & Numbers</th>
                                    <th>Desc. Of Goods</th>
                                    <th>Gross Wgt.</th>
                                    <th>Measurement</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of containerList; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.CONTAINER_NO}}</td>
                                    <td>{{item.CONTAINER_TYPE}}</td>
                                    <td>{{item.CONTAINER_SIZE}}</td>
                                    <!-- <td>{{item.SEAL_NO}}</td>
                                    <td>{{item.MARKS_NOS}}</td>
                                    <td>{{item.DESC_OF_GOODS}}</td>
                                    <td>{{item.GROSS_WEIGHT}}</td>
                                    <td>{{item.MEASUREMENT}}</td> -->
    
                                </tr>
                                
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" *ngIf="showRateList">
            <div class="card-header" role="tab" id="heading-3">
                <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-3" aria-expanded="false"
                        aria-controls="collapse-3" data-abc="true">
                        Rate Details
                    </a>
                </h6>
            </div>
            <div id="collapse-3" class="collapse show" role="tabpanel" aria-labelledby="heading-3"
                data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="ratetable" style="font-size: 12px;">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Charge Code</th>
                                    <th>Currency</th>
                                    <th>Standard Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of erRateList; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.CHARGE_CODE}}</td>
                                    <td>{{item.CURRENCY}}</td>
                                    <td>{{item.STANDARD_RATE}}</td>
                                </tr>
                                
                            </tbody>
                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
