<div class="section-title">
    <h2>Depo Dashboard</h2>
</div>
<section class="services">
    <div class="col-md-7 mx-auto">
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="icon-box icon-box-cyan" routerLink="/home/container-allotment">
                    <div class="icon"><i class='bx bxs-package'></i></div>
                    <h4 class="title"><a href="">Container Allotment</a></h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-box icon-box-cyan" routerLink="/home/mr-request">
                    <div class="icon"><i class="bx bxs-car-crash"></i></div>
                    <h4 class="title"><a href="">M&R Request</a></h4>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="icon-box icon-box-cyan" routerLink="/home/new-track">
                    <div class="icon"><i class="bx bxs-truck"></i></div>
                    <h4 class="title"><a href="">Container Tracking</a></h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="icon-box icon-box-cyan" routerLink="/home/new-cm">
                    <div class="icon"><i class='bx bxs-stopwatch'></i></div>
                    <h4 class="title"><a href="">Container Movement</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>