/* You can add global styles to this file, and also import other style files */

@import'./assets/vendor/bootstrap-icons/bootstrap-icons.css';
@import './assets/vendor/boxicons/css/boxicons.css';
@import './assets/css/style.css';
@import './assets/pm-assets/vendor/css/theme-default.css' ;
@import './assets/pm-assets/css/demo.css';
@import './assets/pm-assets/vendor/css/pages/page-auth.css';


// @import "ag-grid-community/dist/styles/ag-grid.css";
// @import "ag-grid-community/dist/styles/ag-theme-alpine.css";
// @import "~@ng-select/ng-select/themes/default.theme.css";

.ag-theme-alpine {
  margin-bottom: 1rem;
  color: #212529;
  //min-width: 500px !important;
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}
.ag-theme-alpine .ag-header-cell {
  background: #467b97;
  border-bottom: 4px solid #eceffa;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.ag-theme-alpine .ag-header-cell {
  background: #467b97;
  border-bottom: 4px solid #eceffa;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.ag-theme-alpine .ag-header-cell {
  background: #467b97;
  border-bottom: 4px solid #eceffa;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.form-btn {
  background: white;
  border: 1px solid #68a4c4;
  padding: 6px 18px;
  color: #68a4c4;
  transition: 0.4s;
  cursor: pointer;
}

.form-btn:hover {
  background: #8dbad2;
  color: #fff;
}

.form-btn-primary {
  background: #68a4c4;
  border: 1px solid #68a4c4;
  padding: 6px 18px;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.form-btn-success {
  background: white;
  border: 1px solid #63a963;
  padding: 6px 18px;
  color: #63a963;
  transition: 0.4s;
  cursor: pointer;
}

.form-btn-success:hover {
  background: #63a963;
  color: #fff;
}

.form-btn-danger {
  background: white;
  border: 1px solid rgba(220, 53, 69);
  padding: 6px 18px;
  color: rgba(220, 53, 69);
  transition: 0.4s;
  cursor: pointer;
}

.form-btn-danger:hover {
  background: rgba(220, 53, 69);
  color: #fff;
}

.form-btn-info {
  background: white;
  border: 1px solid #54b4d3;
  padding: 6px 18px;
  color: #54b4d3;
  transition: 0.4s;
  cursor: pointer;
}

.form-btn-info:hover {
  background: #54b4d3;
  color: #fff;
}

.form-btn-light {
  background: white;
  border: 1px solid black;
  padding: 6px 18px;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}

.form-btn-light:hover {
  background: #f8f9fa;
  color: black;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-label {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 1;
}

.form-label-ddl {
  position: absolute;
  top: -25px;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 1;
  font-size: 14px;
  font-size: 85%;
}

.form-control:focus + .form-label,
.form-control:valid + .form-label,
.form-control:active + .form-label,
.form-control:read-only + .form-label {
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  top: 9px;
  font-size: 85%;
}

.form-control {
  border-radius: 0% !important;
  border: none;
  border-bottom: 1px solid #c7c7c7 !important;
  height: 43px;
}

.form-control:focus {
  border-radius: 0% !important;
  border: none;
  border-bottom: 1px solid #3b71ca !important;
  box-shadow: none;
}

.form-control[readonly] {
  background-color: white !important;
}

.form-control[readonly] :hover {
  background-color: white !important;
  cursor: not-allowed;
}

.form-control2 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  // margin-top: 1rem;
}

.form-label2 {
  position: relative;
  top: 12px;
  left: 8px;
  background: #fff;
  padding: 0px 5px;
  color: #000000;
  font-weight: 400;
  //z-index: 1030;
  // font-family: "opensans-semibold";
  font-size: 0.857rem;
}

.form-control2:focus {
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

.form-control3 {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.12rem 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control3:focus {
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

.form-label3 {
  position: relative;
  top: 9px;
  left: 8px;
  background: #fff;
  padding: 0px 5px;
  color: #000000;
  font-weight: 400;
  // z-index: 1030;
  font-size: 0.7rem;
}

.label-header {
  font-size: 100%;
  font-weight: 500;
  display: block;
}

.label-subheader {
  font-size: 90%;
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* --SCROLL BAR-- */
.scrollbar {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 25px;
}

.scrollbarRollOver {
  height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#style-3::-webkit-scrollbar {
  width: 6px;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/*-DROPDOWN-*/

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: none;
  min-height: 43px;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: none;
  box-shadow: none;
}

/*-VALIDATION--*/

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #f93154;
}

.invalid {
  border-bottom: 1px solid #d00 !important;
}
.invalid:focus {
  border-bottom: 1px solid #d00 !important;
}

/*--FILE UPLOAD--*/

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}

.formbold-file-input input {
  opacity: 0;
  position: absolute;
  // width: 100%;
  // height: 70%;
  cursor: pointer;
}

.formbold-file-input label {
  position: relative;
  border: 1px dashed #00afe3;
  border-radius: 6px;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.formbold-drop-file {
  display: block;
  font-weight: 600;
  color: #aeaeae;
  font-size: 20px;
  margin-bottom: 8px;
}

.formbold-file-list {
  border-radius: 6px;
  background: #f5f7fb;
  padding: 16px 32px;
}

.formbold-file-item {
  // display: flex;
  align-items: center;
  justify-content: space-between;
  color: #68a4c4;
  font-size: 18px;
}

.formbold-file-item button {
  color: #07074d;
  border: none;
  background: transparent;
  cursor: pointer;
}

.formbold-file-name {
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  padding-right: 12px;
}
.formbold-progress-bar {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background: #e2e5ef;
}

.formbold-progress {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0;
  top: 0;
  background: #6a64f1;
  border-radius: 8px;
}

@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Our Delivery Order
--------------------------------------------------------------*/

.tabs-container {
  background: #eee;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  height: 55px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.tabs-container .tab-link {
  width: 33.33%;
  position: relative;
  height: 100%;
  padding: 10px;
  float: left;
  text-align: center;
}

// .active {
//   border-bottom: 2px solid rgba(30, 67, 86, 0.8);
//   transition: ease-in-out 0.3s;
// }

/*--ROUNDED BUTTONS---*/

.rounded-btn > a {
  font-size: 12px;
  display: inline-block;
  background: #68a4c4;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.rounded-btn > a:hover {
  background: #1e4356;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.multiselect-dropdown .dropdown-btn .selected-item {
  //border: 1px solid #337ab7;
  margin-right: 4px;
  background: #337ab7;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  float: left;
  margin-top: 10px !important;
}

.multiselect-dropdown .dropdown-btn .selected-item:hover {
  box-shadow: none !important;
}

/*----POINTER-----*/

.pointer {
  cursor: pointer !important;
}

/*---DATATABLES---*/

.dataTables_wrapper .dataTables_filter input {
  margin-bottom: 8px;
}

.ratetable {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.ratetable th,
.ratetable td {
  // padding: 0.75rem;
  // vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.ratetable thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.ratetable tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.ratetable-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.ratetable-responsive > .ratetable-bordered {
  border: 0;
}

.ratetable {
  min-width: 1000px !important;
  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}
.ratetable thead th {
  border: none;
  // padding: 30px;
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.ratetable thead tr {
  background: #467b97;
  border-bottom: 4px solid #eceffa;
}
.ratetable tbody tr {
  margin-bottom: 10px;
  border-bottom: 4px solid #f8f9fd;
}
.ratetable tbody tr:last-child {
  border-bottom: 0;
}
.ratetable tbody th,
.ratetable tbody td {
  border: none;
  // padding: 30px;
  font-size: 12px;
  background: #fff;
  vertical-align: middle;
}
.ratetable tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px;
}
.ratetable tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 50%;
}
.ratetable tbody td.status .active {
  background: #cff6dd;
  color: #1fa750;
}
.ratetable tbody td.status .active:after {
  background: #23bd5a;
}
.ratetable tbody td.status .waiting {
  background: #fdf5dd;
  color: #cfa00c;
}
.ratetable tbody td.status .waiting:after {
  background: #f2be1d;
}

.ratetable tbody td.status .countered {
  background: #fdf5dd;
  color: #54b4d3;
}
.ratetable tbody td.status .countered:after {
  background: #54b4d3;
}

.ratetable tbody td.status .rejected {
  background: #fdf5dd;
  color: rgba(220, 53, 69);
}
.ratetable tbody td.status .rejected:after {
  background: rgba(220, 53, 69);
}

.ratetable tbody td .img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.ratetable tbody td .email span {
  display: block;
}
.ratetable tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.ratetable tbody td .close span {
  font-size: 12px;
  color: #dc3545;
}

.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -14px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  .checkmark:after {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* Show the checkmark when checked */
.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}

/* Style the checkmark/indicator */
.checkbox-primary {
  color: #40bfc1;
}
.checkbox-primary input:checked ~ .checkmark:after {
  color: #40bfc1;
}

