/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

/* --FORM CONTROL-- */
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-label {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-label,
.form-control:valid + .form-label,
.form-control:active + .form-label {
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  top: 12px;
  font-size: 85%;
}

.form-control {
  border-radius: 0% !important;
  border: none;
  border-bottom: 1px solid #c7c7c7 !important;
  height: 43px;
}

.form-control:focus {
  border-radius: 0% !important;
  border: none;
  border-bottom: 1px solid #3b71ca !important;
  box-shadow: none;
}

// .form-outline .form-control:focus ~ .form-label {
//   background-color: white;
// }

.form-control[readonly] {
  background-color: white !important;
}

.form-control[readonly] :hover {
  background-color: white !important;
  cursor: not-allowed;
}

/* --SCROLL BAR-- */
.scrollbar {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 450px;
}

#style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#style-3::-webkit-scrollbar {
  width: 6px;
}

#style-3::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/*-DROPDOWN-*/

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: none;
  min-height: 43px;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: none;
  box-shadow: none;
}

/*--RADIO BUTTONS--*/

.form-check-input[type="radio"] {
  margin-top: 0.2em;
}

.form-check {
  padding-left: 0px;
}

.form-check .form-check-input {
  margin-left: 0.38em;
}

.form-check-input[type="radio"]:checked:after {
  left: 15%;
  top: 52%;
}

/*-BUTTONS-*/

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  background-color: #c3c3c3;
  border-color: #545b62;
}

/*-VALIDATION--*/

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #f93154;
}

.invalid {
  border-bottom: 1px solid #d00 !important;
}
.invalid:focus {
  border-bottom: 1px solid #d00 !important;
}

/*--FILE UPLOAD--*/

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}

.formbold-file-input input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 70%;
  cursor: pointer;
}

.formbold-file-input label {
  position: relative;
  border: 1px dashed #e0e0e0;
  border-radius: 6px;
  min-height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.formbold-drop-file {
  display: block;
  font-weight: 600;
  color: #aeaeae;
  font-size: 20px;
  margin-bottom: 8px;
}

.formbold-file-list {
  border-radius: 6px;
  background: #f5f7fb;
  padding: 16px 32px;
}

.formbold-file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formbold-file-item button {
  color: #07074d;
  border: none;
  background: transparent;
  cursor: pointer;
}

.formbold-file-name {
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  padding-right: 12px;
}
.formbold-progress-bar {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background: #e2e5ef;
}

.formbold-progress {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0;
  top: 0;
  background: #6a64f1;
  border-radius: 8px;
}

@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}

/*--BADGES--*/

// .badge-success {
//   color: #fff;
//   background-color: #28a745;
// }

// .badge-info {
//   color: #fff;
//   background-color: #17a2b8;
// }

// .badge-primary {
//   color: #fff;
//   background-color: #007bff;
// }

// .badge-secondary {
//   color: #fff;
//   background-color: #6c757d;
// }

// .badge-light {
//   color: #212529;
//   background-color: #f8f9fa;
// }

/*--MODAL--*/

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  // margin: auto;
  // width: 320px;
  //height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  // height: 100%;
  overflow-y: auto;
}

// .modal.left .modal-body,
// .modal.right .modal-body {
//   padding: 15px 15px 80px;
// }

/*Left*/
.modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  // right: -320px;
  right: 0.5rem;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}
