<div class="section-title">
    <h2>{{'Header.title'|translate}}</h2>
</div>
<div class="container">
    <form class="mx-5" [formGroup]="quotationForm">
        <div class="col-md-6 offset-md-6 text-end">
            <button class="form-btn-primary" routerLink="/home/new-quotation">{{'Button.newRequest'|translate}}</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">{{'Header.requestNo'|translate}}</label>
                    <input formControlName="SRR_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.fromDate'|translate}}</label>
                    <input formControlName="FROM_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.toDate'|translate}}</label>
                    <input formControlName="TO_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.status'|translate}}</label>
                    <select class="form-control2" formControlName="STATUS">
                        <option value="">--Select--</option>
                        <option value="Approved">Approved</option>
                        <option value="Requested">Requested</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2" (click)="Search()">{{'Button.search'|translate}}</button>
                <button class="form-btn" (click)="Clear()">{{'Button.clear'|translate}}</button>
            </div>
        </div>
    </form>
    <section class="services">
        <div *ngIf="expRecords > 0" class="col-md-5 offset-md-7 pe-md-3 text-end">
            <img height="30" width="40" src="assets/img/alert.gif">
            <small class="text-danger">{{expRecords}} Request(s) about to expire</small>
        </div>
        <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
            <div [class]="isScroll ? 'force-overflow' : ''">
                <div class="icon-box icon-box-cyan text-start" *ngFor="let item of quotationList; let i = index">
                    <div class="row">
                        <div class="col-md-5">
                            <h4 class="title"><a (click)="getQuotationDetails(item.SRR_NO)">{{item.SRR_NO}}</a>
                                <span style="font-size: 10px;"
                                    [class]="item.STATUS == 'Approved' ? 'badge rounded-pill bg-success ms-3' : 'badge rounded-pill bg-secondary ms-3'">{{item.STATUS}}</span>
                            </h4>
                            <p class="description mb-2"><span class="bx bxs-ship me-2"></span>{{item.POL}} <i
                                    class='bx bxs-right-arrow-circle mx-2'></i>
                                <span class="bx bxs-ship me-2"></span>{{item.POD}}
                            </p>
                            <button class="form-btn-primary" style="font-size: 12px;"
                                (click)="getSRRDetails(item,'container')">Add
                                More
                                Containers</button>
                            <button *ngIf="item.STATUS == 'Approved && item.BOOKINGS == 0'"
                                (click)="getSRRDetails(item,'rate')" class="form-btn-danger ms-2"
                                style="font-size: 12px;">Counter
                                Offer</button>
                            <a #rateModal class="d-none" data-bs-toggle="modal" href="#counterRateModal">Add
                                More
                                Containers</a>
                            <a #containerModal class="d-none" data-bs-toggle="modal" href="#containerModal">Add
                                More
                                Containers</a>
                        </div>
                        <div class="col-md-5">
                            <p class="description" style="font-weight: 500;"> <span
                                    class="bx bx-user me-2"></span>{{item.CUSTOMER_NAME}}</p>

                            <p class="description"><span class="bx bxs-truck me-2"></span>{{item.CONTAINERS}}
                            </p>
                            <p class="description"><span class='bx bxs-wallet me-2'></span>Rate : <span
                                    class="text-success">{{item.TOTAL_RATE_REQUESTED}}
                                </span>
                                |<i class='bx bxs-package mx-2'></i>{{item.COMMODITY}} Kg
                                <!-- <img *ngIf="item.DAYS <= 3" height="30" width="40" class="mb-1" src="assets/img/alert.gif"> -->
                            </p>
                            <p *ngIf="!item.IS_VESSELVALIDITY" class="description">Validity : <span
                                    class="">{{item.EFFECT_FROM
                                    | date:'mediumDate'}} -
                                    {{item.EFFECT_TO | date:'mediumDate'}}</span>
                                <small class="ms-2 text-danger" *ngIf="item.DAYS <= 3"> About to
                                    expire !</small>
                            </p>
                            <p *ngIf="item.IS_VESSELVALIDITY" class="description">Validity : <span class="">{{item.ETA
                                    | date:'mediumDate'}} -
                                    {{item.ETD | date:'mediumDate'}}</span>
                                <small class="ms-2 text-danger" *ngIf="item.DAYS <= 3"> About to
                                    expire !</small>
                            </p>
                        </div>
                        <div class="col-md-2 text-end" *ngIf="item.STATUS == 'Approved'">
                            <button (click)="openBookingModal(i)" class="form-btn rounded-pill">Book
                                Now</button>
                            <button class="form-btn d-none" #openBtn data-bs-toggle="modal" href="#bookingModal">Book
                                Now</button>
                            <h6 *ngIf="item.BOOKINGS > 0" class="pe-2 mt-2">{{item.BOOKINGS}} Booking(s)</h6>
                        </div>
                    </div>
                    <div class="modal fade" id="bookingModal" aria-labelledby="exampleModalLabel" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        #closeBtn></button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="slotDetailsForm">
                                        <div class="col-md-12">
                                            <div class="row mb-2">
                                                <div class="col-md-12">
                                                    <h6>POL : <small class="text-danger">
                                                            {{quotationDetails?.POL}}</small>
                                                        POD :
                                                        <small class="text-danger">{{quotationDetails?.POD}}</small>
                                                    </h6>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-group">
                                                            <ng-select (change)="getVoyageList($event)"
                                                                [ngClass]="{'invalid': submitted && f4.VESSEL_NAME.errors}"
                                                                formControlName="VESSEL_NAME">
                                                                <ng-option value="" selected="true" disabled>
                                                                    --Select--</ng-option>
                                                                <ng-option *ngFor="let item of vesselList"
                                                                    value="{{item.CODE}}">
                                                                    {{item.CODE_DESC}}
                                                                </ng-option>
                                                            </ng-select>
                                                            <label class="form-label-ddl">Vessel Name<span
                                                                    class="text-danger">
                                                                    *</span></label>
                                                            <div *ngIf="submitted && f4.VESSEL_NAME.errors"
                                                                class="invalid-feedback">Vessel Name is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-group">
                                                            <ng-select
                                                                [ngClass]="{'invalid': submitted && f4.VOYAGE_NO.errors}"
                                                                formControlName="VOYAGE_NO">
                                                                <ng-option value="" selected="true" disabled>
                                                                    --Select--</ng-option>
                                                                <ng-option *ngFor="let item of voyageList"
                                                                    value="{{item.CODE}}">
                                                                    {{item.CODE_DESC}}
                                                                </ng-option>
                                                            </ng-select>
                                                            <label class="form-label-ddl">Voyage No<span
                                                                    class="text-danger">
                                                                    *</span></label>
                                                            <div *ngIf="submitted && f4.VOYAGE_NO.errors"
                                                                class="invalid-feedback">Voyage No is required
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input formControlName="MOTHER_VESSEL_NAME" type="text"
                                                                class="form-control" />
                                                            <label class="form-label">Mother Vessel Name</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <input formControlName="MOTHER_VOYAGE_NO" type="text"
                                                                class="form-control" />
                                                            <label class="form-label">Mother Vessel Voyage
                                                                No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 offset-md-6" style="text-align: right;">
                                                    <button (click)="slotAllocation()" class="form-btn">
                                                        <i class="fa fa-plus me-2"></i>Slot
                                                        Allocation</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <table class="table" style="font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Slot Operator</th>
                                                <th>No of Slots</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of f;let j = index;" [formGroup]="f1(item)">
                                                <td class="col-md-1">
                                                    <label class="mt-4"> {{j+1}}</label>
                                                </td>
                                                <td class="col-md-6">
                                                    <label class="form-label3">Slot Operator</label>
                                                    <select class="form-control3" formControlName="SLOT_OPERATOR">
                                                        <option value="" selected disabled>
                                                            --Slot
                                                            Operator--</option>
                                                        <option *ngFor="let item of slotoperatorList"
                                                            value="{{item.CODE}}">
                                                            {{item.CODE_DESC}}</option>
                                                    </select>
                                                </td>
                                                <td class="col-md-4">
                                                    <label class="form-label3">No of Slots</label>
                                                    <input (keypress)="numericOnly($event)" class="form-control3"
                                                        formControlName="NO_OF_SLOTS" type="text" />
                                                </td>
                                                <td class="col-md-1">
                                                    <a (click)="removeItem(j)"><i style="font-size:15px"
                                                            class="fa fa-trash mt-4"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" (click)="bookNow()" class="form-btn-primary">Book
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-auto" *ngIf="quotationList.length == 0">
            <h5 class="text-center">Sorry! No records found !!</h5>
            <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
        </div>
    </section>

    <div class="modal fade" id="containerModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Container Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closeBtn1></button>
                </div>
                <div class="modal-body">
                    <div class="row description" *ngFor="let item of f2;let i = index" [formGroup]="f1(item)">
                        <div class="col-md-4 mt-2">
                            <label class="label-header">Container</label>
                            <label class="label-subheader">{{containerList[i].CONTAINER_TYPE}} -
                                {{containerList[i].CONTAINER_SIZE}}</label>
                        </div>
                        <div class="col-md-4 mt-2">
                            <label class="label-header">Service Mode</label>
                            <label class="label-subheader">{{containerList[i].SERVICE_MODE}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label2">No of Container</label>
                            <input type="text" formControlName="IMM_VOLUME_EXPECTED" class="form-control2" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="addContainer()" class="form-btn">Add Container</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="counterRateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rate Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closeBtn2></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" *ngFor="let item1 of containerList">
                        <div class="row">
                            <div class="col-md-6">
                                <h6>Container : <small class="text-danger me-2">{{item1.CONTAINER_TYPE}}
                                        -
                                        {{item1.CONTAINER_SIZE}} </small>
                                    Service Mode : <small class="text-danger">{{item1.SERVICE_MODE}}</small>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-10 mt-3">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="label-header">Charge Code</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="label-header">Standard Rate</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="label-header">Payment</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="label-header">Place of Payment</label>
                                </div>
                                <!-- <div class="col-md-2">
                                    <label class="label-header">Requested Rate</label>
                                </div> -->
                                <div class="col-md-2">
                                    <label class="label-header">Approved Rate</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="label-header">Counter Rate</label>
                                </div>
                            </div>
                            <div *ngFor="let item of f3;let i = index" [formGroup]="f1(item)">
                                <div *ngIf="item.value.CONTAINER_TYPE == item1.CONTAINER_TYPE" class="row">
                                    <div class="col-md-2 mt-2">
                                        <label class="label-subheader">{{item.value.CHARGE_CODE}}</label>
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <label class="label-subheader">100 USD</label>
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <label class="label-subheader">{{item.value.PAYMENT_TERM}}</label>
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <label class="label-subheader">{{item.value.TRANSPORT_TYPE}}</label>
                                    </div>
                                    <!-- <div class="col-md-2 mt-2">
                                        <label class="label-subheader">{{item.value.RATE_REQUESTED}}
                                            {{item.value.CURRENCY}}</label>
                                    </div> -->
                                    <div class="col-md-2 mt-2">
                                        <label class="label-subheader">{{item.value.APPROVED_RATE}}
                                            {{item.value.CURRENCY}}</label>
                                    </div>
                                    <div class="col-md-2 mt-1">
                                        <input formControlName="RATE_REQUESTED" class="form-control3" type="text" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" (click)="counterRate()" class="form-btn-primary me-2">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>