<div class="section-title">
    <h2>Quotations</h2>
</div>
<div class="container">
    <div class="col-md-6 offset-md-6 text-end">
        <button class="form-btn-primary" routerLink="/home/new-quotation">New Quotation</button>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control">
                    <label class="form-label">Ref No</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="date" class="form-control">
                    <label class="form-label">From Date</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="date" class="form-control">
                    <label class="form-label">To Date</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="text" class="form-control">
                    <label class="form-label">Status</label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="form-btn me-2">Search</button>
                <button class="form-btn">Clear</button>
            </div>
        </div>
    </div>
    <section class="services">
        <div class="container">
            <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
                <div [class]="isScroll ? 'force-overflow' : ''">
                    <div class="icon-box icon-box-cyan text-start" *ngFor="let item of quotationList; let i = index">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="title"><a (click)="getQuotationDetails(item.SRR_NO)">{{item.SRR_NO}}</a>
                                    <span style="font-size: 10px;"
                                        [class]="item.STATUS == 'Approved' ? 'badge rounded-pill bg-success ms-3' : 'badge rounded-pill bg-secondary ms-3'">{{item.STATUS}}</span>
                                </h4>
                                <p class="description"> <span class="bx bx-user"></span> {{item.CUSTOMER_NAME}} | <span
                                        class="bx bxs-truck"></span>
                                    {{item.NO_OF_CONTAINERS}} Containers | <span class="text-danger">{{item.EFFECT_FROM
                                        | date:'mediumDate'}} -
                                        {{item.EFFECT_TO | date:'mediumDate'}}</span></p>
                                <a href="">Add More Containers</a>
                            </div>
                            <div class="col-md-4 text-end" *ngIf="item.STATUS == 'Approved'">
                                <button (click)="openBookingModal(i)" class="form-btn">Book
                                    Now</button>
                                <button class="form-btn d-none" #openBtn data-bs-toggle="modal"
                                    href="#bookingModal">Book
                                    Now</button>
                            </div>
                        </div>
                        <div class="modal fade" id="bookingModal" aria-labelledby="exampleModalLabel" tabindex="-1"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" #closeBtn></button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="slotDetailsForm">
                                            <div class="col-md-12">
                                                <div class="row mb-2">
                                                    <div class="col-md-12">
                                                        <h6>POL : <small class="text-danger">
                                                                {{quotationDetails?.POL}}</small>
                                                            POD :
                                                            <small class="text-danger">{{quotationDetails?.POD}}</small>
                                                        </h6>
                                                    </div>
                                                    <div class="row mt-5">
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-group">
                                                                <input type="text" formControlName="VESSEL_NAME"
                                                                    class="form-control" />
                                                                <label class="form-label">Vessel Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-group">
                                                                <input formControlName="VOYAGE_NO" type="text"
                                                                    class="form-control" />
                                                                <label class="form-label">Voyage No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-group">
                                                                <input formControlName="MOTHER_VESSEL_NAME" type="text"
                                                                    class="form-control" />
                                                                <label class="form-label">Mother Vessel Name</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-4">
                                                            <div class="form-group">
                                                                <input formControlName="MOTHER_VOYAGE_NO" type="text"
                                                                    class="form-control" />
                                                                <label class="form-label">Mother Voyage No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 offset-md-6" style="text-align: right;">
                                                        <button (click)="slotAllocation()"
                                                            class="btn btn-outline-info btn-block">
                                                            <i class="fa fa-plus mr-1"></i>Slot
                                                            Allocation</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Sr. No</th>
                                                    <th>Slot Operator</th>
                                                    <th>No of Slots</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of f;let j = index;" [formGroup]="f1(item)">
                                                    <td>
                                                        1
                                                    </td>
                                                    <td class="col-md-6">
                                                        <ng-select formControlName="SLOT_OPERATOR">
                                                            <ng-option value="" selected disabled>
                                                                --Slot
                                                                Operator--</ng-option>
                                                            <ng-option value="xx">test</ng-option>
                                                        </ng-select>
                                                    </td>
                                                    <td>
                                                        <input formControlName="NO_OF_SLOTS" type="text"
                                                            class="form-control" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" (click)="bookNow()" class="btn btn-outline-dark">Book
                                            Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>