<div class="section-title">
    <h2>Container Allotment</h2>
</div>
<div class="container">
    <form class="mx-5" [formGroup]="filterForm">
        <div class="col-md-6 offset-md-6 text-end">
            <button class="form-btn-primary" data-bs-toggle="modal" href="#modal1"><i class="fa fa-plus me-1"></i>New
                Container
                Allotment</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">CRO No</label>
                    <input formControlName="CONTAINER_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">Container No</label>
                    <input formControlName="CONTAINER_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">From Date</label>
                    <input formControlName="FROM_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">To Date</label>
                    <input formControlName="TO_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2">Search</button>
                <button class="form-btn-light">Clear</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="ratetable table-striped table-bordered" id="data-table-config">
                <thead>
                    <tr>
                        <th>CRO No</th>
                        <th>Container No.</th>
                        <th>Location</th>
                        <th>Movement Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="alert" role="alert" *ngFor="let item of containerAllotmentList;let i = index">
                        <td>
                            {{item.CRO_NO}}
                        </td>
                        <td>
                            {{item.CONTAINER_NO}}
                        </td>
                        <td>
                            ICD
                        </td>
                        <td>
                            10 Jan 2022
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>

    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modal1"
        aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Get Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closeBtn></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="form-label2">CRO No</label>
                                <input type="text" class="form-control2" [(ngModel)]="croNo" />
                            </div>
                        </div>
                        <div class="col-md-4 mt-4">
                            <button type="button" (click)="getDetails()" class="form-btn rounded-pill">Get
                                Details</button>
                            <button #openModal2 data-bs-toggle="modal" href="#modal2" class="d-none"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modal2"
        aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Allot Container</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closeBtn1></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <h6>CRO No : <small class="text-danger me-2">{{croDetails?.CRO_NO}}</small>
                            Booking No : <small class="text-danger me-2">{{croDetails?.BOOKING_NO}}</small>
                            Container: <small class="text-danger"
                                *ngFor="let item of croDetails?.ContainerList; let i = index">{{item.CONTAINER_TYPE}}
                                x
                                {{item.IMM_VOLUME_EXPECTED}}</small>
                        </h6>
                    </div>
                    <form [formGroup]="containerForm">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label class="form-label2" style="z-index: 1;">Container</label>
                                    <ng-multiselect-dropdown (onSelectAll)="saveContainer($event,1)"
                                        (onDeSelectAll)="saveContainer($event,2)" (onSelect)="saveContainer($event)"
                                        (onDeSelect)="saveContainer($event)" #multiSelect
                                        [placeholder]="'Select Container'" [settings]="dropdownSettings"
                                        [formControl]="f.CONTAINER_LIST1" [data]="containerDropdownList">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table" style="font-size: 12px;" *ngIf="f1.length > 0">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>CRO No</th>
                                <th>Container No</th>
                                <th>To Location <span class="rounded-btn">
                                        <a (click)="copyValue('location')"><i class="fa fa-copy text-light"></i></a>
                                    </span></th>
                                <th>Movement Date <span class="rounded-btn">
                                        <a (click)="copyValue('date')"><i class="fa fa-copy text-light"></i></a>
                                    </span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of f1;let i = index" [formGroup]="item">
                                <td>{{i + 1}}</td>
                                <td>{{f.CRO_NO.value}}</td>
                                <td>{{item.value.CONTAINER_NO}}</td>
                                <td><input type="text" class="form-control3" maxlength="50"
                                        formControlName="TO_LOCATION" /></td>
                                <td><input type="date" min="{{currentDate}}" class="form-control3"
                                        onkeypress="return false" formControlName="MOVEMENT_DATE" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer" *ngIf="f1.length > 0">
                    <button class="form-btn" (click)="insertContainer()">Allot
                        Container</button>
                </div>
            </div>
        </div>
    </div>
</div>