<div class="section-title pt-3">
  <h2>Customer Master</h2>
</div>
<div class="mb-4">
  <form [formGroup]="custForm">
    <div class="col-md-6 offset-md-6 text-end">
      <button class="form-btn-primary" (click)="openModal()"><i class="fa fa-plus me-1"></i>New Customer</button>
      <button class="form-btn-primary d-none" #openModalPopup data-bs-toggle="modal" href="#customerModal">New
        Customer</button>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label class="form-label2">Customer Name</label>
          <input formControlName="CUST_NAME" type="text" class="form-control2">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">Type</label>
          <select formControlName="CUST_TYPE" class="form-control2">
            <option disabled value="">--Select--</option>
            <option value="S">Shipper</option>
            <option value="C">Consignee</option>
            <option value="F">Forwarder</option>
            <option value="CHA">CHA</option>
            <option value="B">Broker</option>
            <option value="N">Notify Party</option>
            <option value="SLOT">Slot Operator</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">Status</label>
          <select formControlName="STATUS" class="form-control2">
            <option disabled value="">--Select--</option>
            <option value=true>Active</option>
            <option value=false>In-Active</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">From Date</label>
          <input (change)="custForm.get('TO_DATE')?.setValue('')" onkeypress="return false;" formControlName="FROM_DATE"
            type="date" class="form-control2">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="form-label2">To Date</label>
          <input onkeypress="return false;" [min]="custForm.get('FROM_DATE')?.value" formControlName="TO_DATE"
            type="date" class="form-control2">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-9 text-end mb-3">
        <button class="form-btn me-2" (click)="Search()" [disabled]="isLoading">Search
          <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
        <button class="form-btn-light me-2" (click)="Clear()" [disabled]="isLoading1">Clear<span *ngIf="isLoading1"
            class="fa fa-spinner fa-spin"></span></button>
      </div>
    </div>
  </form>
  <table class="ratetable table-bordered" id="data-table-config">
    <thead>
      <tr>
        <th width="1%">No</th>
        <th width="30%">Name</th>
        <th width="9%">Type</th>
        <th width="10%">Email</th>
        <th width="20%">Address</th>
        <th width="10%">Contact</th>
        <th width="10%">Status</th>
        <th width="10%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of partyList; let i = index">
        <td width="1%">{{i+1}}</td>
        <td width="30%">{{item.CUST_NAME}}</td>
        <td width="9%">{{item.CUST_TYPE}}</td>
        <td width="10%">{{item.CUST_EMAIL == null ? '-' : item.CUST_EMAIL == '' ? '-' : item.CUST_EMAIL}}</td>
        <td width="20%">{{item.CUST_ADDRESS == null ? '-' : item.CUST_ADDRESS == '' ? '-' : item.CUST_ADDRESS}}</td>
        <td width="10%">{{item.CUST_CONTACT == null ? '-' : item.CUST_CONTACT == '' ? '-' : item.CUST_CONTACT}}</td>
        <td width="10%" class="status"><span [class]="!item.STATUS ? 'rejected' : 'active'">{{item.STATUS ? 'Active'
            :
            'In-Active'}}</span>
        </td>
        <td width="10%">
          <i class="fa fa-pencil mx-2 pointer text-success" (click)="openModal(item.CUST_ID)"></i>
          <i class="fa fa-trash ms-2 pointer text-danger" (click)="DeletePartyMaster(item.CUST_ID)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" #customerModal id="customerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="partyForm">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2">Name<span class="text-danger"> *</span></label>
                  <input maxlength="500" type="text" id="name" [ngClass]="{'invalid':submitted && f.CUST_NAME.errors}"
                    formControlName="CUST_NAME" class="form-control2">
                  <div *ngIf="submitted && f.CUST_NAME.errors?.required" class="invalid-feedback">Name is required
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2">Address<span class="text-danger"> *</span></label>
                  <textarea maxlength="500" type="text" id="address"
                    [ngClass]="{'invalid':submitted && f.CUST_ADDRESS.errors}" formControlName="CUST_ADDRESS"
                    class="form-control2"></textarea>
                  <div *ngIf="submitted && f.CUST_ADDRESS.errors?.required" class="invalid-feedback">Address is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2">Email</label>
                  <input maxlength="255" type="text" id="CustomerEmail"
                    [ngClass]="{'invalid':submitted && f.CUST_EMAIL.errors}" formControlName="CUST_EMAIL"
                    class="form-control2">
                  <div *ngIf="submitted && f.CUST_EMAIL.errors?.email" class="invalid-feedback">Email is invalid
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" *ngIf="isGST">
                  <label class="form-label2">GST No<span class="text-danger"> *</span></label>
                  <input maxlength="15" type="text" id="gstin" [ngClass]="{'invalid':submitted && f.GSTIN.errors}"
                    formControlName="GSTIN" class="form-control2">
                  <div *ngIf="submitted && f.GSTIN.errors?.pattern" class="invalid-feedback">GST No is invalid
                  </div>
                  <div *ngIf="submitted && f.GSTIN.errors?.required" class="invalid-feedback">GST No is required
                  </div>
                </div>
                <div class="form-group" *ngIf="!isGST">
                  <label class="form-label2">Vat No/ License No<span class="text-danger"> *</span></label>
                  <input maxlength="30" type="text" id="gstin" [ngClass]="{'invalid':submitted && f.VAT_NO.errors}"
                    formControlName="VAT_NO" class="form-control2">
                  <div *ngIf="submitted && f.VAT_NO.errors?.required" class="invalid-feedback">Vat No is required
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2" style="z-index: 1;">Type <span class="text-danger"> *</span></label>
                  <ng-multiselect-dropdown #multiSelect [ngClass]="{'invalid':submitted && f.CUST_TYPE_CODE.errors}"
                    [placeholder]="'Select Type'" [settings]="dropdownSettings" [formControl]="f.CUST_TYPE_CODE"
                    [data]="custTypeList" [(ngModel)]="selectedItems">
                  </ng-multiselect-dropdown>
                  <div *ngIf="submitted && f.CUST_TYPE_CODE.errors" class="invalid-feedback">Type is required
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2">Contact No</label>
                  <input (keypress)="onlyNumeric($event)" maxlength="10" type="text" formControlName="CUST_CONTACT"
                    class="form-control2">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mt-4">
                <div class="form-group">
                  <div class="form-check form-switch">
                    <input formControlName="STATUS" class="form-check-input" type="checkbox" role="switch" />
                    <label class="form-check-label">Status</label>
                  </div>
                  <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Status is required </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="!isUpdate" (click)="InsertPartyMaster()" class="form-btn">Save</button>
        <button *ngIf="isUpdate" (click)="UpdatePartyMaster()" class="form-btn">Update</button>
        <button class="form-btn-light me-2" (click)="ClearForm()">Clear</button>
      </div>
    </div>
  </div>
</div>