<div class="section-title">
    <h2>Delivery Order</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="billNo">
                <label class="form-label">BL No.</label>
            </div>
        </div>
        <div class="col-md-3">
            <button class="form-btn me-2" (click)="getDO()">Create DO</button>
        </div>
    </div>
    <div class="col-md-5 mx-auto" *ngIf="previewNoData">
        <h5 class="text-center">Sorry! No records found !!</h5>
        <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
    </div>
    <section *ngIf="previewDetails">
        <div class="row">
            <div class="col-md-8 border-end">
                <form [formGroup]="doForm">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="date" class="form-control" formControlName="DO_VALIDITY"
                                    [ngClass]="{'invalid': submitted && f.DO_VALIDITY.errors}" />
                                <label class="form-label">DO Validity<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.DO_VALIDITY.errors" class="invalid-feedback">
                                    DO Validity is required</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input formControlName="ARRIVAL_DATE" type="date" class="form-control"
                                    [ngClass]="{'invalid': submitted && f.ARRIVAL_DATE.errors}" />
                                <label class="form-label">Vessel Arrival Date<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.ARRIVAL_DATE.errors" class="invalid-feedback">
                                    Arrival Date is required </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input formControlName="IGM_NO" type="text" class="form-control"
                                    [ngClass]="{'invalid': submitted && f.IGM_NO.errors}" />
                                <label class="form-label">IGM No<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.IGM_NO.errors" class="invalid-feedback">
                                    IGM No is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input formControlName="IGM_DATE" type="date" class="form-control"
                                    [ngClass]="{'invalid': submitted && f.IGM_DATE.errors}" />
                                <label class="form-label">IGM Date<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.IGM_DATE.errors" class="invalid-feedback">
                                    IGM Date is required</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input formControlName="IGM_ITEM_NO" type="text" class="form-control"
                                    [ngClass]="{'invalid': submitted && f.IGM_ITEM_NO.errors}" />
                                <label class="form-label">IGM Item No<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.IGM_ITEM_NO.errors" class="invalid-feedback">
                                    IGM Item No is required</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid':submitted && f.ACCEPTANCE_LOCATION.errors}"
                                    formControlName="ACCEPTANCE_LOCATION">
                                    <ng-option value="" selected="true" disabled>--Select Empty Letter
                                        Location--</ng-option>
                                    <ng-option *ngFor="let item of locationList"
                                        value="{{item.LOC_NAME}}">{{item.LOC_NAME}}-{{item.LOC_TYPE=='I'?"ICD":"DEPO"}}
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Empty Letter Location<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.ACCEPTANCE_LOCATION.errors" class="invalid-feedback">
                                    Empty Letter Location is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input formControlName="LETTER_VALIDITY" type="date" class="form-control"
                                    [ngClass]="{'invalid': submitted && f.LETTER_VALIDITY.errors}" />
                                <label class="form-label">Empty Letter Validity<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.IGM_DATE.errors" class="invalid-feedback">
                                    Empty Letter Validity is required</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid':submitted && f.CLEARING_PARTY.errors}"
                                    formControlName="CLEARING_PARTY">

                                    <ng-option value="M" disabled>
                                        <button class="form-btn-primary" #openBtn data-bs-toggle="modal"
                                            href="#cpModal">Add
                                            Clearing Party</button>
                                    </ng-option>
                                    <ng-option value="" selected="true" disabled>--Select Clearing
                                        Party--</ng-option>
                                    <ng-option *ngFor="let cp of clearingPartyList" value="{{cp.NAME}}">{{cp.NAME}}
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Clearing Party<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.CLEARING_PARTY.errors" class="invalid-feedback">
                                    Clearing Party is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.SHIPPING_TERMS.errors}"
                                    formControlName="SHIPPING_TERMS">
                                    <ng-option value="" selected="true" disabled>--Select Shipping Terms--
                                    </ng-option>
                                    <ng-option value="DPD">DPD</ng-option>
                                    <ng-option value="CFS">CFS</ng-option>
                                    <ng-option value="OFF DOCK">OFF DOCK</ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Shipping Terms<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.SHIPPING_TERMS.errors" class="invalid-feedback">
                                    Shipping Terms is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h6>Container List</h6>
                <hr>
                <table class="table" style="font-size: 12px;">
                    <thead>
                        <tr>
                            <th>
                                <label class="checkbox-wrap checkbox-primary" style="margin-bottom: 10px;">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </th>
                            <th>Sr No</th>
                            <th>Container No</th>
                            <th>Container Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of f2;let i = index" [formGroup]="getf1(item)">
                            <td>
                                <label class="checkbox-wrap checkbox-primary">
                                    <input type="checkbox" (change)="postSelectedContainerList(item)">
                                    <span class="checkmark" style="margin-top: 9px;"></span>
                                </label>
                            </td>
                            <td>{{i+1}}</td>
                            <td>{{doForm.value.CONTAINER_LIST[i].CONTAINER_NO}}</td>
                            <td>{{doForm.value.CONTAINER_LIST[i].CONTAINER_TYPE}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="col-md-4 offset-md-8 text-end">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="form-btn-light w-100" (click)="cancelDO()"
                        style="margin-right: 6px;">Clear</button>
                </div>
                <div class="col-6">
                    <button type="button" class="form-btn-primary w-100" (click)="saveDO()"
                        style="margin-right: 6px;">Save</button>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="cpModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center" id="exampleModalLabel">Clearing Party</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>

            </div>
            <div class="modal-body">
                <form [formGroup]="cpForm">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2">Name <span class="text-danger">*</span></label>
                                    <input type="text" [ngClass]="{'invalid':submitted1 && fcp.NAME.errors}"
                                        formControlName="NAME" class="form-control2">
                                    <div *ngIf="submitted1 && fcp.NAME.errors" class="invalid-feedback">
                                        Please Enter Clearing Party Name
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2">Email <span class="text-danger">*</span></label>
                                    <input type="text" [ngClass]="{'invalid':submitted1 && fcp.EMAIL_ID.errors}"
                                        formControlName="EMAIL_ID" class="form-control2">
                                    <div *ngIf="submitted1 && fcp.EMAIL_ID.errors" class="invalid-feedback">
                                        Please Enter Email
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2">Location <span class="text-danger">*</span></label>
                                    <input type="text" [ngClass]="{'invalid':submitted1 && fcp.LOCATION.errors}"
                                        formControlName="LOCATION" class="form-control2">
                                    <div *ngIf="submitted1 && fcp.LOCATION.errors" class="invalid-feedback">
                                        Please Enter Location
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2">Contact No.</label>
                                    <input type="text" [ngClass]="{'invalid':submitted1 && fcp.CONTACT.errors}"
                                        formControlName="CONTACT" class="form-control2">
                                    <div *ngIf="submitted1 && fcp.CONTACT.errors" class="invalid-feedback">
                                        Please Enter Contact
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-8 mx-auto">
                                <div class="form-group">
                                    <label class="form-label2">Address</label>
                                    <textarea type="text" [ngClass]="{'invalid':submitted1 && fcp.ADDRESS.errors}"
                                        formControlName="ADDRESS" class="form-control2"></textarea>
                                    <div *ngIf="submitted1 && fcp.ADDRESS.errors" class="invalid-feedback">
                                        Please Enter Address
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 text-end">
                            <button class="form-btn w-50" (click)="cancelCP()">Clear</button>
                        </div>
                        <div class="col-md-6">
                            <button class="form-btn w-50" (click)="saveCP()">Save</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>