<div class="section-title">
    <h2>Detention Waiver Request</h2>
</div>
<div class="container" [formGroup]="detentionForm">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" formControlName="DO_NO">
                    <label class="form-label">DO No.</label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="form-btn me-2" (click)="showContainers()">Show Containers</button>
            </div>
        </div>
    </div>
    <div class="col-md-5 mx-auto" *ngIf="!isRecords">
        <h5 class="text-center">Sorry! No records found !!</h5>
        <img src="./../../../assets/img/doimg.jpg" class="img-fluid" alt="">
    </div>


    <div class="col-md-10 mx-auto" *ngIf="isDO">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" (change)="getContainerList(1,$event)" />
                    </th>
                    <th class="col-md-2">Container No</th>
                    <th>Location</th>
                    <th>Importer</th>
                    <th class="col-md-2">Clearing Party</th>
                    <th class="col-md-2">Detention Days</th>
                    <th>Detention</th>
                    <th>Currency</th>
                    <th class="col-md-2">Remark</th>
                </tr>
            </thead>
            <tbody>
                <tr class="alert" role="alert" *ngFor="let item of f;let i = index" [formGroup]="item">
                    <td>
                        <label class="checkbox-wrap checkbox-primary">
                            <input id="chck{{i}}" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td class="col-md-2">{{detentionForm.value.DETENTION_LIST1[i].CONTAINER_NO}}</td>
                    <td>{{detentionForm.value.DETENTION_LIST1[i].PORT_OF_DISCHARGE}}</td>
                    <td>{{detentionForm.value.DETENTION_LIST1[i].CONSIGNEE}}</td>
                    <td class="col-md-2">{{detentionForm.value.DETENTION_LIST1[i].CLEARING_PARTY}}</td>
                    <td class="col-md-2">{{detentionForm.value.DETENTION_LIST1[i].DETENTION_DAYS}}</td>
                    <td>{{detentionForm.value.DETENTION_LIST1[i].DENTENTION_RATE}}</td>
                    <td>{{detentionForm.value.DETENTION_LIST1[i].CURRENCY}}</td>
                    <td class="col-md-2">
                        <textarea class="form-control3" formControlName="REMARK" type="text"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-2 offset-md-10" style="text-align: right;">
                <button class="form-btn" (click)="SubmitDetention()">Submit</button>
            </div>
        </div>
    </div>
</div>