<section class="sections">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="contact-map">
        <h3>Login</h3>
        <form id="mainContact" [formGroup]="loginForm" autocomplete="off">
          <div class="form-group">
            <label for="name">Username</label>
            <input
              formControlName="USERNAME"
              name="name"
              type="text"
              class="form-control"
              required=""
              placeholder=""
            />
          </div>
          <div class="form-group">
            <label for="email">Password</label>
            <input
              formControlName="PASSWORD"
              name="email"
              type="password"
              class="form-control"
              required=""
              placeholder=""
            />
          </div>
          <a (click)="validateLogin()" class="btn btn-primary">Login</a>
        </form>
      </div>
    </div>
  </div>
</section>
