<div class="container">
    <div class="section-title pt-3">
        <h2>SRR Calculator</h2>
    </div>
    <div class="col-md-6 mx-auto">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label3">POL</label>
                    <input readonly value="Chennai (INMUN)" type="text" class="form-control3" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label3">POD</label>
                    <select class="form-control3">
                        <option value="">--Select--</option>
                        <option value="INMUN">INMUN</option>
                        <option value="INIX1">INIX1</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [formGroup]="calcForm">
        <div class="col-md-6">
            <div class="accordion mt-3" id="accordion" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="heading-1">
                        <h6 class="mb-0">
                            <a data-bs-toggle="collapse" href="#collapse-1" aria-expanded="false"
                                aria-controls="collapse-1" data-abc="true" class="collapsed">
                                Freight Rates
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1"
                        data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="col-md-12">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th width="15%">No</th>
                                            <th width="40%">Charge Code</th>
                                            <th width="25%">Standard Rate</th>
                                            <th width="20%">Requested</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of freightList;let i = index">
                                            <td width="15%">{{i + 1}}</td>
                                            <td width="40%">{{item.CHARGE}}</td>
                                            <td width="25%">{{item.RATE}}</td>
                                            <td width="20%"><input type="text" class="form-control2" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading-2">
                        <h6 class="mb-0">
                            <a data-bs-toggle="collapse" href="#collapse-2" aria-expanded="false"
                                aria-controls="collapse-2" data-abc="true" class="collapsed">
                                POL Charges (Export Cost)
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-2" class="collapse show" role="tabpanel" aria-labelledby="heading-2"
                        data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="col-md-12">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th width="15%">No</th>
                                            <th width="40%">Charge Code</th>
                                            <th width="25%">Standard Rate</th>
                                            <th width="20%">Requested</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of impCostList;let i = index">
                                            <td width="15%">{{i + 1}}</td>
                                            <td width="40%">{{item.CHARGE_CODE}}</td>
                                            <td width="25%">{{item.RATE}}</td>
                                            <td width="20%"><input type="text" class="form-control2" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading-3">
                        <h6 class="mb-0">
                            <a data-bs-toggle="collapse" href="#collapse-3" aria-expanded="false"
                                aria-controls="collapse-3" data-abc="true" class="collapsed">
                                Import Revenue List
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-3" class="collapse show" role="tabpanel" aria-labelledby="heading-3"
                        data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="col-md-12">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th width="15%">No</th>
                                            <th width="40%">Charge Code</th>
                                            <th width="25%">Standard Rate</th>
                                            <th width="20%">Requested</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of impRevList;let i = index">
                                            <td width="15%">{{i + 1}}</td>
                                            <td width="40%">{{item.CHARGE_CODE}}</td>
                                            <td width="25%">{{item.RATE}}</td>
                                            <td width="20%"><input type="text" class="form-control2" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading-4">
                        <h6 class="mb-0">
                            <a data-bs-toggle="collapse" href="#collapse-4" aria-expanded="false"
                                aria-controls="collapse-4" data-abc="true" class="collapsed">
                                Export Cost List
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-4" class="collapse show" role="tabpanel" aria-labelledby="heading-4"
                        data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="col-md-12">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th width="15%">No</th>
                                            <th width="40%">Charge Code</th>
                                            <th width="25%">Standard Rate</th>
                                            <th width="20%">Requested</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of f; let j=index" [formGroup]="item">
                                            <td width="15%">{{j+1}}</td>
                                            <td width="40%">{{item.value.CHARGE_CODE}}</td>
                                            <td width="25%">{{item.value.RATE}}</td>
                                            <td width="20%"><input type="text" class="form-control2" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading-5">
                        <h6 class="mb-0">
                            <a data-bs-toggle="collapse" href="#collapse-5" aria-expanded="false"
                                aria-controls="collapse-5" data-abc="true" class="collapsed">
                                Export Revenue List
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-5" class="collapse show" role="tabpanel" aria-labelledby="heading-5"
                        data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="col-md-12">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th width="15%">No</th>
                                            <th width="40%">Charge Code</th>
                                            <th width="25%">Standard Rate</th>
                                            <th width="20%">Requested</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of expRevList;let i = index">
                                            <td width="15%">{{i + 1}}</td>
                                            <td width="40%">{{item.CHARGE_CODE}}</td>
                                            <td width="25%">{{item.RATE}}</td>
                                            <td width="20%"><input type="text" class="form-control2" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-5">
            <div class="row">
                <div class="col-5">
                    <h6>Total Income : </h6>
                </div>
                <div class="col-4">
                    <h6 class="text-danger">1574</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h6>Total Expense : </h6>
                </div>
                <div class="col-4">
                    <h6 class="text-danger">1405</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h6>PNL : </h6>
                </div>
                <div class="col-4">
                    <h6 class="text-info">169</h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-5">
                    <h6>Laden Back : </h6>
                </div>
                <div class="col-4">
                    <h6 class="text-danger">-150</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h6>PNL : </h6>
                </div>
                <div class="col-4">
                    <h6 class="text-info">19</h6>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-5">
                    <h6>Laden Empty : </h6>
                </div>
                <div class="col-4">
                    <h6 class="text-danger">-200</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <h6>PNL : </h6>
                </div>
                <div class="col-4">
                    <h6 class="text-info">-31</h6>
                </div>
            </div>
        </div>
    </div>
</div>