<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="./../../../assets/img/ship-17074.png" class="img-fluid" alt="loginImg">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4">
                <form>
                    <img src="./../../../assets/img/logo_p.png" class="img-fluid mb-5" />
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>

                    <form [formGroup]="loginForm">
                        <!-- Email input -->
                        <div class="form-group mb-4">
                            <input [ngClass]="{'invalid': submitted && f.USERNAME.errors}" type="text"
                                formControlName="USERNAME" class="form-control" />
                            <label class="form-label">Username <span class="text-danger"> *</span></label>
                            <div *ngIf="submitted && f.USERNAME.errors" class="invalid-feedback">Please enter
                                username</div>
                        </div>

                        <!-- Password input -->
                        <div class="form-group mb-4">
                            <input [ngClass]="{'invalid': submitted && f.PASSWORD.errors}" type="password"
                                formControlName="PASSWORD" class="form-control" />
                            <label class="form-label">Password <span class="text-danger"> *</span></label>
                            <div *ngIf="submitted && f.PASSWORD.errors" class="invalid-feedback">Please enter
                                password</div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <!-- Checkbox -->
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Remember me
                                </label>
                            </div>
                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>
                    </form>
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" (click)="validateLogin()" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                                class="link-danger">Register</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>