<div class="section-title">
    <h2>Load List</h2>
</div>
<div class="container">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="loadlistForm">
                    <div class="col-md-8 mx-auto">
                        <div class="form-group mt-5">
                            <ng-select formControlName="VESSEL_NAME">
                                <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                <ng-option *ngFor="let item of VesselList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                </ng-option>
                            </ng-select>
                            <label class="form-label-ddl">Vessel Name <span class="text-danger">
                                    *</span></label>
                        </div>
                        <div class="form-group mt-5">
                            <ng-select formControlName="VOYAGE_NO">
                                <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                <ng-option *ngFor="let item of VoyageList" value="{{item.CODE_DESC}}">{{item.CODE_DESC}}
                                </ng-option>
                            </ng-select>
                            <label class="form-label-ddl">Voyage Number<span class="text-danger">
                                    *</span></label>
                        </div>
                        <div class="col-md-6 mx-auto mb-3 text-end">
                            <button [disabled]="isLoading" (click)="GetLoadList()" class="form-btn-primary w-100">Get
                                Load List <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-10 mx-auto d-none" #epltable>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="15" style="font-weight:bold;">LOAD LIST</th>
                    </tr>
                    <tr>
                        <th colspan="3">Line</th>
                        <th colspan="12">PRIME MARITIME</th>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th>Sr. No</th>
                        <th>Container No.</th>
                        <th>Seal No.</th>
                        <th>Container Size</th>
                        <th>Gross Wt</th>
                        <th>Container Type</th>
                        <th>Category</th>
                        <th>IMO No</th>
                        <th>UN No</th>
                        <th>POL</th>
                        <th>POD</th>
                        <th>Final Destination</th>
                        <th>Shipper</th>
                        <th>Commodity Name</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of loadList; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.CONTAINER_NO}}</td>
                        <td>{{item.SEAL_NO}}</td>
                        <td>{{item.CONTAINER_SIZE}}</td>
                        <td>{{item.CONTAINER_TYPE}}</td>
                        <td>{{item.GROSS_WEIGHT}}</td>
                        <td>{{item.COMMODITY_TYPE}}</td>
                        <td>{{item.IMO_CLASS}}</td>
                        <td>{{item.UN_NO}}</td>
                        <td>{{item.POL}}</td>
                        <td>{{item.POD}}</td>
                        <td>{{item.FINAL_DESTINATION}}</td>
                        <td>{{item.SHIPPER}}</td>
                        <td>{{item.COMMODITY_NAME}}</td>
                        <td>{{item.REMARKS}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>