<div class="container-fluid">
    <app-pm-sidebar></app-pm-sidebar>
    <div style="width:80%;margin-left: 20%;">
        <div class="section-title pt-3">
            <h2>Rate Request Details</h2>
        </div>
        <div class="row mt-5">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <label class="label-header">SRR No</label>
                        <label class="label-subheader">{{quotationDetails?.SRR_NO}}</label>
                    </div>
                    <div class="col-md-4">
                        <label class="label-header">Port</label>
                        <label class="label-subheader">{{quotationDetails?.POL}} -
                            {{quotationDetails?.POD}}</label>
                    </div>
                    <div class="col-md-4">
                        <label class="label-header">Customer</label>
                        <label class="label-subheader">{{quotationDetails?.CUSTOMER_NAME}}</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label class="label-header">Rate Requested Date</label>
                        <label class="label-subheader">{{quotationDetails?.CREATED_DATE |
                            date:'mediumDate'}}</label>
                    </div>
                    <div class="col-md-4">
                        <label class="label-header">Rate Validity</label>
                        <label class="label-subheader">{{quotationDetails?.EFFECT_FROM |
                            date:'mediumDate'}} - {{quotationDetails?.EFFECT_TO |
                            date:'mediumDate'}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <span style="font-size: 10px;"
                    [class]="quotationDetails?.STATUS == 'Approved' ? 'badge rounded-pill bg-success me-2' : 'badge rounded-pill bg-secondary me-2'">{{quotationDetails?.STATUS}}</span>
            </div>
        </div>
        <hr>
        <div class="col-md-12" style="font-size: 14px" *ngFor="let item1 of quotationDetails?.SRR_CONTAINERS">
            <div class="row">
                <div class="col-md-10">
                    <h6>
                        Container : <small class="text-danger me-2">{{item1.CONTAINER_TYPE}} -
                            {{item1.CONTAINER_SIZE}} </small>
                        Service Mode : <small class="text-danger">{{item1.SERVICE_MODE}}</small>
                    </h6>
                </div>
            </div>
            <div class="col-md-10 mt-3">
                <div class="row">
                    <div class="col-md-2">
                        <label class="label-header">Charge Code</label>
                    </div>
                    <div class="col-md-2">
                        <label class="label-header">Standard Rate</label>
                    </div>
                    <div class="col-md-2">
                        <label class="label-header">Payment Term</label>
                    </div>
                    <div class="col-md-2">
                        <label class="label-header">Place of Payment</label>
                    </div>
                    <div class="col-md-2">
                        <label class="label-header">Requested Rate</label>
                    </div>
                    <div class="col-md-2">
                        <label class="label-header">Approved Rate</label>
                    </div>
                </div>
                <div *ngFor="let item of f1;let i = index" [formGroup]="f(item)">
                    <div *ngIf="item.value.CONTAINER_TYPE == item1.CONTAINER_TYPE" class="row">
                        <div class="col-md-2 mt-2">
                            <label class="label-subheader">{{item.value.CHARGE_CODE}}</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label class="label-subheader">100 USD</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label class="label-subheader">{{item.value.PAYMENT_TERM}}</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label class="label-subheader">{{item.value.TRANSPORT_TYPE}}</label>
                        </div>
                        <div class="col-md-2 mt-2">
                            <label class="label-subheader">{{item.value.RATE_REQUESTED}}
                                {{item.value.CURRENCY}}</label>
                        </div>
                        <div class="col-md-2 mt-1">
                            <input class="form-control3" formControlName="APPROVED_RATE" type="text" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-6 offset-md-6" style="text-align: right;">
                    <button type="button" class="form-btn-success me-2">Approve</button>
                    <button type="button" class="form-btn-danger">Reject</button>
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label2">POL</label>
                        <input class="form-control2" readonly value="QAHMD" />

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label2">POD</label>
                        <select class="form-control2">
                            <option value="">--Select--</option>
                            <option value="INMUN">INMUN</option>
                            <option value="INIX1">INIX1</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 mt-3">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="label-header">Charge Code</label>
                        </div>
                        <div class="col-md-2">
                            <label class="label-header">Standard Rate</label>
                        </div>
                        <div class="col-md-2">
                            <label class="label-header">Payment Term</label>
                        </div>
                        <div class="col-md-2">
                            <label class="label-header">Place of Payment</label>
                        </div>
                        <div class="col-md-2">
                            <label class="label-header">Requested Rate</label>
                        </div>
                        <div class="col-md-2">
                            <label class="label-header">Approved Rate</label>
                        </div>
                    </div>
                    <div *ngFor="let item of f1;let i = index" [formGroup]="f(item)">
                        <div class="row">
                            <div class="col-md-2 mt-2">
                                <label class="label-subheader">{{item.value.CHARGE_CODE}}</label>
                            </div>
                            <div class="col-md-2 mt-2">
                                <label class="label-subheader">100 USD</label>
                            </div>
                            <div class="col-md-2 mt-2">
                                <label class="label-subheader">{{item.value.PAYMENT_TERM}}</label>
                            </div>
                            <div class="col-md-2 mt-2">
                                <label class="label-subheader">{{item.value.TRANSPORT_TYPE}}</label>
                            </div>
                            <div class="col-md-2 mt-2">
                                <label class="label-subheader">{{item.value.RATE_REQUESTED}}
                                    {{item.value.CURRENCY}}</label>
                            </div>
                            <div class="col-md-2 mt-1">
                                <input class="form-control3" formControlName="APPROVED_RATE" type="text" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    Total Income : 1574 <br>
                    Total Expense : 1405 <br>
                    PNL : 169 <br>
                    Laden Back : 36542 <br>
                    PNL : 575 <br>
                    Laden Empty : 36542 <br>
                    PNL : 575
                </div>
            </div>
        </div>
    </div>
</div>