.rate-header {
  background-color: rgb(206 218 221 / 57%);
  padding: 0.15rem;
  font-size: 15px;
  font-weight: 500;
  color: #6e6e6e;
}

.scrollbar {
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 25px;
}

.force-overflow {
  min-height: 250px;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 5rem;
}

.card {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 0;
}

.card .card-title {
  color: #000000;
  margin-bottom: 0.625rem;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: 500;
}

.card .card-description {
  margin-bottom: 0.875rem;
  font-weight: 400;
  color: #76838f;
}

.accordion .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion .card {
  margin-bottom: 0.75rem;
  box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
  border-radius: 0.25rem;
  border: none;
}

.accordion .card .card-header {
  background-color: #fbfbfb;
  //   border: none;
  padding: 1rem;
  margin-bottom: 10px;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.accordion .card .card-header * {
  font-weight: 400;
  font-size: 1rem;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.accordion .card .card-header a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: 500;
  position: relative;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  padding-right: 1.5rem;
}

.accordion .card .card-header * {
  font-weight: 400;
  font-size: 1rem;
}

.accordion .card .card-header a[aria-expanded="false"]:before {
  content: "\f13a";
}

.accordion .card .card-header a[aria-expanded="true"]:before {
  content: "\f139";
}

.accordion .card .card-header a:before {
  position: absolute;
  right: 7px;
  top: 0;
  font-size: 18px;
  display: block;
  font-family: FontAwesome;

  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  margin-bottom: 2px;
  font-size: 1.5em;
  color: #405189;
}
