<div class="section-title">
    <h2>{{'Header.title'|translate}}</h2>
</div>
<div class="container">
    <a routerLink="/home/depo/mr-request-list"><i class='bx bx-arrow-back'></i>Back to List</a>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="containerNo">
                    <label class="form-label">{{'Header.containerNo'|translate}}</label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="form-btn me-2" (click)="getContainerDetails()">{{'Button.createMNR' |
                    translate}}</button>
            </div>
        </div>
    </div>

    <div class="col-md-5 mx-auto" *ngIf="!isRecords">
        <h5 class="text-center">Sorry! No records found !!</h5>
        <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
    </div>

    <div class="row mt-5" *ngIf="isContainer">
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-header">{{'Header.containerNo'|translate}}</label>
                <label class="label-subheader">{{containerDetails?.CONTAINER_NO}}</label>
            </div>
            <div class="form-group">
                <label class="label-header">{{'Header.tareWt'|translate}}</label>
                <label class="label-subheader">2300 KGS</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-header">{{'Header.sizeType'|translate}}</label>
                <label
                    class="label-subheader">{{containerDetails?.CONTAINER_SIZE}}/{{containerDetails?.CONTAINER_TYPE}}</label>
            </div>
            <div class="form-group">
                <label class="label-header">{{'Header.payloadCapacity'|translate}}</label>
                <label class="label-subheader">76567 KGS</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-header">{{'Header.cscDetails'|translate}}</label>
                <label class="label-subheader">F/BV/161/29</label>
            </div>
            <div class="form-group">
                <label class="label-header">{{'Header.grossWt'|translate}}</label>
                <label class="label-subheader">2434 KGS</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-header">{{'Header.manufacturingDate'|translate}}</label>
                <label class="label-subheader">{{containerDetails?.MANUFACTURING_DATE | date:'mediumDate'}}</label>
            </div>
            <div class="form-group">
                <label class="label-header">{{'Header.currency'|translate}}</label>
                <label class="label-subheader">INR/ India</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-header">{{'Header.turninDate'|translate}}</label>
                <label class="label-subheader">Sep 12 1956</label>
            </div>

            <div class="form-group">
                <label class="label-header">{{'Header.location'|translate}}</label>
                <label class="label-subheader">Nhava Sheva</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-header">{{'Header.inspection'|translate}}</label>
                <label class="label-subheader">Sep 12 1956</label>
            </div>
            <div class="form-group">
                <label class="label-header">{{'Header.depotName'|translate}}</label>
                <label class="label-subheader">ABC Depot</label>
            </div>
        </div>
        <hr>
    </div>

    <div *ngIf="isContainer">
        <div class="row">
            <div class="col-md-6">
                <h5 class="mb-4">{{'Header.subtitle1'|translate}}</h5>
            </div>
            <div class="col-md-6" style="text-align: right;">
                <button (click)="addNew()" class="form-btn">
                    <i class="fa fa-plus me-2"></i>{{'Button.addNew'|translate}}</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="ratetable" style="font-size: 12px;">
                <tr>
                    <th>{{'Header.srNo'|translate}}</th>
                    <th>{{'Header.Location'|translate}}</th>
                    <th>{{'Header.component'|translate}}</th>
                    <th>{{'Header.damage'|translate}}</th>
                    <th>{{'Header.repair'|translate}}</th>
                    <th>{{'Header.measurement'|translate}}</th>
                    <th>{{'Header.unit'|translate}}</th>
                    <th>{{'Header.responsibility'|translate}}</th>
                    <th>{{'Header.manhr'|translate}}</th>
                    <th>{{'Header.labour'|translate}}</th>
                    <th>{{'Header.material'|translate}}</th>
                    <th>{{'Header.total'|translate}}</th>
                    <th>{{'Header.remarks'|translate}}</th>
                    <th>&nbsp;</th>
                </tr>
                <tr *ngFor="let item of f;let j = index" [formGroup]="f1(item)">
                    <td width="1%">
                        <label class="mt-4">{{j+1}}</label>
                    </td>
                    <td width="10%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.Location'|translate}}</label>
                            <input formControlName="LOCATION" class="form-control3" type="text" />
                        </div>
                    </td>
                    <td width="10%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.component'|translate}}</label>
                            <select (change)="GetRepairMasterList($event)" formControlName="COMPONENT"
                                class="form-control3">
                                <option value="" selected disabled>--Select--</option>
                                <option *ngFor="let item of componentList" value="{{item.CODE}}">
                                    {{item.CODE}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.damage'|translate}}</label>
                            <select formControlName="DAMAGE" class="form-control3">
                                <option value="" selected disabled>--Select--</option>
                                <option *ngFor="let item of damageList" value="{{item.CODE}}">
                                    {{item.CODE}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.repair'|translate}}</label>
                            <select (change)="GetLengthMasterList(j)" formControlName="REPAIR" class="form-control3">
                                <option value="" selected disabled>--Select--</option>
                                <option *ngFor="let item of repairList" value="{{item.CODE}}">
                                    {{item.CODE}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="row">
                            <div class="col-md-4 px-0">
                                <!-- <label class="form-label3">L</label>

                                <input formControlName="LENGTH" class="form-control3" type="text" /> -->
                                <label class="form-label3">L</label>
                                <select formControlName="LENGTH" class="form-control3">
                                    <option value=0 selected disabled>--Select--</option>
                                    <option *ngFor="let item of lengthList" value="{{item.CODE}}">
                                        {{item.CODE}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4 px-1">
                                <label class="form-label3">W</label>
                                <select formControlName="WIDTH" class="form-control3">
                                    <option value=0 selected disabled>--Select--</option>
                                    <option *ngFor="let item of widthList" value="{{item.CODE}}">
                                        {{item.CODE}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4 px-0">
                                <label class="form-label3">H</label>
                                <select formControlName="HEIGHT" class="form-control3">
                                    <option value=0 selected disabled>--Select--</option>
                                    <option *ngFor="let item of heightList" value="{{item.CODE}}">
                                        {{item.CODE}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td width="5%">
                        <div class="col-md-12">
                            <label class="form-label3">Unit</label>
                            <select (change)="getMNTTariff(j)" formControlName="UNIT" class="form-control3">
                                <option value="" selected disabled>--Select--</option>
                                <option *ngFor="let item of quantityList" value="{{item.CODE}}">
                                    {{item.CODE}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td width="8%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.responsibility'|translate}}</label>
                            <select formControlName="RESPONSIBILITY" class="form-control3">
                                <option value="" selected disabled>
                                    --Select--</option>
                                <option value="S">Shipper</option>
                                <option value="C">Consignee</option>
                                <option value="T">Third Party</option>
                                <option value="O">Owner</option>
                            </select>
                        </div>
                    </td>
                    <td width="5%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.manhr'|translate}}</label>
                            <input formControlName="MAN_HOUR" (keyup)="LabourCount(j)" class="form-control3"
                                type="text" />
                        </div>
                    </td>
                    <td width="5%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.labour'|translate}}</label>
                            <input formControlName="LABOUR" readonly class="form-control3" type="text" />
                        </div>
                    </td>
                    <td width="5%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.material'|translate}}</label>
                            <input formControlName="MATERIAL" class="form-control3" type="text" />
                        </div>
                    </td>
                    <td width="5%">
                        <div class="col-md-12">
                            <label class="form-label2">{{Sum(j)}}</label>
                        </div>
                    </td>
                    <td width="5%">
                        <div class="col-md-12">
                            <label class="form-label3">{{'Header.remarks'|translate}}</label>
                            <textarea class="form-control3" formControlName="REMARKS" type="text"></textarea>
                        </div>
                    </td>
                    <td width="5%">
                        <a class="pointer" (click)="removeItem(j)"><i style="font-size:18px"
                                class="fa fa-trash mt-3"></i></a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        <h6>{{ManHourSum()}}</h6>
                    </td>
                    <td class="text-center">
                        <h6>{{LabourSum()}}</h6>
                    </td>
                    <td class="text-center">
                        <h6>{{MaterialSum()}}</h6>
                    </td>
                    <td class="text-center">
                        <h6>{{TotalSum()}}</h6>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="col-md-4 offset-md-8 text-end mt-3">
            <h6>{{'Header.freshDamage'|translate}} :
                <small class="text-danger">{{TotalFreshDamageSum()}}</small> <br>
                {{'Header.wtDamage'|translate}} :
                <small class="text-danger">{{TotalWTSum()}}</small> <br>
            </h6>
            <h6>{{'Header.tax'|translate}} :
                <small class="text-danger">{{TaxTotal()}}</small><br>
                {{'Header.total'|translate}} :
                <small class="text-danger">{{FinalTotal()}}</small>
            </h6>
        </div>
        <hr>

        <h5 class="mb-4 mt-5">{{'Header.fileUpload'|translate}}</h5>
        <div class="row">
            <div class="col-md-4">
                <div class="formbold-mb-5 formbold-file-input">
                    <input type="file" (change)="fileUpload($event)" accept="image/*" multiple="" name="file"
                        id="file" />
                    <label for="file">
                        <div>
                            <h3><i class="fa fa-file-pdf-o"></i></h3>
                            <span class="formbold-drop-file">{{'Header.upload'|translate}}</span>
                            <small>{{'Header.containerImages'|translate}}</small>
                        </div>
                    </label>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                </div>

                <img *ngFor='let url of images' [src]="url" height="150" width="150" style="margin: 3px;">
                <br />
            </div>
        </div>
        <hr>
        <div class="row mb-5">
            <div class="col-md-2 offset-md-10" style="text-align: right;">
                <button (click)="submitRequest()" class="form-btn w-100">{{'Button.save'|translate}}</button>
            </div>
        </div>
    </div>
</div>