<div class="section-title">
    <h2>Vessel Master</h2>
  </div>
  <div class="container mb-4">
    <form [formGroup]="vesselForm">
      <div class="col-md-8 mx-auto">
        <div class="row">       
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label2">Vessel Name<span class="text-danger">*</span></label>
              <input type="text" id="name"  [ngClass]="{'invalid':submitted && f.VESSEL_NAME.errors}"  formControlName="VESSEL_NAME" class="form-control2">
              <div *ngIf="submitted && f.VESSEL_NAME.errors" class="invalid-feedback">Please Enter Vessel Name </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label2">Imo No<span class="text-danger">*</span></label>
              <textarea type="text" id="no" [ngClass]="{'invalid':submitted && f.IMO_NO.errors}" formControlName="IMO_NO"   class="form-control2"></textarea>
              <div *ngIf="submitted && f.IMO_NO.errors" class="invalid-feedback">Please Enter Imo Number </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label2">Conuntry Code<span class="text-danger">*</span></label>
              <input type="text" id="CustomerEmail" [ngClass]="{'invalid':submitted && f.COUNTRY_CODE.errors}"  formControlName="COUNTRY_CODE" class="form-control2">
              <div *ngIf="submitted && f.COUNTRY_CODE.errors" class="invalid-feedback">Please Enter Country Code  </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label2">Vessel Code<span class="text-danger">*</span></label>
              <input type="text" id="gstin"  [ngClass]="{'invalid':submitted && f.VESSEL_CODE.errors}" formControlName="VESSEL_CODE" class="form-control2">
              <div *ngIf="submitted && f.VESSEL_CODE.errors" class="invalid-feedback">Please Enter Vessel  Code  </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label2">Status <span class="text-danger"> *</span></label>
              <select class="form-control2" [ngClass]="{'invalid':submitted && f.STATUS.errors}" formControlName="STATUS"  >
                <option value="" selected="true" disabled>--Select--</option>
                <option value="true">Active</option>
                <option value="false">InActive</option>
              </select>
              <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Please Select Status     </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2 offset-md-10" style="text-align: right;">
            <button  *ngIf="!isUpdate"  (click)="InsertVesselMaster()" class="form-btn w-100">Save</button>
            <button *ngIf="isUpdate" (click)="UpdateVesselMaster()" class="form-btn w-100">Update</button>
          </div>
        </div>
      </div>
    </form>
    <div class="col-md-10 mx-auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Vessel Name</th>
            <th>Imo No</th>
            <th>Country Code</th>
            <th>Vessel Code</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of vesselList; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.VESSEL_NAME}}</td>
            <td>{{item.IMO_NO}}</td>
            <td>{{item.COUNTRY_CODE}}</td>
            <td>{{item.VESSEL_CODE}}</td>
            <td>
              <i class="fa fa-pencil mx-2 pointer text-success"(click)="GetVesselMasterDetails(item.ID)"></i>
              <i class="fa fa-trash ms-2 pointer text-danger" (click)="DeleteVesselMaster(item.ID)" ></i>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  