<div class="container-fluid">
  <app-pm-sidebar></app-pm-sidebar>
  <div style="width:80%;margin-left: 20%;">
    <div class="section-title pt-3">
      <h2>Vessel Master</h2>
    </div>
    <div class="mb-4">
      <div class="col-md-6 offset-md-6 text-end">
        <button class="form-btn-primary" (click)="openModal()"><i class="fa fa-plus me-1"></i>New Vessel</button>
        <button class="form-btn-primary d-none" #openModalPopup data-bs-toggle="modal" href="#vesselModel">New
          Vessel</button>
      </div>
      <form [formGroup]="vesselForm1">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-label2">Vessel Name</label>
              <input type="text" id="name" formControlName="VESSEL_NAME" class="form-control2">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-label2">Imo No</label>
              <input type="text" id="no" formControlName="IMO_NO" class="form-control2">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-label2">Status</label>
              <select class="form-control2" formControlName="STATUS">
                <option value="" selected="true" disabled>--Select--</option>
                <option value="true">Active</option>
                <option value="false">InActive</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-label2">From Date</label>
              <input (change)="vesselForm1.get('TO_DATE')?.setValue('')" onkeypress="return false;"
                formControlName="FROM_DATE" type="date" class="form-control2">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="form-label2">To Date</label>
              <input onkeypress="return false;" [min]="vesselForm1.get('FROM_DATE')?.value" formControlName="TO_DATE"
                type="date" class="form-control2">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-9 text-end mb-3">
            <button class="form-btn me-2" (click)="Search()" [disabled]="isLoading">Search
              <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
            <button (click)="Clear()" class="form-btn-light me-2">Clear</button>
          </div>
        </div>
      </form>
      <table class="ratetable table-bordered" id="data-table-config">
        <thead>
          <tr>
            <th width="1%">No</th>
            <th width="29%">Vessel Name</th>
            <th width="20%">Imo No</th>
            <th width="10%">Country</th>
            <th width="15%">Vessel Code</th>
            <th width="15%">Status</th>
            <th width="10%">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of vesselList; let i = index">
            <td width="1%">{{i+1}}</td>
            <td width="29%">{{item.VESSEL_NAME}}</td>
            <td width="20%">{{item.IMO_NO}}</td>
            <td width="10%">{{item.COUNTRY_CODE}}</td>
            <td width="15%">{{item.VESSEL_CODE}}{{item.VESSEL_CODE == null ? '-' : item.VESSEL_CODE == '' ? '-' :
              item.VESSEL_CODE}}</td>
            <td width="15%" class="status"><span [class]="!item.STATUS ? 'rejected' : 'active'">{{item.STATUS ?
                'Active'
                :
                'In-Active'}}</span></td>
            <td width="10%">
              <i class="fa fa-pencil mx-2 pointer text-success" (click)="openModal(item.ID)"></i>
              <i class="fa fa-trash ms-2 pointer text-danger" (click)="DeleteVesselMaster(item.ID)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="vesselModel" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Vessel Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="vesselForm">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2">Vessel Name<span class="text-danger">*</span></label>
                  <input type="text" id="name" [ngClass]="{'invalid':submitted && f.VESSEL_NAME.errors}"
                    formControlName="VESSEL_NAME" class="form-control2">
                  <div *ngIf="submitted && f.VESSEL_NAME.errors" class="invalid-feedback">Please Enter Vessel Name
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2">Imo No<span class="text-danger">*</span></label>
                  <input type="text" id="no" [ngClass]="{'invalid':submitted && f.IMO_NO.errors}"
                    formControlName="IMO_NO" class="form-control2">
                  <div *ngIf="submitted && f.IMO_NO.errors" class="invalid-feedback">Please Enter Imo Number </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2">Country Code<span class="text-danger">*</span></label>
                  <input type="text" id="no" [ngClass]="{'invalid':submitted && f.COUNTRY_CODE.errors}"
                    formControlName="COUNTRY_CODE" class="form-control2">
                  <div *ngIf="submitted && f.COUNTRY_CODE.errors" class="invalid-feedback">Please Enter Imo Number
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label2">Vessel Code<span class="text-danger">*</span></label>
                  <input type="text" id="no" [ngClass]="{'invalid':submitted && f.VESSEL_CODE.errors}"
                    formControlName="VESSEL_CODE" class="form-control2">
                  <div *ngIf="submitted && f.VESSEL_CODE.errors" class="invalid-feedback">Please Enter Imo Number
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check form-switch">
                <input formControlName="STATUS" class="form-check-input" type="checkbox" role="switch" />
                <label class="form-check-label">Status <span class="text-danger"> *</span></label>
              </div>
              <div *ngIf="submitted && f.STATUS.errors" class="invalid-feedback">Status is required </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="!isUpdate" (click)="InsertVesselMaster()" class="form-btn me-2"
          class="form-btn me-2">Save</button>
        <button (click)="ClearForm()" class="form-btn-light me-2">Clear</button>
        <button *ngIf="isUpdate" (click)="UpdateVesselMaster()" class="form-btn">Update</button>
      </div>
    </div>
  </div>
</div>