<div class="mt-4 ps-4 pt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a routerLink="/home/agent-dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Quotation</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="col-md-10 mx-auto">
        <div class="tabs">
            <input type="radio" class="d-none" (change)="onchangeTab('1')" id="radio-1" name="tabs" checked />
            <label class="tab" for="radio-1">Quotation Details</label>
            <input type="radio" class="d-none" (change)="onchangeTab('2')" id="radio-2" name="tabs" />
            <label class="tab" for="radio-2">Add Commodities</label>
            <input type="radio" class="d-none" (change)="onchangeTab('3')" id="radio-3" name="tabs" />
            <label class="tab" for="radio-3">Add Container & Rates</label>
            <!-- <input type="radio" class="d-none" (change)="onchangeTab('4')" id="radio-4" name="tabs" />
            <label class="tab" for="radio-4">Add Rates</label> -->
            <span class="glider d-none"></span>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <form [formGroup]="quotationForm">
            <div class="card mt-2" *ngIf="tabs == '1'">
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" maxlength="100" formControlName="PLACE_OF_RECEIPT"
                                    class="form-control">
                                <label class="form-label">Place Of Receipt</label>
                                <div *ngIf="submitted && f.PLACE_OF_RECEIPT.errors" class="invalid-feedback">
                                    Place Of
                                    Receipt is invalid</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.POL.errors}" formControlName="POL">
                                    <ng-option value="" selected="true" disabled>--Select POL--</ng-option>
                                    <ng-option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">POL <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted && f.POL.errors" class="invalid-feedback">Please select
                                    POL</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.POD.errors}" formControlName="POD">
                                    <ng-option value="" selected="true" disabled>--Select POD--</ng-option>
                                    <ng-option *ngFor="let item of portList" value="{{item.CODE}}">
                                        {{item.CODE_DESC}} ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">POD <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted && f.POD.errors" class="invalid-feedback">Please select
                                    POD</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" maxlength="100" formControlName="PLACE_OF_DELIVERY"
                                    class="form-control">
                                <label class="form-label">Place Of Delivery</label>
                                <div *ngIf="submitted && f.PLACE_OF_DELIVERY.errors" class="invalid-feedback">
                                    Place Of
                                    Delivery is invalid</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.ORIGIN_ICD.errors}"
                                    formControlName="ORIGIN_ICD">
                                    <ng-option value="" selected="true" disabled>--Select Final Destination--
                                    </ng-option>
                                    <ng-option *ngFor="let item of icdList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Final Destination <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.ORIGIN_ICD.errors" class="invalid-feedback">Please select
                                    Final Destination</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select formControlName="TSP_1">
                                    <ng-option value="" selected="true" disabled>--Select TSP 1--</ng-option>
                                    <ng-option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">TSP 1</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select formControlName="TSP_2">
                                    <ng-option value="" selected="true" disabled>--Select TSP 2--</ng-option>
                                    <ng-option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">TSP 2</label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.SERVICE_NAME.errors}"
                                    formControlName="SERVICE_NAME">
                                    <ng-option value="" selected="true" disabled>--Select Service--</ng-option>
                                    <ng-option value="xx">xx</ng-option>
                                    <ng-option value="yy">yy</ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Service Name <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.SERVICE_NAME.errors" class="invalid-feedback">Please select
                                    Service</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="date" [ngClass]="{'invalid': submitted && f.EFFECT_FROM.errors}"
                                    (change)="getEffectToDate($event.target.value)" min={{currentDate}}
                                    formControlName="EFFECT_FROM" onkeypress="return false"
                                    class="form-control active" />
                                <label class="form-label">Effect From <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.EFFECT_FROM.errors" class="invalid-feedback">Please enter
                                    Effect From</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="date" [ngClass]="{'invalid': submitted && f.EFFECT_TO.errors}"
                                    formControlName="EFFECT_TO" min={{currentDate}} onkeypress="return false"
                                    class="form-control active" />
                                <label class="form-label">Effect To <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.EFFECT_TO.errors" class="invalid-feedback">Please enter
                                    Effect To</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5 class="mb-5">Customer Details</h5>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.CUSTOMER_NAME.errors}"
                                    formControlName="CUSTOMER_NAME">
                                    <ng-option value="" selected="true" disabled>--Select Customer--</ng-option>
                                    <ng-option value="JITEX">JITEX</ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Customer Name <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.CUSTOMER_NAME.errors" class="invalid-feedback">Please select
                                    Customer Name</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.ADDRESS.errors}"
                                    (change)="getAddress($event)" formControlName="ADDRESS">
                                    <ng-option value="" selected="true" disabled>--Select Address--</ng-option>
                                    <ng-option value="Address 1">Address 1</ng-option>
                                    <ng-option value="Address 2">Address 2</ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Address <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.ADDRESS.errors" class="invalid-feedback">Please select
                                    Address</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" readonly class="form-control" formControlName="ADDRESS1">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" maxlength="255" [ngClass]="{'invalid': submitted && f.EMAIL.errors}"
                                    formControlName="EMAIL" class="form-control" />
                                <label class="form-label">Email<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.EMAIL.errors?.required" class="invalid-feedback">Please enter
                                    Email</div>
                                <div *ngIf="submitted && f.EMAIL.errors?.pattern" class="invalid-feedback">
                                    Email is invalid</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text"
                                    onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                    maxlength="10" [ngClass]="{'invalid': submitted && f.CONTACT.errors}"
                                    formControlName="CONTACT" class="form-control" />
                                <label class="form-label">Contact<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.CONTACT.errors" class="invalid-feedback">Please enter
                                    Contact</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" maxlength="100"
                                    [ngClass]="{'invalid': submitted && f.SHIPPER.errors}" formControlName="SHIPPER"
                                    class="form-control" />
                                <label class="form-label">Shipper Name<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.SHIPPER.errors?.required" class="invalid-feedback">Please
                                    enter
                                    Shipper Name</div>
                                <div *ngIf="submitted && f.SHIPPER.errors?.pattern" class="invalid-feedback">
                                    Shipper Name is invalid</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" maxlength="100" formControlName="NOTIFY_PARTY"
                                    class="form-control" />
                                <label class="form-label">Notify Party</label>
                                <div *ngIf="submitted && f.NOTIFY_PARTY.errors" class="invalid-feedback">
                                    Notify Party is invalid</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4 mt-md-3">
                            <div class="form-group">
                                <div class="form-check form-switch">
                                    <input formControlName="MTY_REPO" class="form-check-input" type="checkbox"
                                        role="switch" />
                                    <label class="form-check-label">MTY Repo</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label class="form-label">Other Parties</label>
                            <br>
                            <input type="text" maxlength="100" formControlName="NOTIFY_PARTY"
                                class="form-control w-50 mb-3" />
                            <label class="radio-inline">
                                <input type="radio" formControlName="OTHER_PARTIES" name="OTHER_PARTIES"
                                    id="inlineRadio1" value="Brokerage Party"><span class="indicator"></span>
                                Brokerage Party
                            </label>
                            <label class="radio-inline">
                                <input type="radio" formControlName="OTHER_PARTIES" name="OTHER_PARTIES"
                                    id="inlineRadio2" value="Consignee"><span class="indicator"></span>Consignee
                            </label>
                            <label class="radio-inline">
                                <input type="radio" formControlName="OTHER_PARTIES" name="OTHER_PARTIES"
                                    id="inlineRadio3" value="Forwarder"><span class="indicator"></span>Forwarder
                            </label>
                            <label class="radio-inline">
                                <input type="radio" formControlName="OTHER_PARTIES" name="OTHER_PARTIES"
                                    id="inlineRadio4" value="CHA"><span class="indicator"></span>CHA
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 offset-md-10" style="text-align: right;">
                            <button (click)="saveQuotation()" class="btn btn-secondary btn-block">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="commoditiesForm">
            <div class="card mt-2" *ngIf="tabs == '2'">
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="COMMODITY_NAME"
                                    [ngClass]="{'invalid': submitted2 && f2.COMMODITY_NAME.errors}" />
                                <label class="form-label">Commodity Name <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted2 && f2.COMMODITY_NAME.errors" class="invalid-feedback">
                                    Please
                                    enter
                                    Commodity Name</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select formControlName="COMMODITY_TYPE" (change)="onChangeCommodityType($event)"
                                    [ngClass]="{'invalid': submitted2 && f2.COMMODITY_TYPE.errors}">
                                    <ng-option value="" selected="true" disabled>--Select Commodity Type--</ng-option>
                                    <ng-option value="NORMAL">Normal</ng-option>
                                    <ng-option value="HAZ">Hazardous</ng-option>
                                    <ng-option value="FLEXIBAG">Flexi Bag</ng-option>
                                    <ng-option value="REEFER">Reefer</ng-option>
                                    <ng-option value="SP">Special Equipment (OOG)</ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Commodity Type <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted2 && f2.COMMODITY_TYPE.errors" class="invalid-feedback">
                                    Please
                                    select
                                    Commodity Type</div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 mb-4"
                            *ngIf="commodityType == 'NORMAL'  || commodityType == 'HAZ'|| commodityType == 'SP'">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label class="form-label">Weight</label>
                            </div>
                        </div> -->
                        <div class="col-md-4 mb-4" *ngIf="commodityType == 'FLEXIBAG'">
                            <div class="form-group">
                                <input type="text" formControlName="FLASH_POINT"
                                    [ngClass]="{'invalid': submitted2 && f2.FLASH_POINT.errors}" class="form-control" />
                                <label class="form-label">Flash Point <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted2 && f2.FLASH_POINT.errors" class="invalid-feedback">
                                    Please enter Flash Point
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4" *ngIf="commodityType == 'HAZ'">
                            <div class="form-group">
                                <input type="text" formControlName="IMO_CLASS"
                                    [ngClass]="{'invalid': submitted2 && f2.IMO_CLASS.errors}" class="form-control" />
                                <label class="form-label">IMO Class Name <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted2 && f2.IMO_CLASS.errors" class="invalid-feedback">
                                    Please enter IMO Class Name
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4" *ngIf="commodityType == 'REEFER'">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label class="form-label">Temperature <span class="text-danger"> *</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="commodityType == 'HAZ'|| commodityType == 'SP'">
                        <!-- <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" formControlName="REMARKS" class="form-control" />
                                <label class="form-label">Remarks</label>
                            </div>
                        </div> -->
                        <div class="col-md-4 mb-4" *ngIf="commodityType == 'HAZ'">
                            <div class="form-group">
                                <input type="text" formControlName="UN_NO"
                                    [ngClass]="{'invalid': submitted2 && f2.UN_NO.errors}" class="form-control" />
                                <label class="form-label">UN No <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted2 && f2.UN_NO.errors" class="invalid-feedback">
                                    Please enter UN No
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4" *ngIf="commodityType == 'HAZ'">
                            <div class="form-group">
                                <input type="text" formControlName="HAZ_APPROVAL_REF"
                                    [ngClass]="{'invalid': submitted2 && f2.HAZ_APPROVAL_REF.errors}"
                                    class="form-control" />
                                <label class="form-label">HAZ Approval Ref <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted2 && f2.HAZ_APPROVAL_REF.errors" class="invalid-feedback">
                                    Please enter HAZ Approval Ref
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4" *ngIf="commodityType == 'SP'">
                            <div class="form-group">
                                <input type="text" formControlName="LENGTH" class="form-control" />
                                <label class="form-label">Length <span class="text-danger"> *</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4" *ngIf="commodityType == 'SP'">
                            <div class="form-group">
                                <input type="text" formControlName="WIDTH" class="form-control" />
                                <label class="form-label">Width <span class="text-danger"> *</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4" *ngIf="commodityType == 'SP'">
                            <div class="form-group">
                                <input type="text" formControlName="HEIGHT" class="form-control" />
                                <label class="form-label">Height <span class="text-danger"> *</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="commodityType == 'FLEXIBAG'">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" formControlName="CAS_NO"
                                    [ngClass]="{'invalid': submitted2 && f2.CAS_NO.errors}" class="form-control" />
                                <label class="form-label">CAS No <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted2 && f2.CAS_NO.errors" class="invalid-feedback">
                                    Please enter CAS No
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="commodityType == 'REEFER'">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label class="form-label">Ventilation <span class="text-danger"> *</span></label>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" class="form-control" />
                                <label class="form-label">Humidity <span class="text-danger"> *</span></label>
                            </div>
                        </div>
                    </div>

                    <h6 *ngIf="commodityType == 'HAZ' || commodityType == 'FLEXIBAG' || commodityType == 'SP'">Upload
                        Files</h6>
                    <div class="row" *ngIf="commodityType == 'HAZ'">
                        <div class="col-md-4">
                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!isUploadedPOL">
                                <input type="file" (change)="fileUpload($event,'POL')" name="file" id="file" />
                                <label for="file">
                                    <div>
                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                        <span class="formbold-drop-file">Upload</span>
                                        <small>POL Acceptance</small>
                                    </div>
                                </label>
                            </div>
                            <div class="formbold-file-list formbold-mb-5" *ngIf="isUploadedPOL">
                                <div class="formbold-file-item">
                                    <span class="formbold-file-name">{{POLAcceptanceFile}}</span>
                                    <button (click)="isUploadedPOL = false"><span class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!isUploadedPOD">
                                <input type="file" (change)="fileUpload($event,'POD')" name="file1" id="file1" />
                                <label for="file1">
                                    <div>
                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                        <span class="formbold-drop-file">Upload</span>
                                        <small>POD Acceptance</small>
                                    </div>
                                </label>
                            </div>
                            <div class="formbold-file-list formbold-mb-5" *ngIf="isUploadedPOD">
                                <div class="formbold-file-item">
                                    <span class="formbold-file-name">{{PODAcceptanceFile}}</span>
                                    <button (click)="isUploadedPOD = false"><span class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!isUploadedVslOp">
                                <input type="file" (change)="fileUpload($event,'VslOp')" name="file3" id="file3" />
                                <label for="file3">
                                    <div>
                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                        <span class="formbold-drop-file">Upload</span>
                                        <small>Vessel Operator Acceptance</small>
                                    </div>
                                </label>
                            </div>
                            <div class="formbold-file-list formbold-mb-5" *ngIf="isUploadedVslOp">
                                <div class="formbold-file-item">
                                    <span class="formbold-file-name">{{VslOpAcceptanceFile}}</span>
                                    <button (click)="isUploadedVslOp = false"><span class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!isUploadedTS">
                                <input type="file" (change)="fileUpload($event,'TS')" name="file4" id="file4" />
                                <label for="file">
                                    <div>
                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                        <span class="formbold-drop-file">Upload</span>
                                        <small>Transhipment Acceptance</small>
                                    </div>
                                </label>
                            </div>
                            <div class="formbold-file-list formbold-mb-5" *ngIf="isUploadedTS">
                                <div class="formbold-file-item">
                                    <span class="formbold-file-name">{{TSAcceptanceFile}}</span>
                                    <button (click)="isUploadedTS = false"><span class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="commodityType == 'FLEXIBAG'">
                        <div class="col-md-4">
                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!isUploadedShpLOY">
                                <input type="file" (change)="fileUpload($event,'ShpLOY')" name="file4" id="file4" />
                                <label for="file4">
                                    <div>
                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                        <span class="formbold-drop-file">Upload</span>
                                        <small>Shipper LOI</small>
                                    </div>
                                </label>
                            </div>
                            <div class="formbold-file-list formbold-mb-5" *ngIf="isUploadedShpLOY">
                                <div class="formbold-file-item">
                                    <span class="formbold-file-name">{{ShpLOYAcceptanceFile}}</span>
                                    <button (click)="isUploadedShpLOY = false"><span
                                            class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!isUploadedVslOpAp">
                                <input type="file" (change)="fileUpload($event,'VslOpAp')" name="file5" id="file5" />
                                <label for="file5">
                                    <div>
                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                        <span class="formbold-drop-file">Upload</span>
                                        <small>POD Acceptance</small>
                                    </div>
                                </label>
                            </div>
                            <div class="formbold-file-list formbold-mb-5" *ngIf="isUploadedVslOpAp">
                                <div class="formbold-file-item">
                                    <span class="formbold-file-name">{{VslOpApAcceptanceFile}}</span>
                                    <button (click)="isUploadedVslOpAp = false"><span
                                            class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="commodityType == 'SP'">
                        <div class="col-md-4">
                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!isUploadedVslOpAp2">
                                <input type="file" (change)="fileUpload($event,'VslOpAp2')" name="file6" id="file6" />
                                <label for="file6">
                                    <div>
                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                        <span class="formbold-drop-file">Upload</span>
                                        <small>Vessel Operator Acceptance</small>
                                    </div>
                                </label>
                            </div>
                            <div class="formbold-file-list formbold-mb-5" *ngIf="isUploadedVslOpAp2">
                                <div class="formbold-file-item">
                                    <span class="formbold-file-name">{{VslOpAp2AcceptanceFile}}</span>
                                    <button (click)="isUploadedVslOpAp2 = false"><span
                                            class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="formbold-mb-5 formbold-file-input" *ngIf="!isUploadedSur">
                                <input type="file" (change)="fileUpload($event,'Sur')" name="file7" id="file7" />
                                <label for="file7">
                                    <div>
                                        <h3><i class="fa fa-file-pdf-o"></i></h3>
                                        <span class="formbold-drop-file">Upload</span>
                                        <small>Surveyor File</small>
                                    </div>
                                </label>
                            </div>
                            <div class="formbold-file-list formbold-mb-5" *ngIf="isUploadedSur">
                                <div class="formbold-file-item">
                                    <span class="formbold-file-name">{{SurAcceptanceFile}}</span>
                                    <button (click)="isUploadedSur = false"><span class="fa fa-times"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 offset-md-9" style="text-align: right;">
                            <button (click)="addCommodity()" class="btn btn-secondary btn-block">Add Commodity</button>
                        </div>
                    </div>
                    <table class="table align-middle my-3 bg-white" *ngIf="commodityList.length > 0">
                        <thead class="bg-light">
                            <tr>
                                <th>Sr. No</th>
                                <th>Commodity</th>
                                <th>Commodity Type</th>
                                <th *ngIf="commodityType == 'HAZ'">IMO Class</th>
                                <th *ngIf="commodityType == 'HAZ'">UN No</th>
                                <th *ngIf="commodityType == 'FLEXIBAG'">Flash Point</th>
                                <th *ngIf="commodityType == 'FLEXIBAG'">CAS No</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of commodityList; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.COMMODITY_NAME }}</td>
                                <td>{{ item.COMMODITY_TYPE == 'HAZ' ? 'Hazardous' : item.COMMODITY_TYPE == 'FLEXIBAG' ?
                                    'Flexi
                                    Bag' : 'Normal' }}</td>
                                <td *ngIf="commodityType == 'HAZ'">{{ item.IMO_CLASS }}</td>
                                <td *ngIf="commodityType == 'HAZ'">{{ item.UN_NO }}</td>
                                <td *ngIf="commodityType == 'FLEXIBAG'">{{ item.FLASH_POINT }}</td>
                                <td *ngIf="commodityType == 'FLEXIBAG'">{{ item.CAS_NO }}</td>
                                <td>{{ item.REMARKS }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" *ngIf="commodityList.length > 0">
                        <div class="col-md-2 offset-md-10" style="text-align: right;">
                            <button (click)="saveCommodity()" class="btn btn-secondary btn-block">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="containerForm">
            <div class="card mt-2" *ngIf="tabs == '3'">
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted1 && f1.CONTAINER_TYPE.errors}"
                                    formControlName="CONTAINER_TYPE">
                                    <ng-option value="" selected="true" disabled>--Select Container--</ng-option>
                                    <ng-option value="Dry storage">Dry storage</ng-option>
                                    <ng-option value="Open top">Open top</ng-option>
                                    <ng-option value="Reefer">Reefer</ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Container <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted1 && f1.CONTAINER_TYPE.errors" class="invalid-feedback">Please
                                    select
                                    Container</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted1 && f1.CONTAINER_SIZE.errors}"
                                    formControlName="CONTAINER_SIZE">
                                    <ng-option value="" selected="true" disabled>--Select Container Size--</ng-option>
                                    <ng-option *ngFor="let item of containersizeList" value="{{ item.CODE }}">
                                        {{ item.CODE_DESC }} ({{ item.CODE }})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Container Size <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted1 && f1.CONTAINER_SIZE.errors" class="invalid-feedback">Please
                                    select
                                    Container Size</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <ng-select formControlName="SERVICE_MODE"
                                    [ngClass]="{'invalid': submitted1 && f1.SERVICE_MODE.errors}">
                                    <ng-option value="" selected="true" disabled>--Select Service Mode--</ng-option>
                                    <ng-option *ngFor="let item of servicemodeList" value="{{ item.CODE }}">
                                        {{ item.CODE }}
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Service Mode <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted1 && f1.SERVICE_MODE.errors" class="invalid-feedback">Please
                                    select
                                    Service Mode</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" formControlName="POL_FREE_DAYS"
                                    [ngClass]="{'invalid': submitted1 && f1.POL_FREE_DAYS.errors}"
                                    class="form-control" />
                                <label class="form-label">POL Free Days <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted1 && f1.POL_FREE_DAYS.errors" class="invalid-feedback">Please
                                    enter
                                    POL Free Days</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" formControlName="POD_FREE_DAYS"
                                    [ngClass]="{'invalid': submitted1 && f1.POD_FREE_DAYS.errors}"
                                    class="form-control" />
                                <label class="form-label">POD Free Days <span class="text-danger"> *</span></label>
                                <div *ngIf="submitted1 && f1.POL_FREE_DAYS.errors" class="invalid-feedback">Please
                                    enter
                                    POD Free Days</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" formControlName="IMM_VOLUME_EXPECTED"
                                    [ngClass]="{'invalid': submitted1 && f1.IMM_VOLUME_EXPECTED.errors}"
                                    class="form-control" />
                                <label class="form-label">Imm Volume Expected <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted1 && f1.IMM_VOLUME_EXPECTED.errors" class="invalid-feedback">Please
                                    enter
                                    Imm Volume Expected</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="form-group">
                                <input type="text" formControlName="TOTAL_VOLUME_EXPECTED"
                                    [ngClass]="{'invalid': submitted1 && f1.TOTAL_VOLUME_EXPECTED.errors}"
                                    class="form-control" />
                                <label class="form-label">Total Volume Expected <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted1 && f1.TOTAL_VOLUME_EXPECTED.errors" class="invalid-feedback">
                                    Please
                                    enter
                                    Total Volume Expected</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 offset-md-10" style="text-align: right;">
                            <button (click)="addContainer()" class="btn btn-secondary btn-block">Add
                                Rate</button>
                            <button #openRateModal data-toggle="modal" data-target="#rateModal" class="d-none">Add
                                Rate</button>

                        </div>
                    </div>
                    <div class="row mt-4" *ngIf="isContainer">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr class="bg-light">
                                        <th>Sr. No</th>
                                        <th>Container</th>
                                        <th>Service Mode</th>
                                        <th>Rates</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of containerList;let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.Container}}</td>
                                        <td>{{item.ServiceMode}}</td>
                                        <td>-</td>
                                        <td><i class="fa fa-trash"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" *ngIf="isContainer">
                        <div class="col-md-2 offset-md-10" style="text-align: right;">
                            <button (click)="saveContainer()" class="btn btn-secondary btn-block">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" id="rateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rate Details</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
                            #closeBtn></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <h6>Container : <small
                                            class="text-danger mr-2">{{containerForm.value.CONTAINER_TYPE}} -
                                            {{containerForm.value.CONTAINER_SIZE}}</small>
                                        Service Mode : <small
                                            class="text-danger">{{containerForm.value.SERVICE_MODE}}</small></h6>
                                </div>
                                <div class="col-md-6" style="text-align: right;">
                                    <button (click)="addRate()" class="btn btn-outline-info">
                                        <i class="fa fa-plus mr-1"></i>Add Rates</button>
                                </div>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr class="bg-light">
                                    <th>Charge Code</th>
                                    <th>Currency</th>
                                    <th>Standard Rate</th>
                                    <th>Requested Rate</th>
                                    <th>Freight Payment Term</th>
                                    <th>Place of Payment</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of f4;let j = index;" [formGroup]="item">
                                    <td class="col-md-4">
                                        <ng-select formControlName="CHARGE_CODE">
                                            <ng-option value="" selected>--Select--</ng-option>
                                            <ng-option value="Gross Freight">Gross Freight</ng-option>
                                            <ng-option value="THC">THC</ng-option>
                                            <ng-option value="EWRI">EWRI</ng-option>
                                            <ng-option value="TERMINAL REBATE">TERMINAL REBATE</ng-option>
                                        </ng-select>
                                    </td>
                                    <td class="col-md-2">
                                        <ng-select formControlName="CURRENCY">
                                            <ng-option value="" selected>--Select--</ng-option>
                                            <ng-option value="USD">USD</ng-option>
                                            <ng-option value="INR">INR</ng-option>
                                            <ng-option value="AUD">AUD</ng-option>
                                        </ng-select>
                                    </td>
                                    <td><label class="mt-2">100</label></td>
                                    <td><input class="form-control" formControlName="REQUESTED_RATE" type="text" /></td>
                                    <td class="col-md-4">
                                        <ng-select formControlName="PAYMENT_TERM">
                                            <ng-option value="" selected>--Select--</ng-option>
                                            <ng-option value="Prepaid">Prepaid</ng-option>
                                            <ng-option value="Collect">Collect</ng-option>
                                        </ng-select>
                                    </td>
                                    <td class="col-md-2">
                                        <ng-select formControlName="TRANSPORT_TYPE">
                                            <ng-option value="" selected>--Select--</ng-option>
                                            <ng-option value="POL">POL</ng-option>
                                            <ng-option value="POD">POD</ng-option>
                                        </ng-select>
                                    </td>
                                    <td><i class="fa fa-trash mt-3"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" (click)="submitRate()" class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>