<div class="section-title">
    <h2>{{'Header.title'|translate}}</h2>
</div>
<div class="container">
    <form class="mx-5" [formGroup]="quotationForm">
        <div class="col-md-6 offset-md-6 text-end">
            <button class="form-btn-primary" routerLink="/home/rate-request/new-quotation"><i
                    class="fa fa-plus me-2"></i>{{'Button.newRequest'|translate}}</button>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label2">{{'Header.requestNo'|translate}}</label>
                    <input formControlName="SRR_NO" type="text" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.fromDate'|translate}}</label>
                    <input onkeypress="return false" (change)="quotationForm.get('TO_DATE')?.setValue('')"
                        formControlName="FROM_DATE" type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.toDate'|translate}}</label>
                    <input onkeypress="return false" min="{{quotationForm.value.FROM_DATE}}" formControlName="TO_DATE"
                        type="date" class="form-control2">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label2">{{'Header.status'|translate}}</label>
                    <select class="form-control2" formControlName="STATUS">
                        <option value="">--Select--</option>
                        <option value="Approved">Approved</option>
                        <option value="Requested">Requested</option>
                        <option value="Countered">Countered</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 mt-4">
                <button class="form-btn me-2" [disabled]="isLoading" (click)="Search()">{{'Button.search'|translate}}
                    <span *ngIf="isLoading" class="fa fa-spinner fa-spin"></span></button>
                <button class="form-btn-light me-2" [disabled]="isLoading1"
                    (click)="Clear()">{{'Button.clear'|translate}}
                    <span *ngIf="isLoading1" class="fa fa-spinner fa-spin"></span></button>
            </div>
        </div>
    </form>
    <section class="services">
        <div class="row">
            <div class="col-md-7 ps-md-5">
                <small>{{'Header.TotalRecords'|translate}} : {{this.quotationList?.length}}/ 50</small>
            </div>
            <div *ngIf="expRecords > 0" class="col-md-5 pe-md-3 text-end">
                <img height="30" width="40" src="assets/img/alert.gif">
                <small class="text-danger">{{expRecords}} Request(s) about to expire</small>
            </div>
        </div>
        <div [class]="isScroll ? 'scrollbar' : ''" id="style-3">
            <div [class]="isScroll ? 'force-overflow' : ''">
                <div class="icon-box icon-box-cyan text-start" *ngFor="let item of quotationList; let i = index">
                    <div class="row">
                        <div class="col-md-5">
                            <h4 class="title mb-0">
                                <a (click)="getQuotationDetails(item.SRR_NO)">{{item.SRR_NO}}</a>
                                <span style="font-size: 10px;"
                                    [class]="item.STATUS == 'Approved' ? 'badge rounded-pill bg-success ms-3' : item.STATUS == 'Countered' ? 'badge rounded-pill bg-info ms-3' : item.STATUS == 'Rejected' ? 'badge rounded-pill bg-danger ms-3' : 'badge rounded-pill bg-warning text-dark ms-3'">{{item.STATUS}}</span>
                            </h4>
                            <p class="description mb-2">
                                <span class="bx bxs-ship me-2"></span>{{item.POL}} <i
                                    class='bx bxs-right-arrow-circle mx-2'></i>
                                <span class="bx bxs-ship me-2"></span>{{item.POD}}
                                <span class="d-block text-success">Created : {{item.CREATED_DATE |
                                    date:'mediumDate'}}</span>
                            </p>
                            <button *ngIf="item.STATUS != 'Rejected'" class="form-btn-primary" style="font-size: 12px;"
                                (click)="getSRRDetails(item,'container')">{{'Button.addMoreContainers'|translate}}</button>
                            <button (click)="getSRRDetails(item,'rate')" class="form-btn-danger ms-2"
                                style="font-size: 12px;">{{'Button.rateDetails' |translate}}</button>
                            <a #rateModal class="d-none" data-bs-toggle="modal" href="#counterRateModal">Counter
                                Offer</a>
                            <a #containerModal class="d-none" data-bs-toggle="modal" href="#containerModal">Add
                                More
                                Containers</a>
                        </div>
                        <div class="col-md-5">
                            <p class="description" style="font-weight: 500;"> <span
                                    class="bx bx-user me-2"></span>{{item.CUSTOMER_NAME}}</p>

                            <p class="description">
                                <span *ngFor="let sc of item.CONTAINERS?.split(', ')">
                                    <img *ngIf="sc.substring(0,2) == '20'" height="25" width="30" class="me-2"
                                        src="assets/img/container.png" />
                                    <img *ngIf="sc.substring(0,2) == '40'" height="25" width="30" class="me-2"
                                        src="assets/img/container (1).png" />
                                    <span class="me-2">{{sc}} | </span>
                                </span>
                            </p>
                            <p class="description">
                                <span *ngFor="let comms of item.COMMODITY?.split(', ')">
                                    <img *ngIf="comms.split('-')[0] == 'NORMAL'" height="18" width="20" class="pb-1"
                                        src="assets/img/box.png" />
                                    <img *ngIf="comms.split('-')[0] == 'HAZ'" height="18" width="20" class="pb-1"
                                        src="assets/img/fire.png" />
                                    <img *ngIf="comms.split('-')[0] == 'REEFER'" height="23" width="25" class="pb-1"
                                        src="assets/img/fish.png" />
                                    <img *ngIf="comms.split('-')[0] == 'FLEXIBAG'" height="18" width="18" class="pb-1"
                                        src="assets/img/waterdroplet.png" />
                                    {{comms.split('-')[1]}} , </span>
                            </p>
                            <p *ngIf="!item.IS_VESSELVALIDITY" class="description text-secondary">Validity : <span
                                    class="">{{item.EFFECT_FROM
                                    | date:'mediumDate'}} -
                                    {{item.EFFECT_TO | date:'mediumDate'}}</span>
                                <small class="ms-2 text-danger" *ngIf="item.DAYS <= 3"> About to
                                    expire !</small>
                            </p>
                            <p *ngIf="item.IS_VESSELVALIDITY" class="description text-secondary">Validity : <span
                                    class="">{{item.CREATED_DATE
                                    | date:'mediumDate'}} -
                                    {{item.ETA | date:'mediumDate'}}</span>
                                <small class="ms-2 text-danger" *ngIf="item.DAYS <= 3"> About to
                                    expire !</small>
                            </p>
                        </div>
                        <div class="col-md-2 text-end" *ngIf="item.STATUS == 'Approved'">
                            <span></span>
                            <button *ngIf="item.IS_VESSELVALIDITY" (click)="bookingSuccessful(item)"
                                class="form-btn rounded-pill">{{'Button.bookNow'|translate}}</button>
                            <button *ngIf="!item.IS_VESSELVALIDITY" (click)="openBookingModal(i)"
                                class="form-btn rounded-pill">{{'Button.bookNow'|translate}}</button>
                            <button class="form-btn d-none" #openBtn data-bs-toggle="modal" href="#bookingModal">Book
                                Now</button>
                            <h6 *ngIf="item.BOOKINGS > 0 && item.IS_VESSELVALIDITY == false" class="pe-2 mt-2">
                                {{item.BOOKINGS}} Booking(s)</h6>
                        </div>
                    </div>
                    <div class="modal fade" id="bookingModal" aria-labelledby="exampleModalLabel" tabindex="-1"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                        #closeBtn></button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="slotDetailsForm">
                                        <div class="col-md-12">
                                            <h6>SRR NO:<small class="text-dark">
                                                    {{quotationDetails?.SRR_NO}} </small></h6>
                                            <h6><span class="bx bxs-ship me-2"></span>{{quotationDetails?.POL}}
                                                <i class='bx bxs-right-arrow-circle mx-2'></i>
                                                <span class="bx bxs-ship me-2"></span>{{quotationDetails?.POD}}
                                            </h6>
                                            <div style="margin-bottom: 3.5rem;"></div>
                                            <div class="row mt-4">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-group">
                                                        <ng-select (change)="getVoyageList($event)"
                                                            [ngClass]="{'invalid': submitted && f4.VESSEL_NAME.errors}"
                                                            formControlName="VESSEL_NAME">
                                                            <ng-option value="" selected="true" disabled>
                                                                --Select--</ng-option>
                                                            <ng-option *ngFor="let item of vesselList"
                                                                value="{{item.CODE}}">
                                                                {{item.CODE_DESC}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <label class="form-label-ddl">Vessel Name<span
                                                                class="text-danger">
                                                                *</span></label>
                                                        <div *ngIf="submitted && f4.VESSEL_NAME.errors"
                                                            class="invalid-feedback">Vessel Name is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-group">
                                                        <ng-select
                                                            [ngClass]="{'invalid': submitted && f4.VOYAGE_NO.errors}"
                                                            formControlName="VOYAGE_NO">
                                                            <ng-option><button data-bs-toggle="modal"
                                                                    href="#voyageModal"
                                                                    class="form-btn rounded-pill btn-sm"><i
                                                                        class="fa fa-plus me-1"></i>
                                                                    Voyage</button></ng-option>
                                                            <ng-option value="" selected="true" disabled>
                                                                --Select--</ng-option>
                                                            <ng-option *ngFor="let item of voyageList"
                                                                value="{{item.CODE}}">
                                                                {{item.CODE_DESC}}
                                                            </ng-option>
                                                        </ng-select>
                                                        <label class="form-label-ddl">Voyage No<span
                                                                class="text-danger">
                                                                *</span></label>
                                                        <div *ngIf="submitted && f4.VOYAGE_NO.errors"
                                                            class="invalid-feedback">Voyage No is required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input formControlName="MOTHER_VESSEL_NAME" type="text"
                                                            class="form-control" />
                                                        <label class="form-label">Mother Vessel Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input formControlName="MOTHER_VOYAGE_NO" type="text"
                                                            class="form-control" />
                                                        <label class="form-label">Mother Vessel Voyage
                                                            No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 offset-md-6 text-end">
                                                <button (click)="slotAllocation()" class="form-btn btn-sm">
                                                    <i class="fa fa-plus me-2"></i>Slot
                                                    Allocation</button>
                                            </div>
                                        </div>
                                    </form>
                                    <table class="table" style="font-size: 12px;">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Slot Operator</th>
                                                <th>No of Slots</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of f;let j = index;" [formGroup]="item">
                                                <td class="col-md-1">
                                                    <label class="mt-4"> {{j+1}}</label>
                                                </td>
                                                <td class="col-md-6">
                                                    <label class="form-label3">Slot Operator<span class="text-danger">
                                                            *</span></label>
                                                    <select class="form-control3"
                                                        [ngClass]="{'invalid': submitted && f4.SLOT_LIST.controls[j].get('SLOT_OPERATOR').errors}"
                                                        formControlName="SLOT_OPERATOR">
                                                        <option value="" selected disabled>
                                                            --Slot
                                                            Operator--</option>
                                                        <option *ngFor="let item of slotoperatorList"
                                                            value="{{item.CODE}}">
                                                            {{item.CODE_DESC}}</option>
                                                    </select>
                                                    <div *ngIf="submitted && f4.SLOT_LIST.controls[j].get('SLOT_OPERATOR').errors"
                                                        class="invalid-feedback">Slot Operator is required
                                                    </div>
                                                </td>
                                                <td class="col-md-4">
                                                    <label class="form-label3">No of Slots<span class="text-danger">
                                                            *</span></label>
                                                    <input maxlength="5"
                                                        onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                                        [ngClass]="{'invalid': submitted && f4.SLOT_LIST.controls[j].get('NO_OF_SLOTS').errors}"
                                                        class="form-control3" formControlName="NO_OF_SLOTS"
                                                        type="text" />
                                                    <div *ngIf="submitted && f4.SLOT_LIST.controls[j].get('NO_OF_SLOTS').errors"
                                                        class="invalid-feedback">No of Slots is required
                                                    </div>
                                                </td>
                                                <td class="col-md-1">
                                                    <a (click)="removeItem(j)"><i style="font-size:15px"
                                                            class="fa fa-trash mt-4"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" (click)="bookNow()" class="form-btn-primary">Book
                                        Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 mx-auto" *ngIf="quotationList.length == 0">
            <h5 class="text-center">Sorry! No records found !!</h5>
            <img src="assets/img/doimg.jpg" class="img-fluid" alt="">
        </div>
    </section>

    <div class="modal fade" id="containerModal" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Container Details</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closeBtn1></button>
                </div>
                <div class="modal-body">
                    <div class="row description" *ngFor="let item of f2;let i = index" [formGroup]="item">
                        <h6>{{containerList[i].SRR_NO}}</h6>
                        <small class="mb-2"><span class="bx bxs-ship me-2"></span>{{item.value?.POL}}
                            <i class='bx bxs-right-arrow-circle mx-2'></i>
                            <span class="bx bxs-ship me-2"></span>{{item.value?.POD}}</small>
                        <hr>
                        <div class="col-md-4 mt-2">
                            <label class="label-header">Container</label>
                            <label class="label-subheader">{{containerList[i].CONTAINER_TYPE}}</label>
                        </div>
                        <div class="col-md-4 mt-2">
                            <label class="label-header">Service Mode</label>
                            <label class="label-subheader">{{containerList[i].SERVICE_MODE}}</label>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label2">No of Container <span Class="text-danger"> *</span></label>
                            <input
                                onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
                                maxlength="3" type="text"
                                [ngClass]="{'invalid': submitted2 && f2[i].get('IMM_VOLUME_EXPECTED').errors}"
                                formControlName="IMM_VOLUME_EXPECTED" class="form-control2">
                            <div *ngIf="submitted2 && f2[i].get('IMM_VOLUME_EXPECTED').errors" class="invalid-feedback">
                                This is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="addContainer()" class="form-btn">Add Container</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="counterRateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rate Details : <small class="text-primary"
                            style="font-size: 14px;">{{srrNo}}</small></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        #closeBtn2></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12" *ngFor="let item1 of containerList">
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Container : <small class="text-dark me-2">{{item1.CONTAINERS}} </small>
                                    Service Mode : <small class="text-dark me-2">{{item1.SERVICE_MODE}}</small>
                                    <!-- Status : <small
                                        [class]="item1.STATUS == 'Requested' ? 'text-warning me-2' : item1.STATUS == 'Approved' ? 'text-success me-2':  item1.STATUS == 'Rejected' ? 'text-danger me-2': 'text-info me-2'">
                                        {{item1.STATUS == 'Requested' ? item1.STATUS : item1.STATUS + '
                                        by ' + item1.CREATED_BY}}</small> -->
                                    Status : <small *ngIf="item1.CREATED_BY!='agent' || item1.STATUS!='Approved'"
                                        [class]="item1.STATUS == 'Requested' ? 'text-warning me-2' : item1.STATUS == 'Approved' ? 'text-success me-2':  item1.STATUS == 'Rejected' ? 'text-danger me-2': 'text-info me-2'">
                                        {{item1.STATUS == 'Requested' ? item1.STATUS : item1.STATUS + '
                                        by ' + item1.CREATED_BY}}</small>
                                    <small *ngIf="item1.CREATED_BY=='agent' && item1.STATUS=='Approved'"
                                        [class]="item1.STATUS == 'Requested' ? 'text-warning me-2' : item1.STATUS == 'Approved' ? 'text-success me-2':  item1.STATUS == 'Rejected' ? 'text-danger me-2': 'text-info me-2'">
                                        {{'Accepted ' + 'by ' + item1.CREATED_BY}}</small>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="label-header">Charge Code</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="label-header">Payment</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="label-header">Standard</label>
                                </div>
                                <div class="col-md-2"
                                    *ngIf="item1.STATUS == 'Countered'  || item1.STATUS == 'Approved'">
                                    <label class="label-header">Countered</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="label-header">Requested</label>
                                </div>
                                <div class="col-md-2" *ngIf="item1.STATUS != 'Requested'">
                                    <label class="label-header">Remarks</label>
                                </div>
                            </div>
                            <div *ngFor="let item of f3;let i = index" [formGroup]="item">
                                <div *ngIf="item.value.CONTAINER_TYPE == item1.CONTAINER_TYPE" class="row">
                                    <div class="col-md-2 mt-2">
                                        <label class="label-subheader">{{item.value.CHARGE_CODE}}</label>
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <label class="label-subheader">{{item.value.PAYMENT_TERM}} -
                                            {{item.value.TRANSPORT_TYPE}}</label>
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <label class="label-subheader">{{item.value.CURRENCY}}
                                            {{item.value.STANDARD_RATE}}</label>
                                    </div>
                                    <div class="col-md-2 mt-2"
                                        *ngIf="item1.STATUS == 'Countered'  || item1.STATUS == 'Approved'">
                                        <label
                                            [class]="item.value.APPROVED_RATE > 0 ? 'text-success label-subheader' : 'label-subheader'">{{item.value.CURRENCY}}
                                            {{item.value.APPROVED_RATE}}
                                        </label>
                                    </div>
                                    <div class="col-md-2 mt-1">
                                        <input *ngIf="item1.STATUS == 'Countered'" formControlName="RATE_REQUESTED"
                                            class="form-control3" type="text" />
                                        <label
                                            [class]="item.value.APPROVED_RATE == 0 && item1.STATUS == 'Approved' ? 'text-success label-subheader' : 'label-subheader'"
                                            *ngIf="item1.STATUS != 'Countered'">{{item.value.CURRENCY}}
                                            {{item.value.RATE_REQUESTED}}
                                        </label>
                                    </div>
                                    <div class="col-md-2 mt-1" *ngIf="item1.STATUS != 'Requested'">
                                        <label class="label-subheader">{{item.value.REMARKS == '' ? '-' :
                                            item.value.REMARKS == null ? '-' : item.value.REMARKS }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2" *ngIf="item1.STATUS == 'Countered'">
                            <div class="col-md-6 offset-md-6 text-end">
                                <button type="button" (click)="counterRate(item1.CONTAINER_TYPE,'Approved')"
                                    class="form-btn-success btn-sm me-2">Accept</button>
                                <button type="button" class="form-btn-danger btn-sm me-2"
                                    (click)="counterRate(item1.CONTAINER_TYPE,'Rejected')">Reject</button>
                                <button type="button" class="form-btn-info btn-sm"
                                    (click)="counterRate(item1.CONTAINER_TYPE,'Countered')">Re-Counter</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" #voyageModal id="voyageModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Voyage Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn3></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="voyageForm">
                    <div class="row my-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted3 && f6.VESSEL_NAME.errors}"
                                    formControlName="VESSEL_NAME">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of vesselList1" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Vessel <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.VESSEL_NAME.errors" class="invalid-feedback">Please select
                                    Vessel</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted3 && f6.VOYAGE_NO.errors}"
                                    maxlength="100" formControlName="VOYAGE_NO" class="form-control">
                                <label class="form-label">Voyage No <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.VOYAGE_NO.errors" class="invalid-feedback">
                                    Voyage No is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false" formControlName="ATA" class="form-control">
                                <label class="form-label">ATA </label>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false" formControlName="ATD" class="form-control">
                                <label class="form-label">ATD </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" [ngClass]="{'invalid': submitted3 && f6.ETA.errors}"
                                    onkeypress="return false" formControlName="ETA" class="form-control">
                                <label class="form-label">ETA<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.ETA.errors" class="invalid-feedback">ETA is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" [ngClass]="{'invalid': submitted3 && f6.ETD.errors}"
                                    onkeypress="return false" formControlName="ETD" class="form-control">
                                <label class="form-label">ETD <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.ETD.errors" class="invalid-feedback">ETD is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select formControlName="IMM_CURR">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of currencyList"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Import Currency </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" (keypress)="numericOnly($event)" maxlength="5"
                                    formControlName="IMM_CURR_RATE" class="form-control">
                                <label class="form-label">Import Currency Rate </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select formControlName="EXP_CURR">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of currencyList1"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Export Currency </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" (keypress)="numericOnly($event)" maxlength="5"
                                    formControlName="EXP_CURR_RATE" class="form-control">
                                <label class="form-label">Export Currency Rate</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select (change)="getServiceName1($event)"
                                    [ngClass]="{'invalid': submitted3 && f6.PORT_CODE.errors}"
                                    formControlName="PORT_CODE">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Port<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.PORT_CODE.errors" class="invalid-feedback">Please select
                                    Port</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted3 && f6.TERMINAL_CODE.errors}"
                                    formControlName="TERMINAL_CODE">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of terminalList"
                                        value="{{item.CODE}}">{{item.CODE_DESC}} </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Terminal <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.TERMINAL_CODE.errors" class="invalid-feedback">Please
                                    select
                                    Terminal</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted3 && f6.SERVICE_NAME.errors}"
                                    formControlName="SERVICE_NAME">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of servicenameList1"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Service <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.SERVICE_NAME.errors" class="invalid-feedback">Please select
                                    Service</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted3 && f6.VIA_NO.errors}"
                                    maxlength="100" formControlName="VIA_NO" class="form-control">
                                <label class="form-label">VIA No <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.VIA_NO.errors" class="invalid-feedback">
                                    VIA No is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="insertVoyage()" class="form-btn">Submit</button>
            </div>
        </div>
    </div>
</div>