<div class="section-title">
    <h2>Container Tracking</h2>
</div>
<div class="container">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="bkno">
                    <label class="form-label">Booking/BL No.</label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="form-btn me-2" (click)="getTrackingHistoryList()">Get Containers</button>
            </div>
        </div>
    </div>

    <section class="services" *ngIf="previewNoData">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9 text-end">
                    <h5>Sorry! No records found for the specified booking/bill number</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5 mt-3 pt-5 mb-5">
                    <img src="./../../../assets/img/doimg.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="previewDetails">
        <hr>
        <div class="table-responsive">
            <table class="ratetable" style="font-size: 12px;">
                
                <thead><tr>
                    <th>Sr No.</th>
                    <th>Container No</th>
                    <th>Activity</th>
                    <th>Previous Activity</th>
                    <th>Activity Date</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Let's Track</th>
                </tr></thead>
                
                <tbody>
                    <tr *ngFor="let data of cmList;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.CONTAINER_NO?data.CONTAINER_NO:'-'}}</td>
                        <td>{{data.ACTIVITY?data.ACTIVITY:'-'}}</td>
                        <td>{{data.PREV_ACTIVITY?data.PREV_ACTIVITY:'-'}}</td>
                        <td>{{data.ACTIVITY_DATE?data.ACTIVITY_DATE:'-' | date: 'dd/MM/yyyy'}}</td>
                        <td>{{data.LOCATION?data.LOCATION:'-'}}</td>
                        <td>{{data.STATUS?data.STATUS:'-'}}</td>
                        <td>
                            <button id="openModalButton"  data-bs-toggle="modal" href="#previewModal" (click)="trackContainer(data)" hidden>Open Modal</button>
                            <button class="form-btn w-100"  (click)="openTracking(data)">Track</button>
                            <!-- <button class="form-btn me-2" id="openModalButton"  data-bs-toggle="modal" href="#previewModal" (click)="trackContainer(data)">Track</button> -->
                        </td>
                        
                    </tr>
                    
                </tbody>
                
            </table>
        </div>
        <hr>
        

    </section>
</div>

<div class="modal fade" id="previewModal" aria-labelledby="exampleModalLabel" tabindex="-1"
                            aria-hidden="true">
                            <div class="modal-dialog" style="max-width: 70%;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Tracking:-</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" #closeBtn></button>
                                    </div>
                                    <div class="modal-body" style="text-align: center;">
                                        
                                       
                                        <span class="description" style="font-size: larger;"> <span class="bx bxs-ship"></span> {{booking.POL}} - </span> 
                                        <span class="description" style="font-size: larger;"> <span class="bx bxs-ship"></span> {{booking.POD}}</span>
                                        <div class="progress-container">
                                            <ul>
                                              <li [ngStyle]="{'border-color': sntsActive ? 'cadetblue' : 'red' }"><i class='bx bx-child' style="font-size:40px;color:#07ebaa"></i></li>
                                              <li [ngStyle]="{'border-color': rcflActive ? 'cadetblue' : 'red' }"><i class='bx bxs-door-open' style="font-size:40px;color:#07ebaa"></i></li>
                                              <li [ngStyle]="{'border-color': lodfActive ? 'cadetblue' : 'red' }"><i class='bx bxs-package' style="font-size:40px;color:#07ebaa"></i></li>
                                              <li [ngStyle]="{'border-color': dchfActive ? 'cadetblue' : 'red' }"><i class='bx bxs-ship' style="font-size:40px;color:#07ebaa"></i></li>
                                              <li [ngStyle]="{'border-color': sntcActive ? 'cadetblue' : 'red' }"><i class='bx bxs-send' style="font-size:40px;color:#07ebaa"></i></li>
                                              <li [ngStyle]="{'border-color': rccnActive ? 'cadetblue' : 'red' }"><i class='bx bx-child' style="font-size:40px;color:#07ebaa"></i></li>
                                              
                                              <span class="progress-bar" [ngStyle]="{width: getPercent() + '%'}">
                                            </span>
                                            
                                            </ul>
                                            <!-- <span class="progress-bar" [ngStyle]="{width: getPercent() + '%'}">
                                            </span> -->
                                        </div>
                                        
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2 text-center">
                                                    <p>Sent To Shipper</p>
                                                    <b>(SNTS)</b>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <p>Received Full/<br>Gate-In Terminal</p>
                                                    <b>(RCFL)</b>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <p>Loaded Full On Vessel</p>
                                                    <b>(LODF)</b>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <p>Discharge Full</p>
                                                    <b>(DCHF)</b>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <p>Sent To Consignee</p>
                                                    <b>(SNTC)</b>
                                                </div>
                                                <div class="col-md-2 text-center">
                                                    <p>Received From Consignee</p>
                                                    <b>(RCCN)</b>
                                                </div>
                                            </div>

                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>




