<div class="section-title">
    <h2>Quotation Details</h2>
</div>
<div class="container">
    <div class="accordion mt-3" id="accordion" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="heading-1">
                <h6 class="mb-0">
                    <a data-bs-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1"
                        data-abc="true" class="collapsed">
                        General Info
                    </a>
                </h6>
            </div>
            <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1"
                data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Ref No</label>
                                <label class="label-subheader">{{quotation?.SRR_NO}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Place of Receipt</label>
                                <label class="label-subheader">{{quotation?.PLACE_OF_RECEIPT}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Place of Delivery</label>
                                <label class="label-subheader">{{quotation?.PLACE_OF_DELIVERY}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Final Destination</label>
                                <label class="label-subheader">{{quotation?.ORIGIN_ICD}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">POL</label>
                                <label class="label-subheader">{{quotation?.POL}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">POD</label>
                                <label class="label-subheader">{{quotation?.POD}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">TSP 1</label>
                                <label class="label-subheader">{{quotation?.TSP_1}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">TSP 2</label>
                                <label class="label-subheader">{{quotation?.TSP_2}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Service Name</label>
                                <label class="label-subheader">{{quotation?.SERVICE_NAME}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Effect From</label>
                                <label class="label-subheader">{{quotation?.EFFECT_FROM}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Effect To</label>
                                <label class="label-subheader">{{quotation?.EFFECT_TO}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Customer Name</label>
                                <label class="label-subheader">{{quotation?.CUSTOMER_NAME}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Address</label>
                                <label class="label-subheader">{{quotation?.ADDRESS}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Email</label>
                                <label class="label-subheader">{{quotation?.EMAIL}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Contact</label>
                                <label class="label-subheader">{{quotation?.CONTACT}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Shipper Name</label>
                                <label class="label-subheader">{{quotation?.SHIPPER}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Notify Party</label>
                                <label class="label-subheader">{{quotation?.NOTIFY_PARTY}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Mty Repo</label>
                                <label class="label-subheader">{{quotation?.MTY_REPO}}</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label-header">Other Parties</label>
                                <label class="label-subheader">-</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading-2">
                <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-2" aria-expanded="false"
                        aria-controls="collapse-2" data-abc="true">
                        Commodity Details
                    </a>
                </h6>
            </div>
            <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2"
                data-bs-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Commodity</th>
                                <th>Type</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of commodityList; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{item.COMMODITY_NAME}}</td>
                                <td>{{item.COMMODITY_TYPE}}</td>
                                <td>{{item.REMARKS}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading-3">
                <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-3" aria-expanded="false"
                        aria-controls="collapse-3" data-abc="true">
                        Container & Rate Details
                    </a>
                </h6>
            </div>
            <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3"
                data-bs-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Container Type</th>
                                <th>Container Size</th>
                                <th>Service Mode</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of containerList; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{item.CONTAINER_TYPE}}</td>
                                <td>{{item.CONTAINER_SIZE}}</td>
                                <td>{{item.SERVICE_MODE}}</td>
                                <td><i class="fa fa-eye"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="heading-2">
                <h6 class="mb-0">
                    <a class="collapsed" data-bs-toggle="collapse" href="#collapse-4" aria-expanded="false"
                        aria-controls="collapse-2" data-abc="true">
                        Commodity Files
                    </a>
                </h6>
            </div>
            <div id="collapse-4" class="collapse" role="tabpanel" aria-labelledby="heading-2"
                data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let file of fileList">
                                <div class="formbold-file-list formbold-mb-5">
                                    <div class="formbold-file-item">
                                        <span class="formbold-file-name"
                                            *ngIf="file.filE_NAME.split('_')[1].length<=15">{{file.filE_NAME.split('_')[1]}}</span>
                                        <span class="formbold-file-name"
                                            *ngIf="file.filE_NAME.split('_')[1].length>15">{{file.filE_NAME.split('_')[1].substring(0,7)}}...{{file.filE_NAME.split('_')[1].split('.')[1]}}</span>
                                        <a target="_blank" href="{{BASE_URL + file.filE_PATH}}"><i
                                                class="fa fa-eye text-dark ms-5" ></i></a>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>