<div class="container-fluid">
    <app-pm-sidebar></app-pm-sidebar>
    <div style="width:80%;margin-left: 20%;">
<div class="section-title">
    <h2>Voyage Details</h2>
</div>
<div class="container mt-12">
                <form [formGroup]="voyageForm">
                    <div class="row mt-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.VESSEL_NAME.errors}"
                                    formControlName="VESSEL_NAME">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of vesselList1" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Vessel <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.VESSEL_NAME.errors" class="invalid-feedback">Please select
                                    Vessel</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted && f.VOYAGE_NO.errors}"
                                    maxlength="100" formControlName="VOYAGE_NO" class="form-control">
                                <label class="form-label">Voyage No <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.VOYAGE_NO.errors" class="invalid-feedback">
                                    Voyage No is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false"
                                    [ngClass]="{'invalid': submitted && f.ATA.errors}" formControlName="ATA"
                                    class="form-control">
                                <label class="form-label">ATA <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.ATA.errors" class="invalid-feedback">
                                    ATA is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false"
                                    [ngClass]="{'invalid': submitted && f.ATD.errors}" formControlName="ATD"
                                    class="form-control">
                                <label class="form-label">ATD <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.ATD.errors" class="invalid-feedback">
                                    ATD is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false"
                                    [ngClass]="{'invalid': submitted && f.ETA.errors}" formControlName="ETA"
                                    class="form-control">
                                <label class="form-label">ETA <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.ETA.errors" class="invalid-feedback">
                                    ETA is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false"
                                    [ngClass]="{'invalid': submitted && f.ETD.errors}" formControlName="ETD"
                                    class="form-control">
                                <label class="form-label">ETD <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.ETD.errors" class="invalid-feedback">
                                    ETD is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.IMM_CURR.errors}"
                                    formControlName="IMM_CURR">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of currencyList"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Import Currency <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.IMM_CURR.errors" class="invalid-feedback">Please select
                                    Vessel</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted && f.IMM_CURR_RATE.errors}"
                                    maxlength="100" formControlName="IMM_CURR_RATE" class="form-control">
                                <label class="form-label">Import Currency Rate <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.IMM_CURR_RATE.errors" class="invalid-feedback">
                                    Import Currency Rate is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.EXP_CURR.errors}"
                                    formControlName="EXP_CURR">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of currencyList1"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Export Currency <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.EXP_CURR.errors" class="invalid-feedback">Please select
                                    Export Currency</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted && f.EXP_CURR_RATE.errors}"
                                    maxlength="100" formControlName="EXP_CURR_RATE" class="form-control">
                                <label class="form-label">Export Currency Rate <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.EXP_CURR_RATE.errors" class="invalid-feedback">
                                    Export Currency Rate is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.TERMINAL_CODE.errors}"
                                    formControlName="TERMINAL_CODE">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option value="INMUN1">INMUN1
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Terminal <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.TERMINAL_CODE.errors" class="invalid-feedback">Please
                                    select
                                    Terminal</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select (change)="getServiceName1($event)"
                                    [ngClass]="{'invalid': submitted && f.PORT_CODE.errors}"
                                    formControlName="PORT_CODE">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Port<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.PORT_CODE.errors" class="invalid-feedback">Please select
                                    Port</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted && f.SERVICE_NAME.errors}"
                                    formControlName="SERVICE_NAME">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of servicenameList1"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Service <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.SERVICE_NAME.errors" class="invalid-feedback">Please select
                                    Service</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted && f.VIA_NO.errors}"
                                    maxlength="100" formControlName="VIA_NO" class="form-control">
                                <label class="form-label">VIA No <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted && f.VIA_NO.errors" class="invalid-feedback">
                                    VIA No is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            
            <div class="modal-footer">
                <button type="button" (click)="insertVoyage()" class="form-btn">Submit</button>
            </div>
</div>
    </div>
    </div>
    
    
