<div class="section-title">
    <h2>Rollover</h2>
</div>
<div class="container">

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="bookingNo">
                    <label class="form-label">Booking No.</label>
                </div>
            </div>
            <div class="col-md-3">
                <button class="form-btn me-2" (click)="getBookingDetails()">Get Details</button>
            </div>
        </div>
    </div>

    <section  class="services"  *ngIf="previewNoData">
        <div class="icon-box icon-box-cyan">
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-9 text-end">
                        <h5>Sorry! No records found for the specified booking number</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="services"  *ngIf="previewDetails">
        <div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <form [formGroup]="splitBookingForm">
                        <div class="col-md-12">
                            <div class="row mb-2">
                                <div class="col-md-12">
                                    <h6>POL : <small class="text-danger">
                                            HGFJ</small>
                                        POD :
                                        <small class="text-danger">YUHJ</small>
                                    </h6>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <label class="form-label2">Vessel Name</label>
                                            <input type="text" class="form-control2" [ngClass]="{'invalid': submitted && f2.VESSEL_NAME.errors}" formControlName="VESSEL_NAME"/>
                                            
                                            <div *ngIf="submitted && f2.VESSEL_NAME.errors" class="invalid-feedback">Please enter
                                                Vessel name</div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <label class="form-label2" for>Voyage No</label>
                                            <input type="text" class="form-control2" [ngClass]="{'invalid': submitted && f2.VOYAGE_NO.errors}" formControlName="VOYAGE_NO"/>
                                            
                                            <div *ngIf="submitted && f2.VOYAGE_NO.errors" class="invalid-feedback">Please enter
                                                Voyage number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <label class="form-label2">Mother Vessel Name</label>
                                            <input type="text" class="form-control2" [ngClass]="{'invalid': submitted && f2.MOTHER_VESSEL_NAME.errors}" formControlName="MOTHER_VESSEL_NAME"/>
                                            
                                            <div *ngIf="submitted && f2.MOTHER_VESSEL_NAME.errors" class="invalid-feedback">Please enter
                                                Mother Vessel Name</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-group">
                                            <label class="form-label2">Mother Voyage No</label>
                                            <input type="text" class="form-control2" [ngClass]="{'invalid': submitted && f2.MOTHER_VOYAGE_NO.errors}" formControlName="MOTHER_VOYAGE_NO"/>
                                            
                                            <div *ngIf="submitted && f2.MOTHER_VOYAGE_NO.errors" class="invalid-feedback">Please enter
                                                Mother Voyage number</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-6" style="text-align: right;">
                                    <button (click)="slotAllocation()"
                                                            class="btn btn-outline-info btn-block">
                                                            <i class="fa fa-plus mr-1"></i>Slot
                                                            Allocation</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Slot Operator</th>
                                <th>No of Slots</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of f;let j = index;" [formGroup]="f1(item)">
                                <td>
                                    1
                                </td>
                                <td class="col-md-6">
                                    <ng-select formControlName="SLOT_OPERATOR">
                                        <ng-option value="" selected disabled>
                                            --Slot
                                            Operator--</ng-option>
                                        <ng-option value="xx">test</ng-option>
                                    </ng-select>
                                </td>
                                <td>
                                    <input formControlName="NO_OF_SLOTS" type="text"
                                        class="form-control" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>
                <div class="row  mt-4">
                    <div class="col-md-6 offset-md-6 text-end">
                        <button type="button" class="form-btn" (click)="cancelBooking()" style="margin-right: 6px;">Clear</button>
                        <button type="button" class="form-btn" (click)="splitBooking()" style="margin-right: 6px;">Rollover</button>
                    </div>
                    
                </div>
        
            </div>

        </div>
    </section>

</div>

