<div class="section-title">
    <h2>{{'Header.title2'|translate}}</h2>
</div>

<div class="container">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="bookingNo">
                    <label class="form-label">{{'Header.BookingNo'|translate}}</label>
                </div>
            </div>
            <div class="col-md-2">

                <button class="form-btn me-2" (click)="getBookingDetails()">{{'Header.GetDetails'|translate}}</button>
            </div>
            <div class="col-md-7 text-start" *ngIf="previewDetails">
                
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            {{'Header.BookingNo'|translate}} :
                            <small class="text-danger">{{booking.BOOKING_NO}}</small>
                        </h6>
                        <h6>
                            {{'Header.CustomerName'|translate}} :
                            <small class="text-danger">{{booking.CUSTOMER_NAME}}</small>
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <h6>
                            {{'Header.VesselName'|translate}}:
                            <small class="text-danger">{{booking.VESSEL_NAME}} - {{booking.VOYAGE_NO}}</small>
                        </h6>
                        <h6>
                            {{'Header.Pol'|translate}} :
                            <small class="text-danger">{{booking.POL}}</small>
                            {{'Header.Pod'|translate}}:
                            <small class="text-danger">{{booking.POD}}</small>
                        </h6>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="services" *ngIf="previewNoData">

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-5 mx-auto" *ngIf="!isRecords">
                    <h5 class="text-center">Sorry! No records found !!</h5>
                    <img src="./../../../assets/img/doimg.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>

    <section class="services" *ngIf="previewDetails">
        <div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="modal-title" id="exampleModalLabel">{{'Header.BookingDetails'|translate}}</h5>
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <form [formGroup]="splitBookingForm">
                        <div class="col-md-12">
                            <div class="row">
                                  <div class="col-md-6 offset-md-6 text-end mb-1">
                                    <button (click)="slotAllocation()" class="form-btn">
                                        <i class="fa fa-plus me-2"></i>{{'Header.slotAllocation'|translate}}</button>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                         <div class="row">
                                            <div class="col-md-6 offset-md-6 text-end mb-1">
                                                <button data-bs-toggle="modal"  href="#voyageModal" class="form-btn rounded-pill">Add
                                                    Voyage</button>
                                            </div>
                                        </div> 
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label class="form-label2">{{'Header.VesselName'|translate}}<span
                                                            class="text-danger">*</span></label>
                                                    <ng-select (change)="getVoyageList($event)"
                                                        [ngClass]="{'invalid': submitted && f.VESSEL_NAME.errors}"
                                                        formControlName="VESSEL_NAME" style="margin-top: 10px;">
                                                        <ng-option value="" selected="true" disabled>
                                                            --Select Vessel Name--</ng-option>
                                                        <ng-option *ngFor="let item of vesselList"
                                                            value="{{item.CODE}}">
                                                            {{item.CODE_DESC}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="submitted && f.VESSEL_NAME.errors"
                                                        class="invalid-feedback">Vessel Name is required
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <label class="form-label2">{{'Header.VoyageNo'|translate}}<span
                                                            class="text-danger">*</span></label>
                                                    <ng-select [ngClass]="{'invalid': submitted && f.VOYAGE_NO.errors}"
                                                        formControlName="VOYAGE_NO" style="margin-top: 10px;">
                                                        <ng-option value="" selected="true" disabled>
                                                            --Select Voyage No.--</ng-option>
                                                        <ng-option *ngFor="let item of voyageList"
                                                            value="{{item.CODE}}">
                                                            {{item.CODE_DESC}}
                                                        </ng-option>
                                                    </ng-select>
                                                    <div *ngIf="submitted && f.VOYAGE_NO.errors"
                                                        class="invalid-feedback">Voyage No is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <input type="text"
                                                        [ngClass]="{'invalid':submitted && f2.MOTHER_VESSEL_NAME.errors}"
                                                        formControlName="MOTHER_VESSEL_NAME" class="form-control">
                                                    <label
                                                        class="form-label">{{'Header.MotherVesselName'|translate}}<span
                                                            class="text-danger">*</span></label>
                                                    <div *ngIf="submitted && f2.MOTHER_VESSEL_NAME.errors"
                                                        class="invalid-feedback">Please enter
                                                        Mother Vessel Name</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <input type="text"
                                                        [ngClass]="{'invalid':submitted && f2.MOTHER_VOYAGE_NO.errors}"
                                                        formControlName="MOTHER_VOYAGE_NO" class="form-control">
                                                    <label class="form-label">{{'Header.MotherVoyageNo'|translate}}<span
                                                            class="text-danger">*</span></label>
                                                    <div *ngIf="submitted && f2.MOTHER_VOYAGE_NO.errors"
                                                        class="invalid-feedback">Please enter
                                                        Mother Voyage number</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="vertical">
                                            <div [class]="isScroll ? 'scrollbarRollOver' : ''" id="style-3">
                                                <div [class]="isScroll ? 'force-overflow' : ''">
                                                    <table class="table">

                                                        <tbody>
                                                            <tr *ngFor="let item of f;let j = index;"
                                                                [formGroup]="f1(item)">
                                                                <td class="col-md-2 text-end">
                                                                    <label class="mt-4"> {{j+1}}</label>
                                                                </td>
                                                                <td class="col-md">
                                                                    <label
                                                                        class="form-label3">{{'Header.slotOperator'|translate}}</label>
                                                                    <select class="form-control3"
                                                                        formControlName="SLOT_OPERATOR">
                                                                        <option value="" selected disabled>
                                                                            --Slot
                                                                            Operator--</option>
                                                                        <option value="xx">test</option>
                                                                    </select>
                                                                </td>
                                                                <td class="col-md">
                                                                    <label
                                                                        class="form-label3">{{'Header.noOfSlots'|translate}}</label>
                                                                    <input class="form-control3"
                                                                        formControlName="NO_OF_SLOTS" type="text" />
                                                                </td>
                                                                <td class="col-md-1 text-right"><i
                                                                        style="font-size: 15px;"
                                                                        class="fa fa-trash mt-4"
                                                                        (click)="removeItem(j)"></i></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
                <hr>
                <div class="row  mt-4">
                    <div class="col-md-6 offset-md-6 text-end">
                        <button type="button" class="form-btn" (click)="cancelBooking()"
                            style="margin-right: 6px;">{{'Button.clear'|translate}}</button>
                        <button type="button" class="form-btn" (click)="splitBooking()"
                            style="margin-right: 6px;">{{'Header.title2'|translate}}</button>
                    </div>

                </div>

            </div>

        </div>
    </section> 
</div>
<div class="modal fade" #voyageModal id="voyageModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Voyage Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn3></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="voyageForm">
                    <div class="row my-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted3 && f6.VESSEL_NAME.errors}"
                                    formControlName="VESSEL_NAME">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of vesselList1" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Vessel <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.VESSEL_NAME.errors" class="invalid-feedback">Please select
                                    Vessel</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted3 && f6.VOYAGE_NO.errors}"
                                    maxlength="100" formControlName="VOYAGE_NO" class="form-control">
                                <label class="form-label">Voyage No <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.VOYAGE_NO.errors" class="invalid-feedback">
                                    Voyage No is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false"
                                    [ngClass]="{'invalid': submitted3 && f6.ATA.errors}" formControlName="ATA"
                                    class="form-control">
                                <label class="form-label">ATA <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.ATA.errors" class="invalid-feedback">
                                    ATA is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false"
                                    [ngClass]="{'invalid': submitted3 && f6.ATD.errors}" formControlName="ATD"
                                    class="form-control">
                                <label class="form-label">ATD <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.ATD.errors" class="invalid-feedback">
                                    ATD is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false"
                                    [ngClass]="{'invalid': submitted3 && f6.ETA.errors}" formControlName="ETA"
                                    class="form-control">
                                <label class="form-label">ETA <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.ETA.errors" class="invalid-feedback">
                                    ETA is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="date" onkeypress="return false"
                                    [ngClass]="{'invalid': submitted3 && f6.ETD.errors}" formControlName="ETD"
                                    class="form-control">
                                <label class="form-label">ETD <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.ETD.errors" class="invalid-feedback">
                                    ETD is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted3 && f6.IMM_CURR.errors}"
                                    formControlName="IMM_CURR">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of currencyList"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Import Currency <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.IMM_CURR.errors" class="invalid-feedback">Please select
                                    Vessel</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted3 && f6.IMM_CURR_RATE.errors}"
                                    maxlength="100" formControlName="IMM_CURR_RATE" class="form-control">
                                <label class="form-label">Import Currency Rate <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.IMM_CURR_RATE.errors" class="invalid-feedback">
                                    Import Currency Rate is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted3 && f6.EXP_CURR.errors}"
                                    formControlName="EXP_CURR">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of currencyList1"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Export Currency <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.EXP_CURR.errors" class="invalid-feedback">Please select
                                    Export Currency</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted3 && f6.EXP_CURR_RATE.errors}"
                                    maxlength="100" formControlName="EXP_CURR_RATE" class="form-control">
                                <label class="form-label">Export Currency Rate <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.EXP_CURR_RATE.errors" class="invalid-feedback">
                                    Export Currency Rate is required</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted3 && f6.TERMINAL_CODE.errors}"
                                    formControlName="TERMINAL_CODE">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option value="INMUN1">INMUN1
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Terminal <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.TERMINAL_CODE.errors" class="invalid-feedback">Please
                                    select
                                    Terminal</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select (change)="getServiceName1($event)"
                                    [ngClass]="{'invalid': submitted3 && f6.PORT_CODE.errors}"
                                    formControlName="PORT_CODE">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of portList" value="{{item.CODE}}">{{item.CODE_DESC}}
                                        ({{item.CODE}})
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Port<span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.PORT_CODE.errors" class="invalid-feedback">Please select
                                    Port</div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-3">
                            <div class="form-group">
                                <ng-select [ngClass]="{'invalid': submitted3 && f6.SERVICE_NAME.errors}"
                                    formControlName="SERVICE_NAME">
                                    <ng-option value="" selected="true" disabled>--Select--</ng-option>
                                    <ng-option *ngFor="let item of servicenameList1"
                                        value="{{item.CODE}}">{{item.CODE_DESC}}
                                    </ng-option>
                                </ng-select>
                                <label class="form-label-ddl">Service <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.SERVICE_NAME.errors" class="invalid-feedback">Please select
                                    Service</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" [ngClass]="{'invalid': submitted3 && f6.VIA_NO.errors}"
                                    maxlength="100" formControlName="VIA_NO" class="form-control">
                                <label class="form-label">VIA No <span class="text-danger">
                                        *</span></label>
                                <div *ngIf="submitted3 && f6.VIA_NO.errors" class="invalid-feedback">
                                    VIA No is required</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="insertVoyage()" class="form-btn">Submit</button>
            </div>
        </div>
    </div>
</div>

 