<div class="section-title">
    <h2>{{'Header.title'|translate}}</h2>
</div>

<div class="container">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group" >
                    <input type="text" class="form-control" [(ngModel)]="bookingNo">
                    <label class="form-label">{{'Header.BookingNo'|translate}}</label>
                </div>
            </div>
            <div class="col-md-2">
                
                <button class="form-btn me-2" (click)="getBookingDetails()">{{'Header.GetDetails'|translate}}</button>
            </div>
            <div class="col-md-7 text-start" *ngIf="previewDetails">
                <div class="row">
                    <div class="col-md-6" > 
                        <h6>
                            {{'Header.BookingNo'|translate}} :
                            <small class="text-danger">{{booking.BOOKING_NO}}</small>
                        </h6>
                        <h6>
                           {{'Header.CustomerName'|translate}} :
                            <small class="text-danger">{{booking.CUSTOMER_NAME}}</small>
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <h6>
                            {{'Header.VesselName'|translate}}:
                            <small class="text-danger">{{booking.VESSEL_NAME}} - {{booking.VOYAGE_NO}}</small>
                        </h6>
                        <h6>
                            {{'Header.Pol'|translate}} :
                            <small class="text-danger">{{booking.POL}}</small>
                            {{'Header.Pod'|translate}}:
                            <small class="text-danger">{{booking.POD}}</small>
                        </h6>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="services" *ngIf="previewNoData">
        
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-5 mx-auto" *ngIf="!isRecords">
                        <h5 class="text-center">Sorry! No records found !!</h5>
                        <img src="./../../../assets/img/doimg.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
    
    </section>

    <section class="services" *ngIf="previewDetails">
        <div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="modal-title" id="exampleModalLabel">{{'Header.BookingDetails'|translate}}</h5>
                    </div>

                </div>
                <hr>
                <div class="row mt-4">
                    <form [formGroup]="splitBookingForm">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-6 offset-md-6 text-end mb-1">

                                    <button (click)="slotAllocation()" class="form-btn">
                                        <i class="fa fa-plus me-2"></i>{{'Header.slotAllocation'|translate}}</button>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <input type="text" [ngClass]="{'invalid':submitted && f2.VESSEL_NAME.errors}" formControlName="VESSEL_NAME"
                                                        class="form-control">
                                                    <label class="form-label">{{'Header.VesselName'|translate}} <span class="text-danger">*</span></label>
                                                    <div *ngIf="submitted && f2.VESSEL_NAME.errors" class="invalid-feedback">Please enter
                                                        Vessel name</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <input type="text" [ngClass]="{'invalid':submitted && f2.VOYAGE_NO.errors}"  formControlName="VOYAGE_NO"
                                                    class="form-control">
                                                    <label class="form-label"> {{'Header.VoyageNo'|translate}}<span class="text-danger">*</span></label>
                                                    <div *ngIf="submitted && f2.VOYAGE_NO.errors" class="invalid-feedback">
                                                        Please Enter Voyage number
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <input type="text" [ngClass]="{'invalid':submitted && f2.MOTHER_VESSEL_NAME.errors}" formControlName="MOTHER_VESSEL_NAME"
                                                    class="form-control">
                                                    <label class="form-label">{{'Header.MotherVesselName'|translate}}<span class="text-danger">*</span></label>
                                                    <div *ngIf="submitted && f2.MOTHER_VESSEL_NAME.errors"
                                                        class="invalid-feedback">Please enter
                                                        Mother Vessel Name</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-group">
                                                    <input type="text"[ngClass]="{'invalid':submitted && f2.MOTHER_VOYAGE_NO.errors}" formControlName="MOTHER_VOYAGE_NO"
                                                    class="form-control">
                                                    <label class="form-label">{{'Header.MotherVoyageNo'|translate}}<span class="text-danger">*</span></label>
                                                    <div *ngIf="submitted && f2.MOTHER_VOYAGE_NO.errors"
                                                        class="invalid-feedback">Please enter
                                                        Mother Voyage number</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="vertical">
                                            <div [class]="isScroll ? 'scrollbarRollOver' : ''" id="style-3">
                                                <div [class]="isScroll ? 'force-overflow' : ''">
                                                    <table class="table">

                                                        <tbody>
                                                            <tr *ngFor="let item of f;let j = index;"
                                                                [formGroup]="f1(item)">
                                                                <td class="col-md-2 text-end">
                                                                    <label class="mt-4"> {{j+1}}</label>
                                                                </td>
                                                                <td class="col-md">
                                                                    <label class="form-label3">{{'Header.slotOperator'|translate}}</label>
                                                                    <select class="form-control3"
                                                                        formControlName="SLOT_OPERATOR">
                                                                        <option value="" selected disabled>
                                                                            --Slot
                                                                            Operator--</option>
                                                                        <option value="xx">test</option>
                                                                    </select>
                                                                </td>
                                                                <td class="col-md">
                                                                    <label class="form-label3">{{'Header.noOfSlots'|translate}}</label>
                                                                    <input class="form-control3"
                                                                        formControlName="NO_OF_SLOTS" type="text" />
                                                                </td>
                                                                <td class="col-md-1 text-right"><i style="font-size: 15px;"
                                                                    class="fa fa-trash mt-4" (click)="removeItem(j)" ></i></td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
                <hr>
                <div class="row  mt-4">
                    <div class="col-md-6 offset-md-6 text-end">
                        <button type="button" class="form-btn" (click)="cancelBooking()"
                            style="margin-right: 6px;">{{'Button.clear'|translate}}</button>
                        <button type="button" class="form-btn" (click)="splitBooking()"
                            style="margin-right: 6px;">{{'Header.title2'|translate}}</button>
                    </div>

                </div>

            </div>

        </div>
    </section>

</div>