<div class="section-title">
  <h2>Party Master</h2>
</div>
<div class="container mb-4">
  <form [formGroup]="partyForm">
    <div class="col-md-8 mx-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label2">Name</label>
            <input type="text" id="name" formControlName="CUST_NAME" class="form-control2">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label2">Address</label>
            <textarea type="text"  id="address" formControlName="CUST_ADDRESS" class="form-control2"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label2">Customer Email</label>
            <input type="text" id="CustomerEmail" formControlName="CUST_EMAIL" class="form-control2">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label2">GST IN</label>
            <input type="text"  id="gstin" formControlName="GSTIN" class="form-control2">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label2">Type <span class="text-danger"> *</span></label>
            <select formControlName="CUST_TYPE" class="form-control2">
              <option value="" selected="true" disabled>--Select--</option>
              <option value="Shipper">Shipper</option>
              <option value="Consignee">Consignee</option>
              <option value="forwarder">forwarder</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label2">Status <span class="text-danger"> *</span></label>
            <select class="form-control2" formControlName="STATUS">
              <option value="" selected="true" disabled>--Select--</option>
              <option value="true">Active</option>
              <option value="false">InActive</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-2 offset-md-10" style="text-align: right;">
          <button (click)="saveParty()" class="form-btn w-100">Save</button>
        </div>
      </div>
    </div>
  </form>

 <div class="col-md-10 mx-auto">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr. No</th>
        <th>Name</th>
        <th>Type</th>
        <th>Email</th>
        <th>Address</th>
        <th>GST</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of partyList; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.CUST_NAME}}</td>
        <td>{{item.CUST_TYPE}}</td>
        <td>{{item.CUST_EMAIL}}</td>
        <td>{{item.CUST_ADDRESS}}</td>
        <td>{{item.GSTIN}}</td>
        <td><a (click)="getPartyDetails()"><i class="fa fa-pencil mx-2"></i></a><a (click)="deleteParty()"><i class="fa fa-trash ms-2"></i></a></td>
      </tr>
    </tbody>
  </table>

 </div>
</div>