<div class="section-title pt-3">
    <h2>Rate Request Details</h2>
</div>
<a routerLink="/pm/srr-list"><i class='bx bx-arrow-back'></i>Back to List</a>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <label class="label-header">SRR No</label>
                <label class="label-subheader">{{quotationDetails?.SRR_NO}}</label>
            </div>
            <div class="col-md-3">
                <label class="label-header">Port of Loading</label>
                <label class="label-subheader">{{quotationDetails?.POL}}</label>
            </div>
            <div class="col-md-3">
                <label class="label-header">Port of Discharge</label>
                <label class="label-subheader">{{quotationDetails?.POD}}</label>
            </div>
            <div class="col-md-3">
                <label class="label-header">Final Destination</label>
                <label class="label-subheader">{{quotationDetails?.FINAL_DESTINATION}}</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label class="label-header">Customer</label>
                <label class="label-subheader">{{quotationDetails?.CUSTOMER_NAME}}</label>
            </div>
            <div class="col-md-3">
                <label class="label-header">Service</label>
                <label class="label-subheader">{{quotationDetails?.SERVICE_NAME}}</label>
            </div>
            <div class="col-md-3">
                <label class="label-header">Rate Requested Date</label>
                <label class="label-subheader">{{quotationDetails?.CREATED_DATE |
                    date:'mediumDate'}}</label>
            </div>
            <div class="col-md-3">
                <label class="label-header">Rate Validity</label>
                <label *ngIf="!quotationDetails?.IS_VESSELVALIDITY"
                    class="label-subheader">{{quotationDetails?.EFFECT_FROM |
                    date:'mediumDate'}} - {{quotationDetails?.EFFECT_TO |
                    date:'mediumDate'}}</label>
                <label *ngIf="quotationDetails?.IS_VESSELVALIDITY"
                    class="label-subheader">{{quotationDetails?.CREATED_DATE |
                    date:'mediumDate'}} - {{quotationDetails?.ETA |
                    date:'mediumDate'}}</label>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label class="label-header">Commodity(s)</label>
                <ul [ngClass]="{'scroll-list' : commodityDetails?.length > 3}">
                    <li *ngFor="let element of commodityDetails">{{element.COMMODITY_NAME}} -
                        {{element.COMMODITY_TYPE}} ( {{element.WEIGHT}}{{element.WEIGHT_UNIT}} )</li>
                </ul>
            </div>
            <div class="col-md-3">
                <label class="label-header">Status</label>
                <label><span style="font-size: 10px;"
                        [class]="quotationDetails?.STATUS == 'Approved' ? 'badge rounded-pill bg-success me-2' : quotationDetails?.STATUS == 'Requested' ? 'badge rounded-pill bg-warning me-2': quotationDetails?.STATUS == 'Countered' ? 'badge rounded-pill bg-info me-2' : 'badge rounded-pill bg-danger me-2'">{{quotationDetails?.STATUS}}</span></label>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="col-md-12" style="font-size: 14px" *ngFor="let item1 of quotationDetails?.SRR_CONTAINERS">
    <div class="row">
        <div class="col-md-10">
            <h6 style="font-weight: 600;">
                Container : <small class="text-dark me-2">{{item1.CONTAINERS}}</small>
                Service Mode : <small class="text-dark me-2">{{item1.SERVICE_MODE}}</small>
                Status : <small
                    [class]="item1.STATUS == 'Requested' ? 'text-warning me-2' : item1.STATUS == 'Approved' ? 'text-success me-2':  item1.STATUS == 'Rejected' ? 'text-danger me-2': 'text-info me-2'">
                    {{item1.STATUS == 'Requested' ? item1.STATUS :
                    item1.STATUS + ' by ' + item1.CREATED_BY}}</small>
            </h6>

        </div>
        <div class="col-md-2">
            <button class="form-btn text-end" (click)="letsCalculate()">
                SRR Calculator
            </button>
            <button #openScBtn data-bs-toggle="modal" href="#srrCalculateModal" class="form-btn d-none">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="accordion mt-3" id="accordion" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="heading-1">
                        <h6 class="mb-0">
                            <a data-bs-toggle="collapse" href="#collapse-1" aria-expanded="false"
                                aria-controls="collapse-1" data-abc="true" class="collapsed">
                                <span class="fw-bolder">Freight Charges</span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1"
                        data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th width="25%">Charge Code</th>
                                            <th width="15%">Payment</th>
                                            <th width="15%">Cost</th>
                                            <th width="15%">Requested (Income)</th>
                                            <th width="15%">Countered</th>
                                            <th width="19%">Remarks</th>
                                            <th width="1%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of f1;let i = index" [formGroup]="item">
                                            <td width="25%">{{item.value.CHARGE_CODE}}</td>
                                            <td width="15%">{{item.value.PAYMENT_TERM}} ({{item.value.TRANSPORT_TYPE}})
                                            </td>
                                            <td width="15%">{{item.value.CURRENCY}} {{item.value.STANDARD_RATE}}</td>
                                            <td width="15%">{{item.value.CURRENCY}} {{item.value.RATE_REQUESTED}}</td>
                                            <td width="15%"><input class="form-control3" formControlName="APPROVED_RATE"
                                                    type="text" />
                                            </td>
                                            <td width="19%"><textarea class="form-control3" formControlName="REMARKS"
                                                    type="text"></textarea></td>
                                            <td width="1%"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 *ngIf="f1?.length == 0" class="text-center">No
                                    Records !</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading-4">
                        <h6 class="mb-0">
                            <a data-bs-toggle="collapse" href="#collapse-4" aria-expanded="false"
                                aria-controls="collapse-4" data-abc="true" class="collapsed">
                                <span class="fw-bolder">POL Charges</span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-4" class="collapse" role="tabpanel" aria-labelledby="heading-4"
                        data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th width="25%">Charge Code</th>
                                            <th width="15%">Payment</th>
                                            <th width="10%">Cost</th>
                                            <th width="10%">Income</th>
                                            <th width="10%">Requested</th>
                                            <th width="15%">Countered</th>
                                            <th width="19%">Remarks</th>
                                            <th width="1%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of f4;let i = index" [formGroup]="item">
                                            <td width="25%">{{item.value.CHARGE_CODE}}</td>
                                            <td width="15%">{{item.value.PAYMENT_TERM}} ({{item.value.TRANSPORT_TYPE}})
                                            </td>
                                            <td width="10%">{{item.value.CURRENCY}} {{item.value.COST}}</td>
                                            <td width="10%">{{item.value.CURRENCY}} {{item.value.STANDARD_RATE}}</td>
                                            <td width="10%">{{item.value.CURRENCY}} {{item.value.RATE_REQUESTED}}</td>
                                            <td width="15%"><input class="form-control3" formControlName="APPROVED_RATE"
                                                    type="text" />
                                            </td>
                                            <td width="19%"><textarea class="form-control3" formControlName="REMARKS"
                                                    type="text"></textarea></td>
                                            <td width="1%"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 *ngIf="f4?.length == 0" class="text-center">No
                                    Records !</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="heading-5">
                        <h6 class="mb-0">
                            <a data-bs-toggle="collapse" href="#collapse-5" aria-expanded="false"
                                aria-controls="collapse-5" data-abc="true" class="collapsed">
                                <span class="fw-bolder">POD Charges</span>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse-5" class="collapse" role="tabpanel" aria-labelledby="heading-5"
                        data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th width="25%">Charge Code</th>
                                            <th width="15%">Payment</th>
                                            <th width="10%">Cost</th>
                                            <th width="10%">Income</th>
                                            <th width="10%">Requested</th>
                                            <th width="15%">Countered</th>
                                            <th width="19%">Remarks</th>
                                            <th width="1%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of f5;let i = index" [formGroup]="item">
                                            <td width="25%">{{item.value.CHARGE_CODE}}</td>
                                            <td width="15%">{{item.value.PAYMENT_TERM}} ({{item.value.TRANSPORT_TYPE}})
                                            </td>
                                            <td width="10%">{{item.value.CURRENCY}} {{item.value.COST}}</td>
                                            <td width="10%">{{item.value.CURRENCY}} {{item.value.STANDARD_RATE}}</td>
                                            <td width="10%">{{item.value.CURRENCY}} {{item.value.RATE_REQUESTED}}</td>
                                            <td width="15%"><input class="form-control3" formControlName="APPROVED_RATE"
                                                    type="text" />
                                            </td>
                                            <td width="19%"><textarea class="form-control3" formControlName="REMARKS"
                                                    type="text"></textarea></td>
                                            <td width="1%"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h6 *ngIf="f5?.length == 0" class="text-center">No
                                    Records !</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2"
        *ngIf="item1.STATUS == 'Requested' || (item1.STATUS == 'Countered' && item1.CREATED_BY == 'Agent')">
        <div class="col-md-6 offset-md-6 text-end">
            <button type="button" (click)="updateRate(item1.CONTAINER_TYPE,'Approved')"
                class="form-btn-success btn-sm me-2">Approve</button>
            <button type="button" class="form-btn-danger btn-sm me-2"
                (click)="updateRate(item1.CONTAINER_TYPE,'Rejected')">Reject</button>
            <button type="button" class="form-btn-info btn-sm"
                (click)="updateRate(item1.CONTAINER_TYPE,'Countered')">Counter</button>
        </div>
    </div>
    <hr>
</div>

<div class="modal fade" id="srrCalculateModal" aria-labelledby="exampleModalLabel1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="exampleModalLabel1">SRR Calculator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeScBtn></button>
            </div>
            <div class="modal-body">
                <div class="col-md-5 fixed-top" style="margin-top: 7rem;margin-left:10rem">
                    <div class="services w-75">
                        <div class="icon-box text-start">
                            <div class="row">
                                <div class="col-6">
                                    <h6>Total Income : </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="text-danger">USD {{TotalIncome()}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h6>Total Expense : </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="text-danger">USD {{TotalExpense()}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h6>PNL : </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="text-info">USD {{TotalIncome() - TotalExpense() | number : '1.0-2'}}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <h6>Laden Back : </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="text-danger">USD {{calcForm.value.LADEN_BACK_COST}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h6>PNL : </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="text-info">USD {{TotalIncome() - TotalExpense() -
                                        calcForm.value.LADEN_BACK_COST | number : '1.0-2'}}</h6>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <h6>Empty Back : </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="text-danger">USD {{calcForm.value.EMPTY_BACK_COST | number : '1.0-2'}}
                                    </h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h6>PNL : </h6>
                                </div>
                                <div class="col-6">
                                    <h6 class="text-info">USD {{TotalIncome() - TotalExpense() -
                                        calcForm.value.LADEN_BACK_COST -
                                        calcForm.value.EMPTY_BACK_COST | number : '1.0-2'}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 offset-md-5">
                    <div class="row mt-2">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label2">Containers</label>
                                <select class="form-control2" (change)="onchangeContainer($event)"
                                    [(ngModel)]="container">
                                    <option value="">--Select--</option>
                                    <option *ngFor="let cont of quotationDetails?.SRR_CONTAINERS"
                                        value="{{cont.CONTAINERS}}">
                                        {{cont.CONTAINERS}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-9 mt-4">
                            <h6 style="font-weight:600">POL : <small class="text-danger">
                                    {{quotationDetails?.POL}}</small>
                                POD :
                                <small class="text-danger">{{quotationDetails?.POD}}</small>
                            </h6>
                            <h6 style="font-weight:600">Exchange Rates :
                                <small class="text-danger">USD : {{usdRate}}</small> |
                                <small class="text-danger">{{excRates1?.CURRENCY_CODE}} : {{polRate}}</small> |
                                <small class="text-danger">{{excRates2?.CURRENCY_CODE}} : {{podRate}}</small>
                            </h6>
                        </div>
                    </div>
                    <div class="col-md-12" [formGroup]="calcForm">
                        <div class="accordion mt-3" id="accordion2" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="heading-7">
                                    <h6 class="mb-0" style="font-weight: 600;">
                                        <a data-bs-toggle="collapse" href="#collapse-7" aria-expanded="false"
                                            aria-controls="collapse-7" data-abc="true" class="collapsed">
                                            <span class="fw-bold">Freight Charges</span>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapse-7" class="collapse show" role="tabpanel" aria-labelledby="heading-7"
                                    data-bs-parent="#accordion2">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <table class="table" *ngIf="f0?.length > 0" style="font-size: 12px;">
                                                <thead>
                                                    <tr>
                                                        <th width="15%">No</th>
                                                        <th width="35%">Charge Code</th>
                                                        <th width="25%">Cost</th>
                                                        <th width="25%">Requested (Income)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of f0;let i = index" [formGroup]="item">
                                                        <td width="15%">{{i + 1}}</td>
                                                        <td width="35%">{{item.value.CHARGE_CODE}}</td>
                                                        <td width="25%">{{item.value.CURRENCY}}
                                                            {{item.value.STANDARD_RATE}}
                                                        </td>
                                                        <td width="25%"><input type="text" class="form-control2"
                                                                (keypress)="numericOnly($event)"
                                                                formControlName="RATE_REQUESTED" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h6 *ngIf="f0?.length == 0" class="text-center">No Records !</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="heading-8">
                                    <h6 class="mb-0">
                                        <a data-bs-toggle="collapse" href="#collapse-8" aria-expanded="false"
                                            aria-controls="collapse-8" data-abc="true" class="collapsed">
                                            <span class="fw-bold">POL Charges</span>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapse-8" class="collapse" role="tabpanel" aria-labelledby="heading-8"
                                    data-bs-parent="#accordion2">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <table class="table" style="font-size: 12px;">
                                                <thead>
                                                    <tr>
                                                        <th width="15%">No</th>
                                                        <th width="35%">Charge Code</th>
                                                        <th width="15%">Cost</th>
                                                        <th width="15%">Income</th>
                                                        <th width="20%">Requested</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of f2; let j=index" [formGroup]="item">
                                                        <td width="15%">{{j + 1}}</td>
                                                        <td width="35%">{{item.value.CHARGE_CODE}}</td>
                                                        <td width="15%">{{item.value.CURRENCY}} {{item.value.COST}}
                                                        </td>
                                                        <td width="15%">{{item.value.CURRENCY}}
                                                            {{item.value.STANDARD_RATE}}
                                                        </td>
                                                        <td width="20%"><input type="text" class="form-control2"
                                                                (keypress)="numericOnly($event)"
                                                                formControlName="RATE_REQUESTED" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="heading-9">
                                    <h6 class="mb-0">
                                        <a data-bs-toggle="collapse" href="#collapse-9" aria-expanded="false"
                                            aria-controls="collapse-9" data-abc="true" class="collapsed">
                                            <span class="fw-bold">POD Charges</span>
                                        </a>
                                    </h6>
                                </div>
                                <div id="collapse-9" class="collapse" role="tabpanel" aria-labelledby="heading-9"
                                    data-bs-parent="#accordion2">
                                    <div class="card-body">
                                        <div class="col-md-12">
                                            <table class="table" style="font-size: 12px;">
                                                <thead>
                                                    <tr>
                                                        <th width="15%">No</th>
                                                        <th width="35%">Charge Code</th>
                                                        <th width="15%">Cost</th>
                                                        <th width="15%">Income</th>
                                                        <th width="20%">Requested</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of f3;let i = index" [formGroup]="item">
                                                        <td width="15%">{{i + 1}}</td>
                                                        <td width="35%">{{item.value.CHARGE_CODE}}</td>
                                                        <td width="15%">{{item.value.CURRENCY}} {{item.value.COST}}
                                                        </td>
                                                        <td width="15%">{{item.value.CURRENCY}}
                                                            {{item.value.STANDARD_RATE}}
                                                        </td>
                                                        <td width="20%"><input type="text" maxlength="15"
                                                                class="form-control2" (keypress)="numericOnly($event)"
                                                                formControlName="RATE_REQUESTED" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="modal-footer">
                
            </div> -->
        </div>
    </div>
</div>