<div class="section-title pt-3">
    <h2>BL List</h2>
</div>
<div class="mt-3" [formGroup]="filterForm">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="form-label2">CRO No</label>
                <input formControlName="CRO_NO" type="text" class="form-control2">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="form-label2">From Date</label>
                <input formControlName="FROM_DATE" type="date" class="form-control2">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="form-label2">To Date</label>
                <input formControlName="TO_DATE" type="date" class="form-control2">
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <button class="form-btn me-2" (click)="Search()">Search</button>
            <button class="form-btn" (click)="Clear()">Clear</button>
        </div>
    </div>
</div>
<div class="mt-3">
    <table class="ratetable table-striped table-bordered" id="data-table-config">
        <thead>
            <tr>
                <th width="1%">&nbsp;</th>
                <th width="10%">BL No</th>
                <th width="10%">Port</th>
                <th width="10%">Shipper</th>
                <th width="10%">Consignee</th>
                <th width="10%">Vessel</th>
                <th width="10%">Containers</th>
                <th width="10%">Commodity</th>
                <th width="10%">Status</th>
                <th width="10%">Created</th>
                <th width="9%">Agent</th>
            </tr>
        </thead>
        <tbody>
            <tr class="alert" role="alert" *ngFor="let item of blList;let i = index">
                <td width="1%">
                    {{i + 1}}
                </td>
                <td width="10%">
                    {{item.BL_NO}}
                </td>
                <td width="10%">{{item.PORT_OF_LOADING}} - {{item.PORT_OF_DISCHARGE}}</td>
                <td width="10%">{{item.SHIPPER}}</td>
                <td width="10%">{{item.CONSIGNEE}}</td>
                <td width="10%">{{item.VESSEL_NAME}} {{item.VOYAGE_NO}}</td>
                <td width="10%">{{item.CONTAINERS}}</td>
                <td width="10%">{{item.COMMODITY}}</td>
                <td width="10%" class="status"><span
                        [class]="item.BL_STATUS == 'Draft' ? 'waiting' : item.BL_STATUS == 'Finalized' ? 'active' : 'rejected'">{{item.BL_STATUS}}</span>

                </td>
                <td width="10%">{{item.BL_ISSUE_DATE | date:'mediumDate'}}</td>
                <td width="9%">{{item.CREATED_BY}}</td>
            </tr>
        </tbody>
    </table>
</div>